<div class="attendance-today-summary-page">
<div class="grid-row">
  <div class="grid-row col-md-6">
    <div class="card col-md-6 mx-sm">
      <div class="display-flex flex-align-items-center">
        <app-circular-icon [config]="{iconName: 'far fa-user-check', color: 'primary'}"></app-circular-icon>
        <div class="ml-sm">
          <div>
            {{'MOD_ATTENDANCE.MOD_ADMIN_ATTENDANCE.TOTAL_EMPLOYEES_LABEL' | translate}}
          </div>
          <div class="summary-data">{{todaySummary?.employees}}</div>
        </div>
      </div>
    </div>
    <div class="card col-md-6 mx-sm">
      <div class="display-flex flex-align-items-center">
        <app-circular-icon [config]="{iconName: 'far fa-user-check', color: 'primary'}"></app-circular-icon>
        <div class="ml-sm">
          <div>
            {{'MOD_ATTENDANCE.MOD_ADMIN_ATTENDANCE.PRESENT_EMPLOYEES_LABEL' | translate}}
          </div>
          <div class="summary-data">{{todaySummary?.present}}</div>
        </div>
      </div>
    </div>
    <div class="card col-md-6 mx-sm">
      <div class="display-flex flex-align-items-center ">
        <app-circular-icon [config]="{iconName: 'far fa-users-slash', color: 'primary'}"></app-circular-icon>
        <div class="ml-sm">
          <div>
            {{'MOD_ATTENDANCE.MOD_ADMIN_ATTENDANCE.LEAVE_EMPLOYEES_LABEL' | translate}}
          </div>
          <div class="summary-data">{{todaySummary?.leaves}}</div>
        </div>
      </div>
    </div>
    <div class="card col-md-6 mx-sm">
      <div class="display-flex flex-align-items-center">
        <app-circular-icon [config]="{iconName: 'far fa-user-times', color: 'primary'}"></app-circular-icon>
        <div class="ml-sm">
          <div>
            {{'MOD_ATTENDANCE.MOD_ADMIN_ATTENDANCE.ABSENT_EMPLOYEES_LABEL' | translate}}
          </div>
          <div class="summary-data">{{todaySummary?.absent}}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="grid-row col-md-6">
    <div class="card col-md-6 display-flex flex-direction-column flex-align-items-center mx-sm">
      <div class="font-weight-bold">
        {{'MOD_ATTENDANCE.MOD_ADMIN_ATTENDANCE.ON_TIME_LOGIN_LABEL' | translate}}
      </div>
      <app-doughnut-chart [fillValue]="getChartData('on_time_login')"
                          [color]="'info'"
                          value="{{todaySummary?.on_time_login}}">
      </app-doughnut-chart>
    </div>
    <div class="card col-md-6 display-flex flex-direction-column flex-align-items-center mx-sm">
      <div class="font-weight-bold">
        {{'MOD_ATTENDANCE.MOD_ADMIN_ATTENDANCE.LATE_LOGIN_LABEL' | translate}}
      </div>
      <app-doughnut-chart [fillValue]="getChartData('late_login')"
                          [color]="'warning'"
                          value="{{todaySummary?.late_login}}">
      </app-doughnut-chart>
    </div>
  </div>
</div>
</div>
