<div class="page-employee-info">
  <!--  Page header  -->
  <div class="page-header with-border">
    <div class="page-header-left">
      <h4 class="page-header-title">{{'MOD_EMPLOYEES.MOD_VIEW_DETAIL_EMPLOYEE.TITLE'| translate}}</h4>
    </div>
  </div>
  <div class="grid-row">
    <!--  Tab list  -->
    <div class="col-md-3">
      <div class="card px-zero sticky-side-nav" *ngIf="model">
        <div class="display-flex flex-direction-column flex-align-items-center">
          <app-avatar [imageLink]="model?.avatar" [avatarClassName]="'avatar-s8 mb-sm'"
                      [username]="model?.name"></app-avatar>
          <span class="text-primary mb-xs">{{model?.code}}</span>
          <h4 class="capitalize mb-xs">{{model?.name}}</h4>
          <p class="text-muted mb-xs">
            {{model?.position }}
          </p>
          <app-pill [isCustomContent]="true" *ngIf="model" color="light">
            <i class="far fa-envelope-open mr-xs"></i><span>{{model?.email }}</span>
          </app-pill>
        </div>
        <hr>
        <div class="tab-container tab-line tab-vertical tab-primary">
          <ng-container *ngFor="let item of componentsList">
            <a class="tab-item" [routerLink]="item.link" routerLinkActive="active">
              <i [class]="item.icons" class="font-icon"></i>
              <span>{{item.name}}</span>
            </a>
          </ng-container>
        </div>
      </div>
    </div>

    <!--  Child Route  -->
    <div class="col-md-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
