<div class="employee-additional-info">
  <div class="title-with-button mb-lg">
    <h4 class="text-primary mb-zero">
      {{'MOD_EMPLOYEES.MOD_VIEW_DETAIL_EMPLOYEE.EMPLOYEE_BANKS.PAGE_TITLE' | translate}}
    </h4>

  </div>
  <!--    bank data-->
  <div class="grid-row" *ngIf="bankModel; else empty_state">
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
      <div class="info-card">
        <div class="rep-icons">
          <app-circular-icon [config]="{iconName: 'far fa-piggy-bank' , color: 'primary'}"></app-circular-icon>
        </div>
        <h5 class="mb-xs ml-xs mt-sm">{{bankModel?.name | translate}}</h5>
        <p class="highlight-text ml-xs mb-xs">{{bankModel?.branch}}</p>
        <p class="ml-xs mb-xs text-muted">{{bankModel.account_name}}</p>
        <p class="ml-xs mb-xs">
          <i class="far fa-money-check-edit highlight-text"></i>
          <span class="ml-xs">{{bankModel.account_number}}</span>
        </p>
      </div>
    </div>
  </div>
  <!--    empty state-->
  <ng-template #empty_state>
    <app-empty-state></app-empty-state>
  </ng-template>
</div>

