<!-- Avatar -->
<div class="card" id="avatar">
  <div class="card-header with-border">
    <h4 class="title">Avatar</h4>
  </div>
  <div class="card-body">
    <div class="card elevation-flat mb-lg">
      <div class="card-header with-border">
        <div class="title">Avatar Default</div>
      </div>
      <div class="card-body">
        <ul class="list-group">
          <li class="list-item">
            <div class="grid-row py-md flex-align-items-center">
              <div class="col-8">
                <pre>default</pre>
              </div>
              <div class="col-4 text-align-center">
                <app-avatar [username]="tableData[0].name"></app-avatar>
              </div>
            </div>
          </li>
          <li class="list-item">
            <div class="grid-row py-md flex-align-items-center">
              <div class="col-8">
                <pre>@Input() avatarClassName="avatar-s4"</pre>
              </div>
              <div class="col-4 text-align-center">
                <app-avatar [avatarClassName]="'avatar-s4'" [username]="tableData[1].name"></app-avatar>
              </div>
            </div>
          </li>
          <li class="list-item">
            <div class="grid-row py-md flex-align-items-center">
              <div class="col-8">
                <pre>@Input() avatarClassName="avatar-s6"</pre>
              </div>
              <div class="col-4 text-align-center">
                <app-avatar [avatarClassName]="'avatar-s6'" [username]="tableData[2].name"></app-avatar>
              </div>
            </div>
          </li>
          <li class="list-item">
            <div class="grid-row py-md flex-align-items-center">
              <div class="col-8">
                <pre>@Input() avatarClassName="avatar-s8"</pre>
              </div>
              <div class="col-4 text-align-center">
                <app-avatar [avatarClassName]="'avatar-s8'" [username]="tableData[3].name"></app-avatar>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="card elevation-flat">
      <div class="card-header with-border">
        <div class="title">Avatar Custom Border Radius</div>
      </div>
      <div class="card-body">
        <ul class="list-group">
          <li class="list-item">
            <div class="grid-row py-md flex-align-items-center">
              <div class="col-8">
                <pre>default</pre>
                <pre>borderRadius: 0.25rem</pre>
              </div>
              <div class="col-4 text-align-center">
                <app-avatar [avatarStyles]="{borderRadius: '0.25rem'}"
                            [username]="tableData[3].name"></app-avatar>
              </div>
            </div>
          </li>
          <li class="list-item">
            <div class="grid-row py-md flex-align-items-center">
              <div class="col-8">
                <pre>@Input() avatarClassName="avatar-s4"</pre>
                <pre>borderRadius: 0.5rem</pre>
              </div>
              <div class="col-4 text-align-center">
                <app-avatar [avatarClassName]="'avatar-s4'" [avatarStyles]="{borderRadius: '0.5rem'}"
                            [username]="tableData[4].name"></app-avatar>
              </div>
            </div>
          </li>
          <li class="list-item">
            <div class="grid-row py-md flex-align-items-center">
              <div class="col-8">
                <pre>@Input() avatarClassName="avatar-s6"</pre>
                <pre>borderRadius: 0.75rem</pre>
              </div>
              <div class="col-4 text-align-center">
                <app-avatar [avatarClassName]="'avatar-s6'" [avatarStyles]="{borderRadius: '0.75rem'}"
                            [username]="tableData[5].name"></app-avatar>
              </div>
            </div>
          </li>
          <li class="list-item">
            <div class="grid-row py-md flex-align-items-center">
              <div class="col-8">
                <pre>@Input() avatarClassName="avatar-s8"</pre>
                <pre>borderRadius: 1rem</pre>
              </div>
              <div class="col-4 text-align-center">
                <app-avatar [avatarClassName]="'avatar-s8'" [avatarStyles]="{borderRadius: '1rem'}"
                            [username]="tableData[6].name"></app-avatar>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
