<div class="attendance-summary-list-page">
  <app-search-nav
                  [searchPlaceholderText]="'MOD_EMPLOYEES.SEARCH_INPUT_PLACEHOLDER'"
                  (searchChange)="onSearchTextChange($event)"
                  (sortByChange)="onSortByChange($event)"
                  [sortByDropdownValues]="sortByDropdownValues"
                  [config]="searchNavConfig"
  >
  </app-search-nav>
  <div class="card" id="flexTable" *ngIf="todayAttendance">
    <!-- Flex Table -->
    <div class="flex-table flex-table--6cols no-border">
      <div class="flex-table-thead">
        <div class="flex-table-tr with-border">
          <div class="flex-table-th w-20">
            <span class="cell-data">
              {{'MOD_ATTENDANCE.MOD_ADMIN_ATTENDANCE.EMPLOYEES_LABEL' | translate}}
            </span>
          </div>
          <div class="flex-table-th w-20">
                <span
                  class="cell-data">
                  {{'MOD_ATTENDANCE.MOD_ADMIN_ATTENDANCE.POSITION_LABEL' | translate}}
                </span>
          </div>
          <div class="flex-table-th w-10">
              <span
                class="cell-data text-align-center">
                {{'MOD_ATTENDANCE.MOD_ADMIN_ATTENDANCE.WORK_TIME_LABEL' | translate}}
              </span>
          </div>
          <div class="flex-table-th w-10">
              <span
                class="cell-data text-align-center">
                {{'MOD_ATTENDANCE.MOD_ADMIN_ATTENDANCE.ATTENDANCE_LABEL' | translate}}
              </span>
          </div>
          <div class="flex-table-th w-40">
            <span class="cell-data">
              {{'MOD_ATTENDANCE.MOD_ADMIN_ATTENDANCE.WORKING_LABEL' | translate}}
            </span>
          </div>
        </div>
      </div>
      <div class="flex-table-tbody table-striped">
        <ng-container *ngFor="let attendance of todayAttendance">
          <div class="flex-table-tr tr-hover hover-background">
            <div class="flex-table-td w-20" id="data-row">
              <ng-container *ngIf="attendance?.name">
                <app-avatar [username]="attendance?.name" [imageLink]= "attendance?.avatar"></app-avatar>
              </ng-container>
              <span class="cell-data ml-xs">{{attendance?.name | titlecase}}</span>
            </div>
            <div class="flex-table-td w-20" >
              <span class="cell-data">{{attendance?.position }}</span>
            </div>
            <div class="flex-table-td w-10" >
              <span class="cell-data text-align-center">{{getLocalDateTimeValue(attendance?.employee_work_time )}}</span>
            </div>
            <div class="flex-table-td w-10">
              <span class="cell-data text-align-center">
                <app-pill [color]="getPresentAbsentPill(attendance.leave_in, attendance.check_in)?.color"
                          [label]="getPresentAbsentPill(attendance.leave_in, attendance.check_in)?.label"></app-pill>
              </span>
            </div>
            <div class="flex-table-td w-40">
                <span class="cell-data">
                    <app-progress-bar
                      [fillValue]="workHourToPercent(
                        attendance?.work_time,
                        attendance?.check_in,
                        attendance?.break_time,
                        attendance?.check_out
                        )"
                      [value] = "showTimeSpentHours"
                      [color] = "'accent'"
                      [startValue]="getEndPointValue(attendance?.check_in)"
                      [endValue]="getEndPointValue(attendance?.check_out)"
                      [attachLabel]="'hours'"
                    >
                    </app-progress-bar>
                </span>

            </div>

          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="my-md display-flex flex-justify-content-center">
    <ng-container *ngIf="todayAttendance">
      <nico-paginator
        [currentPage]="todayAttendance?.currentPage"
        [size]="todayAttendance?.total"
        [limit]="todayAttendance?.perPage"
        (pageChange)="onPageChange($event)"
        (perPageLimitChange)="onPageLimitChange($event)">
      </nico-paginator>
    </ng-container>
  </div>
</div>
