<div class="snackbar-alert {{'alert-'+data?.type}} {{data?.withSolidBackground ? 'solid-background' : ''}}">
  <div class="icon-container">
    <i class="fas fa-info-circle" *ngIf="data?.type === 'info' || !data.type"></i>
    <i class="fas fa-exclamation-circle" *ngIf="data?.type === 'warning' || data.type === 'danger'"></i>
    <i class="fas fa-check-circle" *ngIf="data?.type === 'success'"></i>
  </div>
  <div class="message-container">
    <h6 class="title" *ngIf="data?.title">{{data?.title}}</h6>
    <p class="message">
      {{data?.message}}
    </p>
  </div>
  <button class="icon-btn btn-sm close-btn icon-btn-circular btn-link-light" (click)="dismiss()">
    <i class="far fa-times"></i>
  </button>
</div>
