<div class="card">
  <div class="employee-additional-info">
    <div class="card-header mb-sm">
      <h5
        class="text-primary mb-zero">{{'MOD_EMPLOYEES.MOD_VIEW_DETAIL_EMPLOYEE.EMPLOYEE_DOCUMENTS.PAGE_TITLE' | translate}}</h5>
      <button class="btn btn-primary" (click)="onAddEditDocument()">
        <i
          class="font-icon far fa-plus icon-prefix"></i> {{'MOD_EMPLOYEES.MOD_VIEW_DETAIL_EMPLOYEE.EMPLOYEE_CONTACTS.ADD_NEW_BUTTON_LABEL' | translate}}
      </button>
    </div>
    <!--    document data-->
    <div class="grid-row" *ngIf="documentModel?.all().length > 0; else empty_state">
      <div class="col-xl-4 col-lg-6 col-md-6" *ngFor="let document of documentModel?.all()">
        <a [href]="document?.url" target="_blank">
          <div class="info-card h-100">
            <div class="doc-thumbnail">
              <img class="thumb-img" *ngIf="document?.thumbnail; else document_url" [src]="document?.thumbnail"
                   [alt]="document?.title" />
              <ng-template #document_url>
                <img class="thumb-img" *ngIf="document?.documentIcon === 'far fa-file-image'; else document_placeholder"
                [src]="document?.url" [alt]="document?.title" />
              </ng-template>
              <ng-template #document_placeholder>
                <div class="thumb-img with-background">
                  <i [class]="document.documentIcon"></i>
                </div>
              </ng-template>
            </div>
            <div class="doc-description">
              <div class="name-and-flymenu">
                <h6 class="text-primary mb-zero text-truncate">{{document?.title}}</h6>
                  <nico-action-fly-menu class="ml-auto"
                                        [options]="{showIconOnly: true}"
                                        [addOns]="getFlyMenuAdOns()"
                                        (action)="onFlyMenuAction($event, document)">
                  </nico-action-fly-menu>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    <ng-template #empty_state>
      <app-empty-state></app-empty-state>
    </ng-template>
  </div>
</div>

<ng-container *ngIf="documentModel?.all().length > 10">
  <nico-paginator class="display-flex flex-justify-content-center my-sm"
                  [currentPage]="documentModel.currentPage"
                  [size]="documentModel.total"
                  [limit]="documentModel.perPage"
                  (pageChange)="onPageChange($event)"
                  (perPageLimitChange)="onPageLimitChange($event)">
  </nico-paginator>
</ng-container>

