<!--Header-->
<div class="add-edit-allocated-leave-page">
  <div class="modal-header with-border">
      <app-circular-icon [config]="{iconName: 'far fa-calendar-minus', color:'primary'}"></app-circular-icon>
      <h5 class="modal-title">{{pageTitle}}</h5>
    <div class="drawer-close">
      <button class="icon-btn icon-btn-circular btn-link-light" mat-dialog-close>
        <i class="font-icon far fa-times"></i>
      </button>
    </div>
  </div>
  <!--  Form-->
  <form [formGroup]="allocatedLeaveForm" [id]="allocatedLeaveFormID" *ngIf="allocatedLeaveForm">
    <div class="modal-body">
      <div class="form-container">
        <div class="form-group" [class.has-error]="allocatedLeaveForm.controls['title'].touched && allocatedLeaveForm.controls['title'].errors?.required" >
          <label for="title" class="form-label">
            {{'MOD_ALLOCATED_LEAVE.MOD_ADD_EDIT_ALLOCATED_LEAVE.LEAVE_TITLE_LABEL'| translate}}
          </label>
          <input type="text" name="title" id="title" formControlName="title" class="form-control"
                 placeholder= "{{'MOD_ALLOCATED_LEAVE.MOD_ADD_EDIT_ALLOCATED_LEAVE.TITLE_PLACEHOLDER'| translate}}"/>
          <span class="nico-tooltip" *ngIf="allocatedLeaveForm.controls['title'].touched && allocatedLeaveForm.controls['title'].errors?.required" >
            {{'MOD_ALLOCATED_LEAVE.MOD_ADD_EDIT_ALLOCATED_LEAVE.LEAVE_TITLE_LABEL'| translate}}   {{'MOD_COMMON.IS_REQUIRED_LABEL' | translate}}
          </span>
        </div>

        <div class="form-group" [class.has-error]="allocatedLeaveForm.controls['days'].touched && (allocatedLeaveForm.controls['days'].errors?.required || allocatedLeaveForm.controls['days'].errors?.pattern)" >
          <label for="days" class="form-label">
            {{'MOD_ALLOCATED_LEAVE.MOD_ADD_EDIT_ALLOCATED_LEAVE.NUMBER_OF_DAYS_LABEL'| translate}}
          </label>
          <input type="number" name="days" id="days" formControlName="days" class="form-control"
                 placeholder=" {{'MOD_ALLOCATED_LEAVE.MOD_ADD_EDIT_ALLOCATED_LEAVE.DAYS_PLACEHOLDER'| translate}}"/>
          <span class="nico-tooltip" *ngIf="allocatedLeaveForm.controls['days'].touched && allocatedLeaveForm.controls['days'].errors?.required">
            {{'MOD_ALLOCATED_LEAVE.MOD_ADD_EDIT_ALLOCATED_LEAVE.DAY_LABEL'| translate}}{{'MOD_COMMON.IS_REQUIRED_LABEL' | translate}}
          </span>
          <span class="nico-tooltip" *ngIf="allocatedLeaveForm.controls['days'].touched && allocatedLeaveForm.controls['days'].errors?.pattern">
            {{'MOD_ALLOCATED_LEAVE.MOD_ADD_EDIT_ALLOCATED_LEAVE.DAYS_ERROR_LABEL'| translate}}
          </span>
        </div>
        <div class="form-group" [class.has-error]="allocatedLeaveForm.controls['type'].touched && allocatedLeaveForm.controls['type'].errors?.required" >
          <label for="type" class="form-label">{{'MOD_ALLOCATED_LEAVE.MOD_ADD_EDIT_ALLOCATED_LEAVE.LEAVE_TYPE_LABEL'| translate}}</label>
          <select name="type" id="type" formControlName="type" class="form-control select-form-control" >
            <option value="" disabled>
              {{'MOD_ALLOCATED_LEAVE.MOD_ADD_EDIT_ALLOCATED_LEAVE.SELECT_VALUE_LABEL'| translate}}
            </option>
            <option *ngFor = "let type of leaveType" [value]="type">{{type | titlecase}}</option>
          </select>
          <span class="nico-tooltip" *ngIf="allocatedLeaveForm.controls['type'].touched && allocatedLeaveForm.controls['type'].errors?.required">
               {{'MOD_ALLOCATED_LEAVE.MOD_ADD_EDIT_ALLOCATED_LEAVE.LEAVE_TYPE_LABEL'| translate}}{{'MOD_COMMON.IS_REQUIRED_LABEL' | translate}}
          </span>
        </div>

        <div class="form-group">
            <label for="current_fiscal_year" class="form-label">
              {{'MOD_ALLOCATED_LEAVE.MOD_ADD_EDIT_ALLOCATED_LEAVE.FISCAL_YEAR_LABEL'| translate}}
            </label>
            <select name="type" id="current_fiscal_year" formControlName="current_fiscal_year" class="form-control select-form-control" >
              <option *ngFor = "let year of fiscalYear" [value]="year.value">{{year.year}}</option>
            </select>
        </div>
      </div>
    </div>
  <!--      Footer-->
  <div class="modal-footer">
    <button class="btn btn-outline-light cancel-btn"
            mat-dialog-close> {{'MOD_EMPLOYEES.MOD_ADD_EDIT_EMPLOYEE.CANCEL_BUTTON_LABEL'| translate}}</button>
    <button class="btn btn-primary save" type="submit"  [disabled]="allocatedLeaveForm.invalid" (click)="onSubmitForm()">
      <span>{{'MOD_EMPLOYEES.MOD_ADD_EDIT_EMPLOYEE.SAVE_BUTTON_LABEL'| translate}}</span>
    </button>
  </div>
  </form>
</div>

