<div class="chart-legend">
  <h3 class="mb-zero">{{chartTitle}}</h3>
  <div class="legends">
    <div class="legend ml-md" *ngFor="let legend of chartLegend">
      <ng-container *ngIf="!legend.value">
      <div class="marker mr-xs" [style]="assignMarkerColor(legend)"></div>
      <p class="mb-zero">{{legend.title}}</p>
      </ng-container>
      <ng-container *ngIf="legend?.value">
        <div class="mr-xs" [style]="assignMarkerColor(legend)">{{legend.value}}</div>
        <span >{{legend.title}}</span>
      </ng-container>
    </div>
  </div>
</div>
