<ng-container *ngIf="isLeave; else punchInOut">
  <p class="info-well">{{'MOD_DASHBOARD.MOD_ATTENDANCE.MOD_PUNCH_IN_OUT.LEAVE_MESSAGE' | translate}}</p>
</ng-container>
<ng-template #punchInOut>
  <ng-container>
    <div class="punch-in-out">
      <div class="timesheet-info">
        <h4 class="title">{{'MOD_DASHBOARD.MOD_ATTENDANCE.MOD_PUNCH_IN_OUT.TIMESHEET_LABEL' | translate}}</h4>
        <span class="text-muted" *ngIf="showCurrentDate">{{today | date}}</span>
      </div>
      <div class="info-well" *ngIf="attendanceModel">
        <h6 class="title mb-zero"
            *ngIf="checkIn">{{'MOD_DASHBOARD.MOD_ATTENDANCE.MOD_PUNCH_IN_OUT.READY_TO_WORK_MESSAGE' | translate}}</h6>
        <ng-container *ngIf="!checkIn">
          <h6 class="title mb-zero">{{'MOD_DASHBOARD.MOD_ATTENDANCE.MOD_PUNCH_IN_OUT.CHECKED_IN_INFO_LABEL' | translate}}</h6>
          <span class="subtitle">{{checkInTime}}</span>
        </ng-container>
      </div>
      <div class="time-chart">
        <app-doughnut-chart [fillValue]="fillValueForChart" [value]="timerInHours"
                            [color]=chartColor></app-doughnut-chart>
      </div>

      <div class="punch-in-out-actions">
        <button *ngIf="checkIn && !isCheckedOut" class="btn btn-success"
                (click)="postAttendanceActivity(attendanceEnum.CheckIn)">{{'MOD_DASHBOARD.MOD_ATTENDANCE.MOD_PUNCH_IN_OUT.CHECK_IN_BUTTON_LABEL' | translate}}</button>
        <button *ngIf="(breakIn && !checkIn) && !isCheckedOut" class="btn btn-light"
                (click)="postAttendanceActivity(attendanceEnum.BreakIn)">{{'MOD_DASHBOARD.MOD_ATTENDANCE.MOD_PUNCH_IN_OUT.BREAK_IN_BUTTON_LABEL' | translate}}</button>
        <button *ngIf="(!breakIn && !checkIn) && !isCheckedOut" class="btn btn-light"
                (click)="postAttendanceActivity(attendanceEnum.BreakOut)">{{'MOD_DASHBOARD.MOD_ATTENDANCE.MOD_PUNCH_IN_OUT.BREAK_OUT_BUTTON_LABEL' | translate}}</button>
        <button *ngIf="(!checkIn && !breakIn) && !isCheckedOut" class="btn btn-danger"
                (click)="postAttendanceActivity(attendanceEnum.CheckOut)">{{'MOD_DASHBOARD.MOD_ATTENDANCE.MOD_PUNCH_IN_OUT.CHECK_OUT_BUTTON_LABEL' | translate}}</button>
      </div>

      <p *ngIf="!checkIn && isCheckedOut">{{'MOD_DASHBOARD.MOD_ATTENDANCE.MOD_PUNCH_IN_OUT.CHECK_OUT_MESSAGE' | translate}}</p>
    </div>
  </ng-container>
</ng-template>
