.accordion-content {
  display: none;
  min-height: 0;
  max-height: 0;
  overflow: hidden;
  animation-name: slideDownAnimation;

  &.accordion-open {
    display: block;
    min-height: auto;
    max-height: none;
    animation-duration: 2s;
  }
}

@keyframes slideDownAnimation {
  0% {
    min-height: 0;
    max-height: 0;
    display: none;
  }

  1% {
    display: block;
  }

  99% {
    min-height: auto;
    max-height: 50rem;
  }

  100% {
    max-height: none;
  }
}

@keyframes slideUpAnimation {
  0% {
    min-height: 0;
    display: block;
  }

  1% {
    display: block;
  }

  99% {
    min-height: auto;
    max-height: 0;
  }

  100% {
    display: none;
  }
}
