.hr-app {
  .xng-breadcrumb-root {
    margin: calc(var(--hr-space-lg) * -1) calc(var(--hr-space-lg) * -1) 0
      calc(var(--hr-space-lg) * -1);
    padding: var(--hr-space-xs) var(--hr-space-lg);
    font-size: var(--hr-font-size-sm);
    color: var(--hr-color-primary);

    //background-color: var(--hr-color-breadcrumb-background);
    //border-bottom: 1px solid var(--hr-color-border);

    //@include position-sticky();
    //top: calc(#{$hr-nav-height} + 1px); // +1px to account for border on nav
    //z-index: $zIndex-100;

    @include sm() {
      margin: calc(var(--hr-space-sm) * -1) calc(var(--hr-space-sm) * -1) 0
        calc(var(--hr-space-sm) * -1);
      padding: var(--hr-space-xs) var(--hr-space-sm);
    }
  }

  .xng-breadcrumb-trail {
    color: var(--hr-color-subtitle);
  }
}
