// ========================================
// Button Styles
// ========================================

@mixin base-button() {
  text-decoration: none;
  outline: none;
  cursor: pointer;
  border: 1px solid $transparent;
  font-weight: 500;
  height: 2.5rem;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.35s ease, box-shadow 0.35s ease, border-color 0.35s ease, color 0.35s ease;
  padding: 0 var(--hr-space-sm);
  font-family: var(--hr-font-title);
  font-size: var(--hr-font-size-root);
  border-radius: var(--hr-button-border-radius);

  .font-icon {
    font-size: 1.25rem;
  }

  &:disabled {
    opacity: 0.64;
    cursor: not-allowed;
    color: var(--hr-color-disabled-text);
  }

  .icon-prefix {
    margin-right: var(--hr-space-xs);
  }

  .icon-suffix {
    margin-left: var(--hr-space-xs);
  }

  > span {
    transition: margin 0.3s ease;
  }

  &.loading {
    cursor: not-allowed;
    opacity: 0.8;

    > span {
      margin-left: var(--hr-space-xs);
    }
  }

  &.btn-sm {
    height: var(--hr-space-lg);
    font-size: var(--hr-font-size-sm);
  }

  &.btn-xs {
    height: var(--hr-space-md);
    font-size: var(--hr-font-size-xs);
  }

  &.btn-full-width {
    width: 100%;
  }
}

@mixin base-icon-button() {
  @include base-button();
  height: 2.5rem;
  width: 2.5rem;
  min-width: 2.5rem;
  padding: 0;
  font-size: 1.25rem;
  color: currentColor;

  .font-icon {
    font-size: inherit;
    height: 1.25rem;
    width: 1.25rem;
  }

  &.btn-sm {
    height: var(--hr-space-lg);
    width: var(--hr-space-lg);
    min-width: var(--hr-space-lg);
    font-size: var(--hr-font-size-sm);

    .font-icon {
      height: var(--hr-font-size-sm);
      width: var(--hr-font-size-sm);
    }
  }

  &.btn-xs {
    height: var(--hr-space-md);
    width: var(--hr-space-md);
    min-width: var(--hr-space-md);
    font-size: var(--hr-font-size-sm);

    .font-icon {
      height: var(--hr-font-size-sm);
      width: var(--hr-font-size-sm);
    }

  }
}

// ========================================
// Button mixins (Based on CSS variables)
// ========================================

@mixin css-var-regular-button($hue, $saturation, $lightness, $textColor) {
  background-color: hsl($hue $saturation $lightness);
  border-color: hsl($hue $saturation calc(#{$lightness} - var(--hr-button-border-color-lightness-difference)));
  color: $textColor;
  &:not(&:disabled) {
    &:hover {
      background-color: hsl($hue $saturation calc(#{$lightness} - var(--hr-button-hover-backgournd-lightness-difference)));
    }

    &:active,
    &.active {
      background-color: hsl($hue $saturation calc(#{$lightness} - var(--hr-button-active-background-lightness-difference)));
      border-color: hsl($hue $saturation calc(#{$lightness} - var(--hr-button-active-border-color-lightness-difference)));
    }

    &:focus {
      background-color: hsl($hue $saturation calc(#{$lightness} - var(--hr-button-focus-background-lightness-difference)));
      box-shadow: 0 0 0.25rem 0.25rem hsla($hue $saturation $lightness / 40%);
    }
  }

  &:disabled {
    background-color: var(--hr-color-disabled-background);
    border-color: var(--hr-color-disabled-background);
  }
}

@mixin css-var-outline-button($hue, $saturation, $lightness) {
  background-color: $transparent;
  color: hsl($hue $saturation $lightness);
  border: 1px solid hsl($hue $saturation $lightness);

  &:not(&:disabled) {
    &:hover {
      background-color: hsl($hue $saturation $lightness / 12%);
    }

    &:active,
    &.active {
      background-color: hsl($hue $saturation $lightness / 16%);
    }

    &:focus {
      background-color: hsl($hue $saturation $lightness / 12%);
      box-shadow: 0 0 0.25rem 0.125rem hsla($hue $saturation $lightness / 40%);
    }
  }

  &:disabled {
    border-color: var(--hr-color-disabled-background);
  }
}

@mixin css-var-link-button($hue, $saturation, $lightness) {
  background-color: $transparent;
  border-color: $transparent;
  color: hsl($hue $saturation $lightness);

  &:not(&:disabled) {
    &:hover {
      background-color: hsl($hue $saturation $lightness / 12%);
      border-color: hsl($hue $saturation $lightness / 12%);
    }

    &:active,
    &.active {
      background-color: hsl($hue $saturation $lightness / 16%);
      border-color: hsl($hue $saturation $lightness / 16%);
    }

    &:focus {
      background-color: hsl($hue $saturation $lightness / 20%);
      border-color: hsl($hue $saturation $lightness / 16%);
    }
  }
}

@mixin css-var-regular-btn-btn-group($color, $hue, $saturation, $lightness, $text-color) {
  .btn-input {
    &:focus,
    &:focus-within {
      & + .btn-#{$color},
      & + .btn-outline-#{$color} {
        box-shadow: 0 0 0.125rem 0.25rem hsla($hue $saturation $lightness / 40%);
      }
    }

    &:checked {
      & + .btn-#{$color} {
        color: $text-color;
        background-color: hsla($hue $saturation calc(#{$lightness} - var(--hr-button-active-background-lightness-difference)));
        border-color: hsla($hue $saturation calc(#{$lightness} - var(--hr-button-active-background-lightness-difference)));
      }

      & + .btn-outline-#{$color} {
        color: $text-color;
        background-color: hsla($hue $saturation $lightness);
      }
    }
  }
}

// ========================================
// Button Classes
// ========================================

.btn {
  @include base-button();
}

.icon-btn {
  @include base-icon-button();
}

.icon-btn-circular {
  border-radius: 50% !important;
}

@each $color in $colorList {
  .btn-#{$color} {
    @include css-var-regular-button(var(--hue-#{$color}), var(--saturation-#{$color}), var(--lightness-#{$color}), var(--hr-color-#{$color}-forground));
  }

  .btn-outline-#{$color} {
    @include css-var-outline-button(var(--hue-#{$color}), var(--saturation-#{$color}), var(--lightness-#{$color}));
  }

  .btn-link-#{$color} {
    @include css-var-link-button(var(--hue-#{$color}), var(--saturation-#{$color}), var(--lightness-#{$color}));
  }
}

// ========================================
// Light Button
// ========================================

.btn-light,
.btn-outline-light,
.btn-link-light {
  background-color: $transparent;
  color: var(--hr-color-light-forground);

  &:not(&:disabled) {
    &:hover {
      background-color: hsl(var(--hue-light) var(--saturation-light) var(--lightness-light));
    }

    &:active {
      background-color: hsl(var(--hue-light) var(--saturation-light) calc(var(--lightness-light) - var(--hr-button-active-background-lightness-difference)));
    }

    &:focus {
      background-color: hsl(var(--hue-light), var(--saturation-light), calc(var(--lightness-light) - var(--hr-button-focus-background-lightness-difference)));
    }
  }
}

.btn-light {
  background-color: var(--hr-color-light);

  &:not(&:disabled) {
    &:hover {
      background-color: hsl(var(--hue-light) var(--saturation-light) calc(var(--lightness-light) - var(--hr-button-hover-backgournd-lightness-difference)));
    }

    &:focus {
      box-shadow: 0 0 0.25rem 0.25rem hsla(var(--hue-light) var(--saturation-light) var(--lightness-light) / 72%);
    }
  }
}

.btn-outline-light {
  border-color: var(--hr-color-light);
}

.btn-link-light {
  &:not(&:disabled) {
    &:hover {
      border-color: hsl(var(--hue-light) var(--saturation-light) var(--lightness-light));
    }

    &:active {
      border-color: hsl(var(--hue-light) var(--saturation-light) calc(var(--lightness-light) - var(--hr-button-active-background-lightness-difference)));
    }

    &:focus {
      border-color: hsl(var(--hue-light), var(--saturation-light), calc(var(--lightness-light) - var(--hr-button-focus-background-lightness-difference)));
    }
  }
}


.btn-group {
  display: flex;
  align-items: center;

  .btn-input {
    pointer-events: none;
    position: absolute;
    clip: rect(0, 0, 0, 0);
  }

  .btn {
    border-radius: 0;
    margin-right: -1px;

    &:first-of-type {
      border-top-left-radius: var(--hr-button-border-radius);
      border-bottom-left-radius: var(--hr-button-border-radius);
    }

    &:last-of-type {
      border-top-right-radius: var(--hr-button-border-radius);
      border-bottom-right-radius: var(--hr-button-border-radius);
    }
  }

  @each $color in $colorList {
    @include css-var-regular-btn-btn-group($color, var(--hue-#{$color}), var(--saturation-#{$color}), var(--lightness-#{$color}), var(--hr-color-#{$color}-forground));
  }
}
