.confirm-delete-modal {
  max-width: 32rem;

  .modal-header {
    justify-content: space-between;

    .title {
      margin: 0;
      color: var(--hr-color-title);
    }
  }

  .modal-body {
    min-height: var(--hr-space-xxl);
  }

  .modal-footer {
    .btn-container {
      flex: 1 1 auto;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: var(--hr-space-sm);
    }
  }

  .grid-row {
    grid-row-gap: 0;
  }
}
