.mat-datepicker-content .mat-datepicker-close-button {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 8px;
  display: none;
}

.mat-datepicker-popup {
  background-color: var(--hr-color-popup-background);
  border-radius: var(--hr-border-radius);
  box-shadow: var(--hr-elevation-md);
  font-size: var(--hr-font-size-sm);
}

/* Buttons */
.mat-calendar-period-button,
.mat-calendar-previous-button,
.mat-calendar-next-button {
  background-color: $transparent;

  &:hover {
    background-color: var(--hr-color-dropdown-item-hover);
  }
}

/* Week Day Cells */
.mat-calendar-table-header {
  font-size: var(--hr-font-size-xs);
  color: var(--hr-color-subtitle);
  font-weight: 300;
}

.mat-calendar-table-header-divider {
  position: relative;
  height: 1px;

  &:after {
    background-color: var(--hr-color-popup-border);
  }
}


/* Date Body */
.mat-calendar-body-label, .mat-calendar-period-button {
  font-weight: 600;
}


/* Date Cells */
.mat-calendar-body-selected {
  background-color: var(--hr-color-primary);
  color: var(--hr-color-primary-forground);
}

.mat-calendar-body-today:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
  border-color: var(--hr-color-primary);
}

.mat-calendar-body-cell-content,
.mat-date-range-input-separator {
  border-color: $transparent;

  &:hover {
    background-color: hsl(var(--hue-primary) var(--saturation-primary) var(--lightness-primary) / 24%);
  }
}

.mat-calendar-body-disabled>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
  opacity: 0.48;
  pointer-events: none;
}

