.drawer-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: $zIndex-199;
  max-width: 30rem;
  transition: right 0.5s ease, left 0.5s ease;
  box-shadow: var(--hr-elevation-md);
  background-color: var(--hr-color-popup-background);
  padding: var(--hr-space-md);

  &.start {
    left: 0;
  }

  &.end {
    right: 0;
  }

  .drawer-header {
    display: flex;
    align-items: center;
    position: relative;
    padding: var(--hr-space-md);
    min-height: 4.5rem;
    border-bottom: 1px solid var(--hr-color-border);

    .drawer-close {
      position: absolute;
      right: var(--hr-space-xs);
      top: var(--hr-space-md);
    }
  }

  .drawer-body {
    padding: var(--hr-space-md);
  }

  .drawer-footer {
    padding: var(--hr-space-md);
  }
}

.drawer-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--hr-color-overlay-background);
  visibility: visible;
  z-index: $zIndex-100;

  &.no-overlay {
    visibility: hidden;
    z-index: $zIndex-1;
  }
}
