.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--hr-color-text);
  padding: var(--hr-space-lg);
  border-radius: var(--hr-border-radius);

  .empty-default, .empty-box, .empty-notification, .empty-search {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .message-container {
    text-align: center;
    margin-top: var(--hr-space-sm);

    .title {
      margin-bottom: var(--hr-space-sm);
    }

    .message {
      font-size: var(--hr-font-size-sm);
    }
  }

  &.with-background-color {
    background-color: var(--hr-color-background-3);
  }
}
