$width-options: 5, 10, 15, 20, 25, 30, 40, 50, 60, 70, 80;

.flex-table {
  display: flex;
  flex-direction: column;
  background-color: var(--hr-color-card-background);
  border: 1px solid var(--hr-color-border);

  .flex-table-tr {
    display: flex;
    transition : box-shadow .3s ease;
    min-height: 60px;

    &:focus {
      @extend .flex-table-on-focus;
    }

    .flex-table-td {
      flex-grow: 1;
      display: flex;
      align-items: center;
      width: 100%;
      padding: var(--hr-space-xs) var(--hr-space-sm);

      &:focus {
        @extend .flex-table-on-focus;
      }

      &.action-cell {
        max-width: calc(var(--hr-space-xl) + calc(var(--hr-space-sm) * 2));

        .cell-data {
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: visible;
          white-space: normal;
        }
      }

      &.action-cell-xl {
        @extend .action-cell;
        max-width: calc(var(--hr-space-xxl) + calc(var(--hr-space-sm) * 2));
      }

      .cell-data {
        display: block;
        width: 100%;
        overflow: hidden;
        @include text-truncate();
        color: currentColor;

        // use this class if you dont want the text in the cell to be truncated
        &.no-truncate {
          white-space: normal;
        }
      }

      a.cell-data {
        &:hover {
          background-color: var(--hr-color-table-hover-background);
        }
      }

      @each $width in $width-options {
        &.w-#{$width} {
          width: calc(#{$width} * 1%) !important;
        }
      }
    }

    .flex-table-th {
      @extend .flex-table-td;
      font-weight: 600;
      color: var(--hr-color-text);
    }

    &.cssload-parent {
      .cssload-overlay {
        background-color: var(--hr-color-table-head-background);
      }
    }
  }

  /* Addition */
  .with-border {
    border-bottom: 1px solid var(--hr-color-border);
  }

  .flex-table-thead {
    display: block;
    position: relative;

    /* default style for fixed head with box shadow */
    &.with-elevation {
     box-shadow: var(--hr-elevation-sm);
    }

    /* header with background color */
    &.with-background {
      background-color: var(--hr-color-table-head-background);

      .flex-table-tr {
        border-color: var(--hr-color-border);
      }

      .flex-table-th {
        color: currentColor;
      }
    }

    /* this style is based on card design - header only */
    &.table-full-width {
      margin: 0 calc(var(--hr-card-padding) * -1);
      padding: 0 var(--hr-card-padding);
    }

    /* header with small height*/
    &.height-sm {
      .flex-table-tr {
        min-height: var(--hr-space-xl);
      }
    }
  }

  .flex-table-tbody {
    display: block;

    .flex-table-tr {
      cursor: pointer;

      /* hover effect on tr */
      &.tr-hover {
        &.hover-box-shadow {
          &:hover {
            box-shadow: var(--hr-elevation-sm);
          }
        }

        &.hover-background {
          &:hover {
            background-color: var(--hr-color-table-hover-background);
          }
        }
      }

      /* tr active */
      &.tr-active{
      }

      &.tr-disabled {
        user-select: none;
      }
    }
  }

  // table with borders
  &.with-borders {
    .flex-table-tr {
      .flex-table-td {
        border-bottom: 1px solid var(--hr-color-border);
        border-left: 1px solid var(--hr-color-border);

        &:last-of-type {
          border-right: 1px solid var(--hr-color-border);
        }
      }
    }
  }

  &.with-borders-bottom {
    .flex-table-tr {
      border-bottom: 1px solid var(--hr-color-border);
    }

    .flex-table-tbody {
      .flex-table-tr {
        &:last-of-type {
          border-color: $transparent;
        }
      }
    }
  }

  // with scrollable body for flex-table
  &.scrollable {
    .flex-table-thead {
      padding-right: var(--hr-scroll-bar-width) !important; // to counter scrollbar shifting tbody data
    }

    .flex-table-tbody {
      overflow: hidden !important;
      overflow-y: scroll !important;
    }
  }

  &.with-border-radius {
    border-radius: var(--hr-border-radius);

    .flex-table-thead {
      border-radius: var(--hr-border-radius) var(--hr-border-radius) 0 0;
    }

    .flex-table-tbody {
      .flex-table-tr {
        &:last-of-type {
          border-radius: 0 0 var(--hr-border-radius) var(--hr-border-radius);
        }
      }
    }
  }

  /* Important :: This option are only while using table inside inside Card */

  // full width for flex-table -- counters card's horizontal padding
  &.table-full-width {
    margin-left: calc(var(--hr-card-padding) * -1);
    margin-right: calc(var(--hr-card-padding) * -1);
  }

  // full width for flex-table -- counters card's vertical padding
  &.table-full-height {
    margin-top: calc(var(--hr-card-padding) * -1);
    margin-bottom: calc(var(--hr-card-padding) * -1);
  }

  // table column sizing - equal columns
  @for $i from 1 through 10 {
    &.flex-table--#{$i}cols {
      .flex-table-tr {
        .flex-table-td {
          width: 1 / $i * 100%;
        }
      }
    }
  }

  // on focus styling for flex-table
  .flex-table-on-focus {
    outline: none;
    box-shadow: none;
  }
}

/* Addition */

.table-striped {
  .flex-table-tr {
    &:nth-child(even) {
      background-color: var(--hr-color-even-row-background);
    }
  }
}
.no-border {
  border: none !important;
}
