$form-control-animation-properties: border-color 0.3s ease, box-shadow 0.3s ease;

@mixin form-control-states($hue, $saturation, $lightness) {
  border-color: hsl($hue, $saturation, $lightness);

  &:hover {
    &:not(:disabled) {
      border-color: hsl($hue, $saturation, $lightness);
    }
  }

  &:focus {
    &:not(:disabled) {
      box-shadow: 0 0 2px 2px hsla($hue $saturation $lightness / 40%);
      border-color: hsl($hue, $saturation, $lightness);
    }
  }
}

.form-group {
  display: block;
  position: relative;
  padding-bottom: var(--hr-space-md);

  &.error,
  &.has-error {
    .inline-form-info {
      color: var(--hr-color-danger);
    }

    .form-control {
      @include form-control-states(var(--hue-danger), var(--saturation-danger), var(--lightness-danger));
    }
  }

  &.success,
  &.has-success {
    .inline-form-info {
      color: var(--hr-color-success);
    }

    .form-control {
      @include form-control-states(var(--hue-success), var(--saturation-success), var(--lightness-success));
    }
  }
}

.form-label {
  display: block;
  margin-bottom: 0.5rem;
  color: currentColor;
  font-family: var(--hr-font-title);
}

.form-control {
  display: inline-block;
  position: relative;
  outline: none;
  line-height: 1.4;
  width: 100%;
  transition: $form-control-animation-properties;
  padding: var(--hr-space-xs) var(--hr-space-sm);
  color: var(--hr-color-title);
  background-color: $transparent; //var(--hr-color-background-2)
  font-family: var(--hr-font-body);
  font-size: var(--hr-font-size-md);
  border: 1px solid var(--hr-color-form-border);
  border-radius: var(--hr-button-border-radius);

  &:hover {
    &:not(:disabled) {
      border-color: var(--hr-color-primary);
    }
  }

  &:focus {
    &:not(:disabled) {
      border-color: var(--hr-color-primary);
      box-shadow: 0 0 2px 2px hsla(var(--hue-primary) var(--saturation-primary) var(--lightness-primary) / 40%);
    }
  }

  &:disabled {
    opacity: 0.64;
    cursor: not-allowed;
    user-select: none;
    color: var(--hr-color-subtitle);
    background-color: var(--hr-color-disabled-background);
    border-color: var(--hr-color-disabled-background);
  }

  &::placeholder {
    color: var(--hr-color-subtitle);
    opacity: 0.64;
  }

  &.error, &.has-error {
    @include form-control-states(var(--hue-danger), var(--saturation-danger), var(--lightness-danger));
  }

  &.success {
    @include form-control-states(var(--hue-success), var(--saturation-success), var(--lightness-success));
  }

  &.form-control-lg {
    padding: calc(var(--hr-space-xs) + var(--hr-space-xxs)) var(--hr-space-sm);
  }
}

.input-group {
  position: relative;
  display: flex;
  align-items: center;

  &.group-suffix {
    flex-direction: row;

    .form-control {
      border-radius: var(--hr-button-border-radius) 0 0 var(--hr-button-border-radius);
    }
  }

  &.group-prefix {
    flex-direction: row-reverse;

    .form-control {
      border-radius: 0 var(--hr-button-border-radius) var(--hr-button-border-radius) 0;
    }
  }

  &.password-input-group {
    flex-direction: column;
    align-items: flex-start;

    .form-control {
      padding-right: 3rem;
    }

    .view-btn {
      position: absolute;
      top: 0.5rem;
      right: var(--hr-space-xs);
      color: var(--hr-color-subtitle);
    }
  }

  .input-group-prefix-item, .input-group-suffix-item {
    height: 2.5rem;
    padding: var(--hr-space-xs) 0.75rem;
    background-color: var(--hr-color-light);
    border: 1px solid var(--hr-color-form-border);
  }

  .input-group-prefix-item {
    margin-right: -1px;
    border-radius: var(--hr-button-border-radius) 0 0 var(--hr-button-border-radius);
  }

  .input-group-suffix-item {
    margin-left: -1px;
    border-radius: 0 var(--hr-button-border-radius) var(--hr-button-border-radius) 0;
  }
}

.select-form-control {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  padding-right: 2.5rem;
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: var(--hr-space-sm);
  background-image: var(--hr-backgroundImage-select);

  option {
    background-color: var(--hr-color-card-background);
    color: var(--hr-color-text);
  }
}

.radio-form-control,
.checkbox-form-control {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  height: 2.5rem;
  cursor: pointer;

  .radio-input,
  .checkbox-input {
    appearance: none;
    display: inline-flex;
    position: relative;
    margin-right: 0.75rem;
    background-position: center center;
    background-size: var(--hr-space-lg);
    transition: $form-control-animation-properties;
    height: 1.25rem;
    width: 1.25rem;
    border-radius: var(--hr-button-border-radius);
    border: 1px solid var(--hr-color-form-border);


    &:hover {
      &:not(:disabled) {
        border-color: var(--hr-color-primary);
      }
    }

    &:focus, &:focus-visible {
      outline: none;
      box-shadow: 0 0 2px 4px hsla(var(--hue-primary) var(--saturation-primary) var(--lightness-primary) / 40%);
    }

    &:disabled {
      opacity: 0.64;
      color: var(--hr-color-disabled-text);
      border-color: var(--hr-color-disabled-background);

      + .radio-label, + .checkbox-label {
        color: var(--hr-color-disabled-text);
      }
    }

    &:checked, &:indeterminate {
      &:disabled {
        background-color: var(--hr-color-disabled-text);
      }
    }
  }

  .checkbox-input {

    &:checked {
      background-size: 1.25rem;
      background-color: var(--hr-color-primary);
      background-image: var(--hr-backgroundImage-checkbox-checked);
    }

    &:indeterminate {
      background-size: 1.25rem;
      background-color: var(--hr-color-primary);
      background-image: var(--hr-backgroundImage-checkbox-indeterminate);
    }
  }

  .radio-input {
    border-radius: 50%;

    &:checked {
      background-size: 1.25rem;
      background-color: var(--hr-color-primary);
      background-image: var(--hr-backgroundImage-radio-checked);
    }
  }

  &.radio-input-only,
  &.checkbox-input-only {
    margin: 0;
  }
}

.radio-label,
.checkbox-label {
  display: inline-flex;
  align-items: center;
  color: var(--hr-color-text);
}

.inline-form-info {
  display: inline-block;
  font-size: var(--hr-font-size-xs);
  margin-top: var(--hr-space-xxs);
  color: var(--hr-color-subtitle);
}
