// Material modal styles
@import '~@angular/cdk/overlay-prebuilt.css';

@keyframes drawerAnimation {
  100% {
    transform: translateX(0);
  }
}

@mixin baseModalDrawerView($width: 30rem) {
  max-width: $width;
  display: flex;
  flex-direction: column;
  position: fixed !important;
  right: 0 !important;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: $zIndex-199;
  transition: right 0.4s ease, left 0.4s ease, transform 0.4s ease;
  transform: translateX(100%);
  box-shadow: var(--hr-elevation-md);
  background-color: var(--hr-color-popup-background);
  animation: drawerAnimation 0.3s ease forwards;

  .mat-dialog-container {
    //overflow-y: auto;
  }

  .modal-body {
    max-height: none;
  }
}

.cdk-overlay-backdrop {
  transition-duration: 150ms;
}

.hr-app {
  .mat-dialog-container {
    padding: var(--hr-space-md);
    overflow: hidden;
    background-color: var(--hr-color-popup-background);
  }
}

.modal-header {
  @include display-flex();
  @include align-items(center);
  padding: var(--hr-space-md);
  margin: calc(var(--hr-space-md) * -1) calc(var(--hr-space-md) * -1) 0 calc(var(--hr-space-md) * -1);
  position: relative;

  &.with-border {
    border-bottom: 1px solid var(--hr-color-popup-border);
  }

  .modal-title {
    @include flex(1 1 auto);
    margin: 0;
  }

  .modal-close {
    position: absolute;
    right: var(--hr-space-sm);
    top: 50%;
    transform: translateY(-50%);
  }
}

.modal-body {
  @include flex(1 1 auto);
  padding: var(--hr-space-md) var(--hr-space-md) 0 var(--hr-space-md);
  margin: 0 calc(var(--hr-space-md) * -1);
  max-height: 60vh;
  min-height: 20rem;
  overflow: auto;
}

.modal-footer {
  @include display-flex();
  @include align-items(center);
  padding: var(--hr-space-md);
  margin: 0 calc(var(--hr-space-md) * -1) calc(var(--hr-space-md) * -1);

  &.with-border {
    border-top: 1px solid var(--hr-color-popup-border);
  }
}

.cdk-overlay-pane {
  &.modal-lg,
  &.modal-md,
  &.modal-sm,
  &.modal-xs {
    width: 100%;
  }

  &.modal-xs {
    max-width: 30rem !important;
  }

  &.modal-sm {
    max-width: 40rem !important;
  }

  &.modal-md {
    max-width: 50rem !important;
  }

  &.modal-lg {
    max-width: 60rem !important;
  }

  &.modal-drawer-view {
    @include baseModalDrawerView(30rem);
  }
}


/* HR Drawer / Modal */

.modal-header {
  .circular-icon-container {
    margin-right: 0.75rem;
  }

  .modal-title {
    color: var(--hr-color-primary);
    font-size: 1.25rem;
    padding-right: 2.5rem;
    @include text-truncate();
  }
}

.modal-footer {
  justify-content: flex-end;

  .btn {
    margin-left: var(--hr-space-sm);

    &:first-of-type {
      margin-left: 0;
    }
  }
}

.modal-drawer-view {
  .modal-body {
    max-height: calc(100vh - (1.5rem * 4) - 2.5rem - 2.5rem) !important;
    overflow: hidden;
    overflow-y: auto;
  }
}


