$notification-row-container-hover-animation: background-color 0.3s ease, opacity 0.3s ease;

.notification-row-container {
  align-items: flex-start;
  position: relative;
  cursor: pointer;
  transition: $notification-row-container-hover-animation;
  padding: var(--hr-space-sm);

  &:hover {
    background-color: hsl(var(--hue-primary) var(--saturation-primary) var(--lightness-primary) / 6%);
  }

  &.notification-row-unread {
    background-color: hsl(var(--hue-primary) var(--saturation-primary) var(--lightness-primary) / 3%);

    &:hover {
      opacity: 0.88;
    }

    &:hover {
      background-color: hsl(var(--hue-primary) var(--saturation-primary) var(--lightness-primary) / 8%);
    }
  }

  .notification-row-date-time {
    position: absolute;
    right: var(--hr-space-sm);
    top: var(--hr-space-sm);
    font-size: var(--hr-font-size-xs);
    color: var(--hr-color-subtitle);
  }

  .circular-icon-container {
    margin-right: var(--hr-space-sm);
  }

  .notification-row-header {
    text-transform: uppercase;
    font-size: var(--hr-font-size-xs);
    color: var(--hr-color-subtitle);
    margin-bottom: var(--hr-space-xxs);
    margin-right: var(--hr-space-xxl);
  }

  .notification-row-title {
    font-weight: 500;
    font-family: var(--hr-font-title);
    color: var(--hr-color-title);
    margin-bottom: var(--hr-space-xxs);
  }

  .notification-row-details {
    font-size: var(--hr-font-size-sm);
    color: var(--hr-color-subtitle);
  }

  &.with-border {
    border-bottom: 1px solid var(--hr-color-border);
  }
}
