.pagination-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: var(--hr-space-xl);

  &.pagination-centered {
    justify-content: center;
  }

  .pagination-links {
    .pagination {
      .page-item {
        margin-right: var(--hr-space-xs);
        .page-link {
          @include base-icon-button();
          font-size: var(--hr-font-size-md);
          //border: 1px solid var(--hr-color-border);

          &:hover {
            background-color: var(--hr-color-card-hover-background);
            color: var(--hr-color-primary);
          }

          &.active {
            background-color: var(--hr-color-primary);
            color: var(--hr-color-primary-forground);
          }
        }
      }
    }
  }

  .pagination-per-page-selector {
    display: flex;
    align-items: center;
    font-size: var(--hr-font-size-sm);

    .label {
      white-space: nowrap;
      margin-right: var(--hr-space-sm);
    }

    .form-control{
      max-width: var(--hr-space-xxxl);
    }
  }
}
