@mixin base-pill($hue, $saturation, $lightness, $textColor) {
  --translucent-amount: 16%;
  &.with-hover-style {
    cursor: pointer;

    &:hover {
      background-color: hsl($hue $saturation calc(#{$lightness} - var(--hr-button-active-border-color-lightness-difference)));
    }

    &:focus {
      box-shadow: 0 0 0 0.125rem hsl($hue $saturation calc(#{$lightness} - var(--hr-button-focus-background-lightness-difference)));
    }
  }

  &.pill-solid {
    background-color: hsl($hue $saturation $lightness);
    border: 1px solid hsl($hue $saturation calc(#{$lightness} - 2%));
    color: $textColor;
  }

  &.pill-translucent {
    background-color: hsl($hue $saturation $lightness / var(--translucent-amount));
    border: 1px solid hsl($hue $saturation $lightness / calc(var(--translucent-amount) + 0));
    color: hsl($hue $saturation $lightness);
  }
}

.pill {
  display: inline-flex;
  align-items: center;
  border-radius: 2rem;
  cursor: default;
  line-height: 1.6;
  transition: opacity 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
  font-size: var(--hr-font-size-sm);
  padding: var(--hr-space-xxs) var(--hr-space-xs);
  white-space: nowrap;

  .remove-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 1.25rem;
    width: 1.25rem;
    border-radius: 50%;
    margin-left: var(--hr-space-xs);
    margin-right: calc(var(--hr-space-xs) * -1);
    background-color: var(--hr-color-subtitle);
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 0.64;
    }

    .font-icon {
      font-size: var(--hr-font-size-md);
      color: var(--hr-color-white);
    }
  }

  &.pill-avatar {
    line-height: 1.5rem !important;
    .avatar {
      height: var(--hr-space-md);
      width: var(--hr-space-md);
      min-width: var(--hr-space-md);
      margin: -1px var(--hr-space-xs) -1px calc(var(--hr-space-xs) * -1);

      .avatar-initials {
        font-size: 0.75rem;
      }
    }
  }

  // Colors
  &.pill-light {
    @include base-pill(var(--hue-light), var(--saturation-light), var(--lightness-light), var(--hr-color-light-forground));

    &.pill-translucent {
      background-color: hsl(var(--hue-light) var(--saturation-light) var(--lightness-light) / 48%);
      border: 1px solid hsl(var(--hue-light) var(--saturation-light) calc(var(--lightness-light) + 1%));
      color: var(--hr-color-subtitle);
    }

    &.with-hover-style {
      &.active {
        background-color: var(--hr-color-text);
        border-color: var(--hr-color-text);
        color: var(--hr-color-white);

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }

  @each $color in $colorList {
    &.pill-#{$color} {
      @include base-pill(var(--hue-#{$color}), var(--saturation-#{$color}), var(--lightness-#{$color}), var(--hr-color-#{$color}-forground));
    }
  }

  // Sizes
  &.size-default {
    font-size: 0.875rem;
    padding: 0.25rem 0.75rem;
  }

  &.size-medium {
    font-size: 0.75rem;
    padding: 0.125rem 0.5rem;
    line-height: 1.25rem;
    font-weight: 500;

    &.pill-avatar {
      .avatar {
        margin: -1px var(--hr-space-xs) -1px calc(var(--hr-space-xs) * -0.75);
      }
    }
  }

  &.size-small {
    font-size: 0.75rem;
    padding: 0.125rem 0.5rem;
    line-height: 1rem;
    font-weight: 500;
  }
}
