.progress {
  padding:0;
  width:100%;
  height:24px;
  overflow:hidden;
  background:var(--hr-color-even-row-background);
  border-radius:6px;
}

.bar {
  position:relative;
  float:left;
  min-width:1%;
  height:100%;
  background: var(--hr-color-accent);
}

.bar-data {
  margin-top: var(--hr-space-xs);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size:12px;
  color: var(--hr-color-card-background);
}
.percent {
  position:absolute;
  top:50%;
  right:0;
  transform:translate(-50%,-50%);
  margin:0;
  font-size: 0.75rem;
  color: var(--hr-color-card-background);
}

.corner-data {
  font-size: 12px;
  top:50%;
  color: var(--hr-color-card-background)
}

.start-data {
  position:absolute;
  top:50%;
  left:10%;
  transform:translate(-50%,-50%);
  margin:0;
  font-size:12px;
  color: var(--hr-color-card-background);
}

.end-data {
  position:absolute;
  top:50%;
  right:10%;
  transform:translate(-50%,-50%);
  margin:0;
  font-size:12px;
  color: var(--hr-color-card-background);
}

.labels {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size:12px;
  margin-bottom: 0.5rem;
}
