.row-container {
  display: flex;
  align-items: center;
  justify-content: center;

  .row-left-section,
  .row-right-section {
    display: flex;
    align-items: center;
  }

  .row-left-section {
    flex: 1 1 auto;
  }

  .row-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0.75rem;
  }

  .row-info {
    display: flex;
    flex-direction: column;
  }

  .row-title {
    margin-bottom: 0.125rem;
  }

  .row-subtitle {
  }
}
