.search-input {
  position: relative;
  background-color: var(--hr-color-card-background);
  border-radius: var(--hr-border-radius);

  .font-icon {
    position: absolute;
    top: 0.75rem;
    left: 0.75rem;
    z-index: $zIndex-1;
  }

  .form-control {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    position: relative;
  }

  .search-actions {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
  }

  .clear {
    display: inline-block;
    height: var(--hr-space-md);
    width: var(--hr-space-md);
    margin-left: 0.25rem;
    background-image: var(--hr-backgroundImage-search-close);
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;

    &:hover {
      opacity: 0.75;
    }
  }

  .search-spinner {
    display: inline-block;
    height: var(--hr-space-md);
    width: var(--hr-space-md);
    color: var(--hr-color-primary);
  }
}

input[type="search"] {
  &::-webkit-search-cancel-button {
    display: none;
  }
}

.view-toggle-btn {
  background-color: var(--hr-color-card-background);
  border-color: var(--hr-color-form-border);
}


/* Common Search/Filter/Sort Component */
.search-filter {
  @include flexbox(row, center, flex-end);
  grid-gap: var(--hr-space-sm);
  width: 100%;
  margin-bottom: var(--hr-space-lg);

  @include md() {
    flex-wrap: wrap;

    .search-item {
      flex: 1 1 auto;
      width: 100%;
    }

    .status-item,
    .sort-by-item {
      flex: 1 1 auto;
      width: 30%;
    }
  }

  @include xs() {
    .search-item {
      width: 60%
    }
    .status-item,
    .sort-by-item {
      width: 30%;
    }
  }

  .tab-container {
    &.sort-tab {
      background-color: var(--hr-color-background-2);
      border-radius: var(--hr-border-radius);
      box-shadow: 0 0 0 1px var(--hr-color-form-border);

      .tab-item {
        border-radius: var(--hr-border-radius);

        .font-icon {
          margin: 0;
        }
      }
    }
  }
}
