.mat-snack-bar-container {
  padding: 0 !important;
  box-shadow: var(--hr-elevation-lg);
  background-color: var(--hr-color-popup-background);
  color: var(--hr-color-text);
}

.snackbar-alert {
  display: flex;
  align-items: center;
  overflow: hidden;
  border-radius: var(--hr-border-radius);
  min-height: 3rem;
  position: relative;
  background-color: var(--hr-color-popup-background);

  .icon-container {
    min-width: 3rem;
    height: 100%;
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;

    .fas {
      color: currentColor;
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 0.5rem;
      height: 100%;
      background-color: currentColor;
    }
  }

  .message-container {
    flex: 1 1 auto;
    padding: 0.5rem 2.5rem 0.5rem 0;

    .title {
      line-height: 1.25;
      margin-bottom: 0.25rem;
    }

    .message {
      margin: 0;
      font-size: 0.875rem;
      color: var(--hr-color-subtitle);
    }
  }

  .close-btn {
    position: absolute;
    right: 0.25rem;
    top: 0.25rem;
  }


  @each $color in $colorList {
    &.alert-#{$color} {
      color: var(--hr-color-#{$color});
    }
  }

  &.solid-colored {
    .icon-container {
      &:before {
        display: none;
      }
    }

    @each $color in $colorList {
      &.alert-#{$color} {
        background-color: var(--hr-color-#{$color});
      }
    }
  }
}
