@mixin base-line-tab-tem($hue, $saturation, $lightness) {
  &:after {
    background-color: hsl($hue $saturation $lightness);
  }
  &:hover {
    background-color: hsl($hue $saturation $lightness / 12%);
    color: hsl($hue $saturation $lightness);
  }

  &.active {
    color: hsl($hue $saturation $lightness);
    background-color: hsl($hue $saturation $lightness / 16%);
  }
}

@mixin base-solid-tab-item($hue, $saturation, $lightness, $textColor) {
  &:after {
    background-color: hsl($hue $saturation $lightness);
  }

  &:hover {
    color: hsl($hue $saturation $lightness);
  }

  &.active {
    color: $textColor;
    background-color: hsl($hue $saturation $lightness);
    box-shadow: var(--hr-elevation-sm);
  }

  &.tab-sm {
    font-family: var(--hr-font-title);
    padding: var(--hr-space-xss) var(--hr-space-xs);
    font-size: var(--hr-font-size-sm);

    .font-icon {
      margin-right: var(--hr-space-xs);
      height: var(--hr-space-sm);
      width: var(--hr-space-sm);
    }
  }
}

.tab-container {
  display: flex;
  flex-wrap: wrap;

  &.same-width {
    .tab-item {
      flex: 1 1 0;
    }
  }

  .tab-item {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    font-weight: 500;
    position: relative;
    transition: background .3s ease;
    font-family: var(--hr-font-title);
    padding: var(--hr-space-xs) var(--hr-space-sm);

    .font-icon {
      margin-right: var(--hr-space-xs);
      height: var(--hr-space-sm);
      width: var(--hr-space-sm);
    }

    &:after {
      display: block;
      content: '';
      position: absolute;
      transition: all 0.3s ease;
      border-radius: var(--hr-border-radius);
    }
  }

  &.tab-line {
    &.tab-horizontal {
      border-bottom: 1px solid var(--hr-color-border);
      flex-wrap: wrap;

      .tab-item {
        @include base-line-tab-tem(var(--hue-primary), var(--saturation-primary), var(--lightness-primary));
        justify-content: center;

        &:after {
          left: 50%;
          bottom: 0;
          height: 0.125rem;
          width: 0;
        }

        &.active {
          &:after {
            left: 0;
            width: 100%;
          }
        }
      }

      &.tab-accent {
        .tab-item {
          @include base-line-tab-tem(var(--hue-accent), var(--saturation-accent), var(--lightness-accent));
        }
      }
    }

    &.tab-vertical {
      flex-direction: column;

      .tab-item {
        @include base-line-tab-tem(var(--hue-primary), var(--saturation-primary), var(--lightness-primary));
        padding: 0.75rem var(--hr-space-sm);

        .font-icon {
          margin-right: var(--hr-space-sm);
        }

        &:after {
          right: 0;
          top: 50%;
          height: 0;
          width: 0.25rem;
        }

        &.active {
          &:after {
            top: 0;
            height: 100%;
          }
        }
      }

      &.tab-accent {
        .tab-item {
          @include base-line-tab-tem(var(--hue-accent), var(--saturation-accent), var(--lightness-accent));
        }
      }
    }
  }

  &.tab-solid {
    padding: 0.25rem;
    border-radius: 0.75rem;
    background-color: var(--hr-color-background-3);

    .tab-item {
      @include base-solid-tab-item(var(--hue-primary), var(--saturation-primary), var(--lightness-primary), var(--hr-color-primary-forground));
      justify-content: center;
      border-radius: 0.5rem;
      flex: 1 1 0;

      .font-icon {
        margin-right: var(--hr-space-xs);
      }
    }

    &.tab-accent {
      .tab-item {
        @include base-solid-tab-item(var(--hue-accent), var(--saturation-accent), var(--lightness-accent), var(--hr-color-accent-forground));
      }
    }
  }
}
