<div class="admin-attendance-page">
  <div class="page-header with-border">
    <h4 class="page-header-title">{{pageTitle}}</h4>
      <span class="display-flex flex-justify-content-space-between">
        <div class="date-picker-form"></div>
        <form [formGroup]="rangeForm" class="form-control date-picker-form display-flex flex-align-items-center" >
            <mat-date-range-input [max]="max" [dateFilter]="getDisabledDate"  [rangePicker]="picker" >
              <input matStartDate  formControlName="start_date" placeholder="Start date" (dateChange) = "onStartDateChange($event)">
              <input matEndDate  formControlName="end_date" placeholder="End date"  (dateChange) = "onEndDateChange($event)">
            </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </form>

      </span>
  </div>

  <div>
    <app-admin-attendance-report-summary [startDate]= "startDate" [endDate]="endDate" [startThreshold]="startTimeThreshold" [endThreshold]="endTimeThreshold"></app-admin-attendance-report-summary>
  </div>

  <div class="mt-md">
    <app-admin-attendance-report-line-chart [startDate]= "startDate" [endDate]="endDate" [startThreshold]="startTimeThreshold" [endThreshold]="endTimeThreshold" ></app-admin-attendance-report-line-chart>
  </div>

  <div class="mt-md">
    <app-admin-attendance-report-bar-chart [startDate]= "startDate" [endDate]="endDate"></app-admin-attendance-report-bar-chart>
  </div>

  <div class="mt-md">
    <app-admin-employee-attendance-record [startDate]= "startDate" [endDate]="endDate"></app-admin-employee-attendance-record>
  </div>
</div>
