<div class="drawer-header notification-drawer-header">
  <div class="weather-info">
    <div class="temperature"><span class="value">81ºF</span>
      <div class="font-icon">
        <i class="font-icon far fa-sun"></i>
      </div>
    </div>
    <span class="subtitle location">New York, NY</span>
  </div>
  <div class="modal-close">
    <button class="icon-btn icon-btn-circular btn-link-light" (click)="closeDrawer($event)">
      <i class="font-icon far fa-times"></i>
    </button>
  </div>
</div>
<div class="drawer-body notification-drawer-body">
  <div class="notification-drawer-sub-header">
    <span class="title">Notifications</span>
    <button class="btn btn-link-info mark-as-read-btn"> Mark all as read</button>
  </div>

  <div class="notification-list">
    <app-notification-row type="info" [notificationReadStatus]="false"></app-notification-row>
    <app-notification-row type="success" [notificationReadStatus]="false"></app-notification-row>
    <app-notification-row type="success" [notificationReadStatus]="false"></app-notification-row>
    <app-notification-row type="success" [notificationReadStatus]="true"></app-notification-row>
    <app-notification-row type="danger" [notificationReadStatus]="false"></app-notification-row>
    <app-notification-row type="info" [notificationReadStatus]="true"></app-notification-row>
    <app-notification-row type="warning" [notificationReadStatus]="true"></app-notification-row>
    <app-notification-row type="info" [notificationReadStatus]="false"></app-notification-row>
    <app-notification-row type="success" [notificationReadStatus]="true"></app-notification-row>
    <app-notification-row type="warning" [notificationReadStatus]="true"></app-notification-row>
    <app-notification-row type="info" [notificationReadStatus]="true"></app-notification-row>
    <app-notification-row type="danger" [notificationReadStatus]="false"></app-notification-row>
    <app-notification-row type="warning" [notificationReadStatus]="true"></app-notification-row>
  </div>
</div>
<div class="drawer-footer notification-drawer-footer">
  <a class="btn btn-link-info" routerLink="/notification" (click)="closeDrawer($event)">View all notification</a>
</div>
