<!--Header-->
<div class="add-edit-employee-page">
  <div class="modal-header with-border">
    <app-circular-icon [config]="{iconName: modal?.activatedEmployee ? 'far fa-user-check' : 'far fa-user-minus', color:'primary'}"></app-circular-icon>
    <h5 class="modal-title">{{pageTitle}}</h5>
    <div class="drawer-close">
      <button class="icon-btn icon-btn-circular modal-close btn-link-light" mat-dialog-close>
        <i class="font-icon far fa-times"></i>
      </button>
    </div>
  </div>
  <!--  Form-->
  <form [formGroup]="historyForm" [id]="historyFormId" *ngIf="historyForm">
    <div class="modal-body modal-body-sm">
      <div class="form-container">
        <!--        Comment-->
        <div class="form-group" [class.has-error]="historyForm.controls['comment'].touched && historyForm.controls['comment'].errors?.required">
          <label for="comment" class="form-label">
            {{'MOD_EMPLOYEES.MOD_VIEW_DETAIL_EMPLOYEE.EMPLOYEE_HISTORIES.COMMENT_LABEL'| translate}}
          </label>
          <input type="text" name="comment" id="comment" formControlName="comment" class="form-control"
                 placeholder="{{'MOD_EMPLOYEES.MOD_VIEW_DETAIL_EMPLOYEE.EMPLOYEE_HISTORIES.COMMENT_PLACEHOLDER'| translate}}"/>
          <span class="nico-tooltip" *ngIf="historyForm.controls['comment'].touched && historyForm.controls['comment'].errors?.required">
             {{'MOD_EMPLOYEES.MOD_VIEW_DETAIL_EMPLOYEE.EMPLOYEE_HISTORIES.COMMENT_LABEL' | translate}} {{'MOD_COMMON.IS_REQUIRED_LABEL' | translate}}
          </span>
        </div>
        <!--        File-->
        <div id="file" name="file">
          <nico-file-upload (upload)="onFileSelect($event, historyForm)" name="file" [hint]="documentHint"></nico-file-upload>
          <span class="nico-tooltip" *ngIf="!this.fileUploadFlag">
             {{'MOD_EMPLOYEES.MOD_VIEW_DETAIL_EMPLOYEE.EMPLOYEE_DOCUMENTS.FORM_FILE_LABEL' | translate}} {{'MOD_EMPLOYEES.MOD_VIEW_DETAIL_EMPLOYEE.EMPLOYEE_DOCUMENTS.CORRECT_FORMAT_INFO_LABEL' | translate}}
          </span>
          <span class="nico-tooltip" *ngIf="this.fileUploadErrorMessage">
            {{this.fileUploadErrorMessage}}
          </span>
        </div>
      </div>
    </div>
  </form>
  <!--      Footer-->
  <div class="modal-footer display-flex flex-justify-content-end">
    <button class="btn btn-outline-light cancel-btn"
            mat-dialog-close> {{'MOD_EMPLOYEES.MOD_ADD_EDIT_EMPLOYEE.CANCEL_BUTTON_LABEL'| translate}}</button>
    <button [disabled]="historyForm.invalid" type="submit" (click)="saveHistoryDocument()" class="btn btn-primary save">
      <span>{{'MOD_EMPLOYEES.MOD_ADD_EDIT_EMPLOYEE.SAVE_BUTTON_LABEL'| translate}}</span></button>
  </div>
</div>
