.nico-file-drop-zone {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8rem;
  max-height: 10rem;
  border: 2px dotted #cccccc;
  color: #aaa;
  background: #f6f6f6;
  cursor: pointer;
  transition: background-color ease-out 500ms;

  &.hovering {
    background-color: #d6ffe8;
  }

  .nico-image-preview {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }

  .file-icon {
    font-size: 1.5rem;
    margin-right: .5rem;
  }
}
