<ng-container *ngIf="department?.hod">
  <app-user-pill [userData]="{value: department?.hod?.name, imageLink: department?.hod?.avatar}"></app-user-pill>
</ng-container>
<ng-container *ngIf="!department?.hod">
  <app-pill size="medium" backgroundType="solid" className="pill-avatar" id="not-hod"
            label="{{'MOD_DEPARTMENT.HOD_UNASSIGNED_LABEL'| translate}}"></app-pill>
</ng-container>
