<section class="web-components">
  <div class="web-components-header">
    <div class="container">
      <a class="icon-btn icon-btn-circular btn-link-light m-zero" routerLink="/">
        <i class="font-icon far fa-arrow-left"></i>
      </a>
      <h4 class="text-primary mb-zero">Web Components</h4>
      <a class="icon-btn icon-btn-circular btn-link-light theme-toggle-btn m-zero" (click)="onThemeToggle()">
        <i class="font-icon far {{!lightTheme ? 'fa-sun' : 'fa-moon'}}"></i>
      </a>
    </div>
  </div>
  <section class="web-components-wrapper">
    <div class="web-components-aside">
      <div class="tab-container tab-line tab-vertical tab-primary">
        <ng-container *ngFor="let item of componentsList">
          <a class="tab-item" [routerLink]="item.fragment" routerLinkActive="active">
            <span>{{item.name}}</span>
          </a>
        </ng-container>
      </div>
    </div>
    <div class="web-components-main">
      <router-outlet></router-outlet>
    </div>
  </section>
</section>

