<div class="add-edit-employee-page">
  <div class="modal-header with-border">
    <div *ngIf="!this.data" class="display-flex employee-add-edit-page-header flex-align-items-center">
      <app-circular-icon [config]="{iconName: 'far fa-user-plus', color:'primary'}"></app-circular-icon>
      <h5 class="modal-title text-primary">{{'MOD_EMPLOYEES.MOD_ADD_EDIT_EMPLOYEE.ADD_TITLE' | translate}}</h5>
    </div>
    <div *ngIf="this.data" class="display-flex employee-add-edit-page-header flex-align-items-center">
      <app-circular-icon [config]="{iconName: 'far fa-user-edit', color:'primary'}"></app-circular-icon>
      <h5 class="modal-title text-primary">{{'MOD_EMPLOYEES.MOD_ADD_EDIT_EMPLOYEE.EDIT_TITLE' | translate}}</h5>
    </div>
    <div class="modal-close">
      <button class="icon-btn icon-btn-circular btn-link-light" mat-dialog-close>
        <i class="font-icon far fa-times"></i>
      </button>
    </div>
  </div>

  <form [formGroup]="employeeForm" [id]="employeeFormID">
    <div class="modal-body">
      <div class="form-group"
           [class.has-error]="employeeForm.controls['first_name'].touched && employeeForm.controls['first_name'].errors?.required">
        <label for="first_name"
               class="form-label">{{'MOD_EMPLOYEES.MOD_ADD_EDIT_EMPLOYEE.FIRST_NAME_LABEL'| translate}}</label>
        <input type="text" name="first_name" id="first_name" formControlName="first_name" class="form-control"
               placeholder="{{'MOD_EMPLOYEES.MOD_ADD_EDIT_EMPLOYEE.FIRST_NAME_PLACEHOLDER'| translate}}"/>
        <span class="nico-tooltip"
              *ngIf="employeeForm.controls['first_name'].touched && employeeForm.controls['first_name'].errors?.required">
                  {{'MOD_EMPLOYEES.MOD_ADD_EDIT_EMPLOYEE.FIRST_NAME_LABEL' | translate}} {{'MOD_COMMON.IS_REQUIRED_LABEL' | translate}}
          </span>
      </div>

      <div class="form-group">
        <label for="middle_name"
               class="form-label">{{'MOD_EMPLOYEES.MOD_ADD_EDIT_EMPLOYEE.MIDDLE_NAME_LABEL'|translate}}
          <span
            class="text-small text-muted ml-xxs">{{'MOD_EMPLOYEES.MOD_ADD_EDIT_EMPLOYEE.OPTIONAL_LABEL'|translate}}
            </span>
        </label>
        <input type="text" name="middle_name" id="middle_name" formControlName="middle_name" class="form-control"
               placeholder="{{'MOD_EMPLOYEES.MOD_ADD_EDIT_EMPLOYEE.MIDDLE_NAME_PLACEHOLDER'| translate}}"/>
      </div>

      <div class="form-group"
           [class.has-error]="employeeForm.controls['last_name'].touched && employeeForm.controls['last_name'].errors?.required">
        <label for="last_name" class="form-label">{{'MOD_EMPLOYEES.MOD_ADD_EDIT_EMPLOYEE.LAST_NAME_LABEL'| translate}}
        </label>
        <input type="text" name="last_name" id="last_name" formControlName="last_name" class="form-control"
               placeholder="{{'MOD_EMPLOYEES.MOD_ADD_EDIT_EMPLOYEE.LAST_NAME_PLACEHOLDER'| translate}}"/>
        <span class="nico-tooltip"
              *ngIf="employeeForm.controls['last_name'].touched && employeeForm.controls['last_name'].errors?.required">
                  {{'MOD_EMPLOYEES.MOD_ADD_EDIT_EMPLOYEE.LAST_NAME_LABEL' | translate}} {{'MOD_COMMON.IS_REQUIRED_LABEL' | translate}}
          </span>
      </div>

      <div class="form-group">
        <label class="form-label">{{'MOD_EMPLOYEES.MOD_ADD_EDIT_EMPLOYEE.GENDER_LABEL'| translate}}</label>
        <div class="display-flex" id="gender">
          <label class="radio-form-control radio" *ngFor="let genderObj of genders">
            <input class="radio-input" type="radio" formControlName="gender" name="gender" [value]="genderObj.id"/>
            <span class="radio-label">{{genderObj.gender}}</span>
          </label>
        </div>
      </div>

      <div class="form-group"
           [class.has-error]="employeeForm.controls['email'].touched && (employeeForm.controls['email'].errors?.required || employeeForm.controls['email'].errors?.email || employeeForm.controls['email'].errors?.pattern)">
        <label for="email" class="form-label">{{'MOD_EMPLOYEES.MOD_ADD_EDIT_EMPLOYEE.EMAIL_LABEL'|translate}}</label>
        <input type="email" name="email" id="email" formControlName="email" class="form-control"
               placeholder="{{'MOD_EMPLOYEES.MOD_ADD_EDIT_EMPLOYEE.EMAIL_PLACEHOLDER'| translate}}"
        />
        <span class="nico-tooltip"
              *ngIf="employeeForm.controls['email'].touched && employeeForm.controls['email'].errors?.required">
                  {{'MOD_EMPLOYEES.MOD_ADD_EDIT_EMPLOYEE.EMAIL_LABEL' | translate}} {{'MOD_COMMON.IS_REQUIRED_LABEL' | translate}}
          </span>
        <span class="nico-tooltip"
              *ngIf="employeeForm.controls['email'].touched && (employeeForm.controls['email'].errors?.email || employeeForm.controls['email'].errors?.pattern)">
                  {{'MOD_EMPLOYEES.MOD_ADD_EDIT_EMPLOYEE.INVALID_EMAIL_LABEL' | translate}}
          </span>
      </div>

      <div class="form-group"
           [class.has-error]="employeeForm.controls['dob'].touched && employeeForm.controls['dob'].errors?.required ">
        <label for="dob" class="form-label">{{'MOD_EMPLOYEES.MOD_ADD_EDIT_EMPLOYEE.DATE_OF_BIRTH_LABEL'|translate}}
        </label>
        <div class="date-picker-input">
          <input id="dob" readonly class="form-control" [max]="today" formControlName="dob" [matDatepicker]="dob"
                 (focus)="dob.open()"
                 placeholder="{{'MOD_EMPLOYEES.MOD_ADD_EDIT_EMPLOYEE.DATE_OF_BIRTH_PLACEHOLDER'| translate}}">
          <mat-datepicker-toggle [for]="dob" matSuffix></mat-datepicker-toggle>
          <mat-datepicker #dob></mat-datepicker>
        </div>
        <span class="nico-tooltip"
              *ngIf="employeeForm.controls['dob'].touched && employeeForm.controls['dob'].errors?.required">
                  {{'MOD_EMPLOYEES.MOD_ADD_EDIT_EMPLOYEE.DATE_OF_BIRTH_LABEL' | translate}} {{'MOD_COMMON.IS_REQUIRED_LABEL' | translate}}
          </span>
      </div>

      <div class="form-group">
        <label class="form-label">{{'MOD_EMPLOYEES.MOD_ADD_EDIT_EMPLOYEE.MARTIAL_STATUS_LABEL'|translate}}</label>
        <div class="display-flex" id="marital_status">
          <label class="radio-form-control radio" *ngFor="let maritalStatusObj of maritalStatus">
            <input class="radio-input" type="radio" formControlName="marital_status" name="marital_status"
                   [value]="maritalStatusObj.id"/>
            <span class="radio-label">{{maritalStatusObj.status}}</span>
          </label>
        </div>
      </div>

      <div class="form-group"
           [class.has-error]="employeeForm.controls['personal_email'].touched && (employeeForm.controls['personal_email'].errors?.required || employeeForm.controls['personal_email'].errors?.email || employeeForm.controls['personal_email'].errors?.pattern)">
        <label for="personal_email"
               class="form-label">{{'MOD_EMPLOYEES.MOD_ADD_EDIT_EMPLOYEE.PERSONAL_EMAIL_LABEL'| translate}}</label>
        <input type="email" name="personal_email" id="personal_email" formControlName="personal_email"
               class="form-control"
               placeholder="{{'MOD_EMPLOYEES.MOD_ADD_EDIT_EMPLOYEE.PERSONAL_EMAIL_PLACEHOLDER'| translate}}"/>
        <span class="nico-tooltip"
              *ngIf="employeeForm.controls['personal_email'].touched && employeeForm.controls['personal_email'].errors?.required">
                  {{'MOD_EMPLOYEES.MOD_ADD_EDIT_EMPLOYEE.PERSONAL_EMAIL_LABEL' | translate}} {{'MOD_COMMON.IS_REQUIRED_LABEL' | translate}}
          </span>
        <span class="nico-tooltip"
              *ngIf="employeeForm.controls['personal_email'].touched && (employeeForm.controls['personal_email'].errors?.email || employeeForm.controls['personal_email'].errors?.pattern)">
                  {{'MOD_EMPLOYEES.MOD_ADD_EDIT_EMPLOYEE.INVALID_EMAIL_LABEL' | translate}}
          </span>
      </div>

      <div class="form-group"
           [class.has-error]="employeeForm.controls['joined_at'].touched && employeeForm.controls['joined_at'].errors?.required ">
        <label for="joined_at" class="form-label">{{'MOD_EMPLOYEES.MOD_ADD_EDIT_EMPLOYEE.JOIN_DATE_LABEL'|translate}}
          <app-form-info-tooltip
            [tooltipData]="'MOD_EMPLOYEES.MOD_ADD_EDIT_EMPLOYEE.JOIN_DATE_INFO_LABEL'"></app-form-info-tooltip>
        </label>
        <div class="date-picker-input">
          <input id="joined_at" readonly [max]="today" class="form-control" formControlName="joined_at"
                 [matDatepicker]="joined_at" (focus)="joined_at.open()" [disabled]="data && data.joined_at"
                 placeholder="{{'MOD_EMPLOYEES.MOD_ADD_EDIT_EMPLOYEE.JOINED_AT_PLACEHOLDER'| translate}}">
          <mat-datepicker-toggle [for]="joined_at"></mat-datepicker-toggle>
          <mat-datepicker #joined_at></mat-datepicker>
        </div>
        <span class="nico-tooltip"
              *ngIf="employeeForm.controls['joined_at'].touched && employeeForm.controls['joined_at'].errors?.required">
                  {{'MOD_EMPLOYEES.MOD_ADD_EDIT_EMPLOYEE.JOIN_DATE_LABEL' | translate}} {{'MOD_COMMON.IS_REQUIRED_LABEL' | translate}}
          </span>
      </div>

      <div class="form-group"
           [class.has-error]="employeeForm.controls['position'].touched && employeeForm.controls['position'].errors?.required ">
        <label for="position" class="form-label">{{'MOD_EMPLOYEES.MOD_ADD_EDIT_EMPLOYEE.POSITION_LABEL'| translate}}
        </label>
        <input type="text" name="position" id="position" formControlName="position" class="form-control"
               placeholder="{{'MOD_EMPLOYEES.MOD_ADD_EDIT_EMPLOYEE.POSITION_PLACEHOLDER'| translate}}"/>
        <span class="nico-tooltip"
              *ngIf="employeeForm.controls['position'].touched && employeeForm.controls['position'].errors?.required">
                  {{'MOD_EMPLOYEES.MOD_ADD_EDIT_EMPLOYEE.POSITION_LABEL'| translate}} {{'MOD_COMMON.IS_REQUIRED_LABEL' | translate}}
          </span>
      </div>
      <div class="form-group">
        <label for="department_id"
               class="form-label">{{'MOD_EMPLOYEES.MOD_ADD_EDIT_EMPLOYEE.DEPARTMENT_LABEL'| translate}}</label>
        <ng-template #dropDownItemTemplate let-item="item">
          <span>{{ item.title }}</span>
        </ng-template>
        <nico-advanced-select class="w-100" id="department_id"
                              [value]="data?{id: data?.department_id ,title: data?.department }: null"
                              [config]="config" [remote]="true" [url]="url"
                              [remoteQueryParams]="advanceSelectQueryParams"
                              (pick)="setDepartmentId($event)">
        </nico-advanced-select>
        <span class="nico-tooltip"
              *ngIf="employeeForm.controls['department_id'].touched && employeeForm.controls['department_id'].errors?.required">
                  {{'MOD_EMPLOYEES.MOD_ADD_EDIT_EMPLOYEE.DEPARTMENT_LABEL'| translate}} {{'MOD_COMMON.IS_REQUIRED_LABEL' | translate}}
          </span>
      </div>
      <div class="form-group">
        <label for="pan_no"
               class="form-label">{{'MOD_EMPLOYEES.MOD_ADD_EDIT_EMPLOYEE.PAN_NO_LABEL' | translate}}  <span
          class="text-small text-muted ml-xxs">{{'MOD_EMPLOYEES.MOD_ADD_EDIT_EMPLOYEE.OPTIONAL_LABEL'|translate}}</span></label>
        <input appOnlyNumber type="number" name="pan_no" id="pan_no" formControlName="pan_no" class="form-control"
               placeholder="{{'MOD_EMPLOYEES.MOD_ADD_EDIT_EMPLOYEE.PAN_NO_PLACEHOLDER'| translate}}"/>
      </div>
    </div>
    <div class="modal-footer with-border display-flex flex-justify-content-end">
      <button class="btn btn-outline-light cancel-btn"
              mat-dialog-close> {{'MOD_EMPLOYEES.MOD_ADD_EDIT_EMPLOYEE.CANCEL_BUTTON_LABEL'| translate}}</button>
      <button [disabled]="employeeForm.invalid" type="submit" (click)="onSubmitForm()" class="btn btn-primary save">
        <span>{{'MOD_EMPLOYEES.MOD_ADD_EDIT_EMPLOYEE.SAVE_BUTTON_LABEL'| translate}}</span></button>
    </div>
  </form>
</div>

