<nav class="side-nav {{isOpen ? 'opened' : 'closed'}} {{isPinned ? 'pinned' : ''}}" (mouseover)="onMouseOver($event)"
  (mouseout)="onMouseOut($event)">
  <!--
  <div class="side-nav-logo-container">
    <div class="side-nav-logo"></div>
  </div>
  -->
  <div class="side-nav-toggle">
    <button class="icon-btn icon-btn-circular toggle-menu-btn" (click)='toggleSideNavPinnedState($event)'>
      <i *ngIf="screenWidth > 600" class="font-icon far {{isPinned ? 'fa-align-right' : 'fa-bars'}}"></i>
      <i *ngIf="screenWidth < 600" class="font-icon far {{isPinned ? 'fa-times' : 'fa-bars'}}"></i>
    </button>
  </div>
  <ul class="side-nav-container">
    <ng-container *ngFor="let navItem of sideNavLinks">
      <li class="side-nav-link-container" *ngIf="navItem.role !== roleEnum.Employee"
        [class.active]="isLinkActive(navItem)">
        <a class="side-nav-link" [routerLink]="navItem.link" [class.active]="isLinkActive(navItem)">
          <span class="side-nav-item" [class.is-open]="navItem.isOpen" (click)="toggleChildrenNavItems($event, navItem)"
            [matTooltip]="navItem.label" [matTooltipDisabled]="isOpen"
            [matTooltipPosition]="'after'" [matTooltipShowDelay]="100">
            <span class="icon-container">
              <i class="font-icon" [class]="navItem.icon"></i>
            </span>
            <span class="label">{{navItem.label}}</span>
            <span class="accordion-indicator" *ngIf="navItem.children">
              <i class="font-icon far fa-chevron-right"></i>
            </span>
          </span>
        </a>

        <ng-container *ngIf="navItem.children && navItem.isOpen">
          <span class="side-nav-sub-child-container" @accordionAnimation>
            <ng-container *ngFor="let childNavItem of navItem.children">
              <a class="side-nav-link" *ngIf="childNavItem.role !== roleEnum.Employee" [routerLink]="childNavItem.link"
                routerLinkActive="active">
                <span class="side-nav-item" [class.is-open]="childNavItem.isOpen"
                  (click)="toggleChildrenNavItems($event, childNavItem)" [matTooltip]="childNavItem.label"
                  [matTooltipDisabled]="isOpen" [matTooltipPosition]="'after'"
                  [matTooltipShowDelay]="100">
                  <span class="icon-container">
                    <i class="font-icon" [class]="childNavItem.icon"></i>
                  </span>
                  <span class="label">{{childNavItem.label}}</span>
                  <span class="accordion-indicator" *ngIf="childNavItem.children">
                    <i class="font-icon far fa-chevron-right"></i>
                  </span>
                </span>
              </a>
              <ng-container *ngIf="childNavItem.children && childNavItem.isOpen">
                <span class="side-nav-sub-child-container" @accordionAnimation>
                  <ng-container *ngFor="let subChildNavItem of childNavItem.children">
                    <a class="side-nav-link" [routerLink]="subChildNavItem.link" routerLinkActive="active">
                      <span class="side-nav-item" [matTooltip]="subChildNavItem.label" [matTooltipDisabled]="isOpen"
                        [matTooltipPosition]="'after'" [matTooltipShowDelay]="100">
                        <span class="icon-container">
                          <i class="font-icon" [class]="subChildNavItem.icon"></i>
                        </span>
                        <span class="label">{{subChildNavItem.label}}</span>
                      </span>
                    </a>
                  </ng-container>
                </span>
              </ng-container>
            </ng-container>
          </span>
        </ng-container>
      </li>
    </ng-container>
  </ul>
  <!--
   <ul class="child-side-nav-container"></ul>
   -->
</nav>