<div class="auth-page login-page">
  <div class="container">
    <div class="logo">
      <img src="assets/images/logo.svg" alt="company logo">
    </div>
    <div class="grid-row">
      <div class="col-md-6">
        <div class="info">
          <h1 class="main-title">{{'MOD_AUTH.MOD_LOGIN.PAGE_TITLE' | translate}}</h1>
          <h4 class="subtitle">{{'MOD_AUTH.MOD_LOGIN.PAGE_TITLE_SUBTEXT' | translate}}</h4>
          <!--<img src="assets/images/undraw_login.svg" alt="login illustration"/>-->
        </div>
      </div>

      <div class="col-md-6">
        <div class="card auth-card">
          <h2 class="text-primary mb-lg">{{'MOD_AUTH.MOD_LOGIN.SITE_LOGIN_TEXT' | translate}}</h2>
          <div class="credential-login">
            <form [formGroup]="loginFormGroup" [id]="loginFormId" *ngIf="loginFormGroup">
              <div class="form-group"
                   [class.has-error]="loginFormGroup.controls['username'].touched && loginFormGroup.controls['username'].errors?.required">
                <label for="username" class="form-label">{{'MOD_AUTH.MOD_LOGIN.USERNAME_LABEL' | translate}}</label>
                <input type="text" id="username" class="form-control form-control-lg"
                       [placeholder]="'MOD_AUTH.MOD_LOGIN.USERNAME_PLACEHOLDER' | translate"
                       formControlName="username"/>
                <span class="nico-tooltip"
                      *ngIf="loginFormGroup.controls['username'].touched && loginFormGroup.controls['username'].errors?.required">
                  {{'MOD_AUTH.MOD_LOGIN.USERNAME_LABEL' | translate}} {{'MOD_COMMON.IS_REQUIRED_LABEL' | translate}}
                </span>
              </div>
              <div class="form-group"
                   [class.has-error]="loginFormGroup.controls['password'].touched && loginFormGroup.controls['password'].errors?.required">
                <label for="password" class="form-label">{{"MOD_AUTH.MOD_LOGIN.PASSWORD_LABEL" | translate}}</label>
                <div class="input-group password-input-group">
                  <input class="form-control form-control-lg"
                         appToggle
                         placeholder="{{'MOD_AUTH.MOD_LOGIN.PASSWORD_PLACEHOLDER' | translate}}"
                         formControlName="password"
                  />
                </div>
                <span class="nico-tooltip"
                      *ngIf="loginFormGroup.controls['password'].touched && loginFormGroup.controls['password'].errors?.required">
                  {{'MOD_AUTH.MOD_LOGIN.PASSWORD_LABEL' | translate}} {{'MOD_COMMON.IS_REQUIRED_LABEL' | translate}}
                </span>
              </div>
              <a routerLink="/auth/forgot-password" class="link">
                {{'MOD_AUTH.MOD_LOGIN.FORGOT_PASSWORD_LABEL' | translate}}
              </a>
              <button class="btn btn-primary btn-block" (click)="onFormSubmit()">
                <!--                <button class="btn btn-primary btn-block" (click)="onFormSubmit()" [class.loading]="isLoading">-->
                <!--                <app-static-spinner size="2rem" *ngIf="isLoading"></app-static-spinner>-->
                <span>{{'MOD_AUTH.MOD_LOGIN.SUBMIT_BUTTON_LABEL' | translate}} </span>
              </button>
            </form>
          </div>
          <div class="or-label">
            <span>{{'MOD_AUTH.MOD_LOGIN.OR_LABEL' | translate}}</span>
          </div>
<!--          <div class="provider-login">-->
<!--            <div class="providers">-->
<!--              <a [href]="env.googleProvider" class="card elevation-flat with-hover-style provider-card">-->
<!--                <img src="assets/images/search.png"-->
<!--                     alt="google login provider">{{'MOD_AUTH.MOD_LOGIN.GOOGLE_SIGN_IN_TEXT' | translate}}-->
<!--              </a>-->
<!--              <a [href]="env.microsoftProvider" class="card elevation-flat with-hover-style provider-card">-->
<!--                <img src="assets/images/microsoft.png"-->
<!--                     alt="microsoft login provider">{{'MOD_AUTH.MOD_LOGIN.MICROSOFT_SIGN_IN_TEXT' | translate}}-->
<!--              </a>-->
<!--            </div>-->
<!--          </div>-->
        </div>
      </div>
    </div>
  </div>
</div>
