<div class="page-department-info">
  <!--  Page header  -->
  <div class="page-header with-border">
    <div class="page-header-left">
      <h4 class="page-header-title">{{'MOD_DEPARTMENT.MOD_VIEW_DEPARTMENT.PAGE_TITLE' | translate}}</h4>
    </div>
  </div>
  <div class="grid-row" *ngIf="model">
    <!-- Tab List-->
    <div class="col-lg-3">
      <div class="card px-zero sticky-side-nav">
        <div class="main-info pl-sm">
          <div class="display-flex mb-md">
            <app-circular-icon [config]="{iconName: 'far fa-briefcase', color: 'primary'}"></app-circular-icon>
            <div class="ml-sm">
              <h5 class="title capitalize mb-xxs">{{model?.title}}</h5>
              <span class="subtitle mb-xs" *ngIf="model?.employees_count === 0; else oneEmployee">
                  {{'MOD_DEPARTMENT.EMPLOYEE_COUNT_ZERO' | translate}}
                </span>
              <ng-template #oneEmployee>
                  <span class="subtitle" *ngIf="model?.employees_count === 1; else manyEmployees">
                    {{model?.employees_count}}
                    {{'MOD_DEPARTMENT.EMPLOYEE_COUNT_SINGULAR' | translate}}
                  </span>
              </ng-template>
              <ng-template #manyEmployees>
                  <span class="subtitle" *ngIf="model?.employees_count > 1">
                    {{model?.employees_count}}
                    {{'MOD_DEPARTMENT.EMPLOYEE_COUNT_PLURAL' | translate}}
                  </span>
              </ng-template>
              <div>
                <app-status-pill [status]="model.status"></app-status-pill>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-container tab-line tab-vertical tab-primary">
          <ng-container *ngFor="let item of componentsList">
            <a class="tab-item" [routerLink]="item.link" routerLinkActive="active">
              <i [class]="item.icon" class="mr-sm"></i>
              <span>{{item.name}}</span>
            </a>
          </ng-container>
        </div>
      </div>
    </div>

    <!--  Child Route  -->
    <div class="col-lg-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
