<!-- Tab -->
<div class="card" id="tab">
  <div class="card-header with-border">
    <h4 class="title">Tab</h4>
  </div>
  <div class="card-body">
    <div class="card elevation-flat mb-xl">
      <div class="card-header with-border">
        <div class="title">Vertical Line Tab</div>
      </div>
      <div class="card-body">
        <div class="grid-row" style="grid-row-gap: 2rem">
          <div class="col-lg-6">
            <div class="tab-container tab-line tab-vertical">
              <div class="tab-item active">
                <i class="font-icon far fa-home"></i>
                <span>Home</span>
              </div>
              <div class="tab-item">
                <i class="font-icon far fa-cog"></i>
                <span>Settings</span></div>
              <div class="tab-item">
                <i class="font-icon far fa-user"></i>
                <span>User</span>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="tab-container tab-line tab-vertical tab-accent">
              <div class="tab-item active">
                <i class="font-icon far fa-calendar"></i>
                <span>Calendar</span>
              </div>
              <div class="tab-item">
                <i class="font-icon far fa-building"></i>
                <span>Building</span></div>
              <div class="tab-item">
                <i class="font-icon far fa-bell"></i>
                <span>Bell</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card elevation-flat mb-xl">
      <div class="card-header with-border">
        <div class="title">Horizontal Line Tab</div>
      </div>
      <div class="card-body">
        <div class="grid-row" style="grid-row-gap: 2rem">
          <!-- Auto Width -->
          <div class="col-lg-6">
            <div class="card elevation-flat">
              <div class="card-header with-border">
                <div class="title">Auto width</div>
              </div>
              <div class="card-body">
                <div class="tab-container tab-line tab-horizontal">
                  <div class="tab-item">
                    <i class="font-icon far fa-bus"></i>
                    <span>Bus</span>
                  </div>
                  <div class="tab-item">
                    <i class="font-icon far fa-camera"></i>
                    <span>Camera</span></div>
                  <div class="tab-item active">
                    <i class="font-icon far fa-shopping-cart"></i>
                    <span>Cart</span>
                  </div>
                </div>
                <div class="tab-container tab-line tab-horizontal tab-accent mt-md">
                  <div class="tab-item active">
                    <i class="font-icon far fa-circle"></i>
                    <span>Circle</span>
                  </div>
                  <div class="tab-item">
                    <i class="font-icon far fa-square"></i>
                    <span>Square</span></div>
                  <div class="tab-item">
                    <i class="font-icon far fa-cloud"></i>
                    <span>Cloud</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Same Width -->
          <div class="col-lg-6">
            <div class="card elevation-flat">
              <div class="card-header with-border">
                <div class="title">Same width</div>
              </div>
              <div class="card-body">
                <div class="tab-container tab-line tab-horizontal same-width">
                  <div class="tab-item">
                    <i class="font-icon far fa-bus"></i>
                    <span>Bus</span>
                  </div>
                  <div class="tab-item">
                    <i class="font-icon far fa-camera"></i>
                    <span>Camera</span></div>
                  <div class="tab-item active">
                    <i class="font-icon far fa-shopping-cart"></i>
                    <span>Cart</span>
                  </div>
                </div>
                <div class="tab-container tab-line tab-horizontal tab-accent same-width mt-md">
                  <div class="tab-item active">
                    <i class="font-icon far fa-circle"></i>
                    <span>Circle</span>
                  </div>
                  <div class="tab-item">
                    <i class="font-icon far fa-square"></i>
                    <span>Square</span></div>
                  <div class="tab-item">
                    <i class="font-icon far fa-cloud"></i>
                    <span>Cloud</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card elevation-flat mb-xl">
      <div class="card-header with-border">
        <div class="title">Solid Tab</div>
      </div>
      <div class="card-body">
        <div class="card elevation-flat">
          <div class="grid-row" style="grid-row-gap: 2rem">
            <div class="col-lg-6">
              <div class="tab-container tab-solid">
                <div class="tab-item active">
                  <i class="font-icon far fa-desktop"></i>
                  <span>Desktop</span>
                </div>
                <div class="tab-item">
                  <i class="font-icon far fa-dice"></i>
                  <span>Dice</span></div>
                <div class="tab-item">
                  <i class="font-icon far fa-crown"></i>
                  <span>Crown</span>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="tab-container tab-solid tab-accent">
                <div class="tab-item">
                  <i class="font-icon far fa-coin"></i>
                  <span>Coin</span>
                </div>
                <div class="tab-item">
                  <i class="font-icon far fa-comment"></i>
                  <span>Comment</span></div>
                <div class="tab-item active">
                  <i class="font-icon far fa-copy"></i>
                  <span>Copy</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
