<div class="row-container notification-row-container {{notificationReadStatus ? null : 'notification-row-unread'}}">
  <span class="notification-row-date-time">
    <nico-date [value]="item?.dateTime" [countUp]="true" [format]="'MMM DD, YYYY hh:mm:ss a'"></nico-date>
  </span>
  <app-circular-icon [config]="{iconName: 'far fa-home', color: type, containerClassName: 'notification-circular-icon-container'}"></app-circular-icon>
  <div class="row-left-section">
    <div class="row-info">
      <span class="notification-row-header">{{item?.title}}</span>
      <span class="notification-row-title">{{item?.subtitle}}</span>
      <span class="notification-row-details">{{item?.message}}</span>
    </div>
  </div>
</div>

