<ng-container *ngIf="!lazyLoading">
  <section aria-label="pagination" class="pagination-container">
    <div class="pagination-links">
      <ul class="pagination" *ngIf="size>0 && totalPages>1">
        <li (click)="selectPage(1)" *ngIf="currentPage !== 1" class="page-item">
          <a title="{{'mod_pagination.first_page_label'| translate}}" [class.disabled]="currentPage == 1"
             class="page-link">
            <i class="fa fa-angle-double-left"></i>
          </a>
        </li>
        <li (click)="selectPage(currentPage - 1)" *ngIf="currentPage !== 1" class="page-item">
          <a aria-label="Previous" title="{{'mod_pagination.previous_page_label'| translate}}" class="page-link">
            <span aria-hidden="true"><i class="fa fa-angle-left"></i></span>
          </a>
        </li>
        <li class="disabled page-item" *ngIf="(currentPage - range) > 1">
          <a class="page-link">...</a>
        </li>
        <ng-container *ngFor="let page of pages; let i=index">
          <li *ngIf="startIndex + i > 0 " class="page-item">
            <a (click)="selectPage(startIndex + i )" [class.active]="startIndex + i === currentPage"
               class="page-link">{{ startIndex + i}}</a>
          </li>
        </ng-container>

        <li class="disabled page-item" *ngIf="(currentPage + range) < totalPages">
          <a class="page-link">...</a>
        </li>
        <li (click)="selectPage(currentPage + 1)" *ngIf="currentPage !== totalPages" class="page-item">
          <a aria-label="Next" title="{{'mod_pagination.next_page_label'| translate}}" class="page-link">
            <span aria-hidden="true"><i class="fa fa-angle-right"></i></span>
          </a>
        </li>
        <li (click)="selectPage(totalPages)" *ngIf="currentPage !== totalPages" class="page-item">
          <a aria-label="Last Page" class="page-link" title="{{'mod_pagination.last_page_label'| translate}}"
             [class.disabled]="currentPage == totalPages">
            <i class="fa fa-angle-double-right"></i>
          </a>
        </li>
      </ul>
    </div>
    <div class="pagination-per-page-selector" *ngIf="size>16">
      <label for="perPageLimit" class="label">Items per page:</label>
      <select name="perPageLimit" id="perPageLimit" class="form-control select-form-control" [(ngModel)]="limit"
              (ngModelChange)="onPageLimitChange($event)">
        <option value="16">16</option>
        <option value="32" *ngIf="size>=32">32</option>
        <option value="48" *ngIf="size>=48">48</option>
        <option value="64" *ngIf="size>=64">64</option>
        <option value="all" *ngIf="showAllOption">All</option>
      </select>
    </div>
  </section>
</ng-container>
