<div class="decline-leave-page">
  <div class="modal-header with-border">
    <h5 class="title m-zero">{{data?.message}}</h5>
    <div class="modal-close">
      <button class="icon-btn icon-btn-circular btn-link-light" mat-dialog-close>
        <i class="font-icon far fa-times"></i>
      </button>
    </div>
  </div>
  <div class="modal-body">
    <div>
      <form [formGroup]="declineForm" [id]="declineFormID">
      <div class="form-group"
           [class.has-error]="declineForm.controls['reason'].touched && declineForm.controls['reason'].errors?.required">
        <label for="reason" class="form-label">
          {{'MOD_LEAVE.REASON_LABEL'| translate}}
        </label>
        <textarea type="text" name="reason" id="reason" formControlName="reason" class="form-control"
                  placeholder="{{'MOD_LEAVE.REASON_PLACEHOLDER'| translate}}"></textarea>
        <span class="nico-tooltip"
              *ngIf="declineForm.controls['reason'].touched && declineForm.controls['reason'].errors?.required">
                 {{'MOD_LEAVE.REASON_LABEL' | translate}}{{'MOD_COMMON.IS_REQUIRED_LABEL' | translate}}
          </span>
      </div>
      </form>
    </div>
  </div>
  <div class="modal-footer with-border">
    <button class="btn btn-outline-light" id="close-btn" mat-dialog-close>
      {{'MOD_DEPARTMENT.MOD_EDIT_DEPARTMENT.CANCEL_BUTTON_LABEL'| translate}}
    </button>
    <button (click)="onConfirmDecline()" type="submit" [disabled]="declineForm.invalid"
            class="btn btn-primary save">
      {{'MOD_LEAVE.CONFIRM_LABEL'| translate}}
    </button>
  </div>
</div>
