<div class="allocated-leaves-page">
    <div class="mb-md">
      <h4 class="card-title">{{pageTitle}}</h4>
    </div>
    <div class="grid-row" *ngIf="model">
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12  mb-sm" *ngFor="let leave of model">
        <div class="card info-card h-100">
          <div class="card-header">
            <app-circular-icon [config]="{iconName: 'far fa-calendar-minus' , color: 'primary'}"></app-circular-icon>
          </div>
          <div class="mb-md">
            <h5 class="m-zero mb-xs capitalize text-truncate">{{leave.title}}</h5>
            <p class="text-primary m-zero mb-xs">{{leave.days}} {{leave.days > 1 ? ('MOD_ALLOCATED_LEAVE.DAYS_LABEL'| translate): ('MOD_ALLOCATED_LEAVE.DAY_LABEL'| translate)}}</p>
            <p class="text-muted">{{leave.type | titlecase}} {{'MOD_ALLOCATED_LEAVE.LEAVE_LABEL'| translate}}</p>
            <div>
              <div class="display-flex flex-justify-content-space-between mb-xs">
                <div class="display-flex flex-align-items-center">
                  <i class="far fa-calendar-star text-primary mr-xs"></i>
                  <p class="m-zero">{{'MOD_ALLOCATED_LEAVE.START_DATE_LABEL'| translate}}</p>
                </div>
                <nico-date [value]="leave.start_date" format="YYYY-MM-DD" ></nico-date>
              </div>
              <div class="display-flex flex-justify-content-space-between">
                <div class="display-flex flex-align-items-center">
                  <i class="far fa-calendar-exclamation text-primary mr-xs"></i>
                  <p class="m-zero">{{'MOD_ALLOCATED_LEAVE.END_DATE_LABEL'| translate}}</p>
                </div>
                <nico-date [value]="leave.end_date" format="YYYY-MM-DD" ></nico-date>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="model">
      <div *ngIf="model.length <= 0">
        <app-empty-state></app-empty-state>
      </div>
    </div>
  </div>

