<!-- Modal -->
<div class="card" id="modal">
  <div class="card-header with-border">
    <h4 class="title">Modal</h4>
  </div>
  <div class="card-body">
    <ul class="list-group">
      <li class="list-item py-md">
        <div class="grid-row">
          <div class="col-lg-4">
            <h6>Modal XS</h6>
            <pre>.modal-xs</pre>
          </div>
          <div class="col-lg-8">
            <button class="btn btn-primary m-sm" (click)="openModal('modal-xs')">
              Open Extra Small Modal
            </button>
          </div>
        </div>
      </li>
      <li class="list-item py-md">
        <div class="grid-row">
          <div class="col-lg-4">
            <h6>Modal SM</h6>
            <pre>.modal-sm</pre>
          </div>
          <div class="col-lg-8">
            <button class="btn btn-primary m-sm" (click)="openModal('modal-sm')">
              Open Small Modal
            </button>
          </div>
        </div>
      </li>
      <li class="list-item py-md">
        <div class="grid-row">
          <div class="col-lg-4">
            <h6>Modal MD</h6>
            <pre>.modal-md</pre>
          </div>
          <div class="col-lg-8">
            <button class="btn btn-primary m-sm" (click)="openModal('modal-md')">
              Open Medium Modal
            </button>
          </div>
        </div>
      </li>
      <li class="list-item py-md">
        <div class="grid-row">
          <div class="col-lg-4">
            <h6>Modal LG</h6>
            <pre>.modal-lg</pre>
          </div>
          <div class="col-lg-8">
            <button class="btn btn-primary m-sm" (click)="openModal('modal-lg')">
              Open Large Modal
            </button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
