<div class="staff-dashboard">
  <div class="today-container">
    <div class="section-header">
      <div class="left-container">
        <div class="title-container">
          <h3 class="title">Today</h3>
          <span class="subtitle">{{today | date}}</span>
        </div>
      </div>
    </div>
    <div class="grid-row attendance-section">
      <div class="col-lg-4">
        <div class="card h-100">
          <app-punch-in-out [showCurrentDate]="false"></app-punch-in-out>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card h-100" *ngIf="attendanceModel">
          <app-view-punch-in-out-history *ngIf="attendanceModel && employeeModel" [employeeModel]="employeeModel"
                                         [attendanceModel]="attendanceModel"></app-view-punch-in-out-history>
          <div class="total-calculation">
            <div class="totals display-flex">
              <span class="blue-circle circle-indicator"></span>
              <span>{{workHours}}</span>
            </div>
            <div class="totals display-flex">
              <span class="grey-circle circle-indicator"></span>
              <span>{{breakHours}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="records-container">
    <div class="section-header">
      <div class="left-container">
        <div class="title-container">
          <h3 class="title">Your records</h3>
          <span class="subtitle">{{(today.toLocaleDateString('default', {month: 'long'}))}}</span>
        </div>
      </div>
      <div class="right-container">
        <!--<button class="btn btn-outline-primary">
          Calendar view
        </button>-->
      </div>
    </div>
  </div>
  <div class="grid-row">
    <div class="col-md-12">
      <app-calendar
        *ngIf="employeeModel && calendarModel"
        [employeeModel]="employeeModel"
        [calendarModel]="calendarModel"
        (startEndDate)="getStartEndDate($event)"
      ></app-calendar>
    </div>
  </div>
  <div class="grid-row">
    <div class="col-md-12">
      <app-attendance-summary
        *ngIf="summaryModel"
        [employeeModel]="employeeModel"
        [summaryModel]="summaryModel"></app-attendance-summary>
    </div>
  </div>
  <div class="grid-row">
    <div class="col-md-12">
      <app-chart-daily-attendance
        #chartMonth *ngIf="employeeModel && calendarModel"
        [chartModel]="calendarModel"></app-chart-daily-attendance>
    </div>
  </div>
  <div class="grid-row">
    <div class="col-md-12">
      <app-chart-monthly-record
        #chartDaily *ngIf="employeeModel && calendarModel"
        [chartModel]="calendarModel"></app-chart-monthly-record>
    </div>
  </div>
</div>
