.attendance-today-summary-page {
  .summary-data {
    font-weight: bold;
    font-size: 1.2rem;
  }
}

.admin-report-page {
  .present-label {
    color: var(--hr-color-accent);
  }
  .absent-label {
    color: var(--hr-color-warning);
  }

  .late-check-in {
    color: var(--hr-color-warning);
  }
  .avg-check {
    color: var(--hr-color-primary);
    margin-right: var(--hr-space-sm);
  }

  .less-avg-working-hr {
    color: var(--hr-color-warning);
  }
  .avg-work-time {
    background-color: var(--hr-color-warning);
    border-radius: 50%;
  }
}

.admin-attendance-line-chart-page {
  .admin-line-chart {
    height: 40rem;
    width: 100%;
  }
}

.admin-attendance-page {
  .date-picker-form {
    width: 70%;
  }
}

.admin-employee-attendance-page {
  .attendance-table {
    width: 100%;
    border-collapse: collapse;
  }
  td {
    border-top: 1px solid var(--hr-color-border);
    border-left: 1px solid var(--hr-color-border);
    &:last-child {
      border-right: 1px solid var(--hr-color-border);
    }
  }
  tr {
    &:last-child {
      td {
        border-bottom: 1px solid var(--hr-color-border);
      }
    }
  }
  .attendance-data {
    text-align: center;
  }
  .holidays {
    color: var(--hr-color-danger);
  }
  .weekend {
    color: #9eabb7;
  }
  .absent {
    color: var(--hr-color-danger);
  }
  .half-leave {
    color: var(--hr-color-accent);
  }
}
