.auth-main-container{
  height: calc(100vh - 0px);
  width: 100%;
}
.auth-page {
  @include flexbox(row, center, center);
  min-height: 100%;
  background-image: var(--hr-backgroundImage-login);
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 0 var(--hr-space-lg);

  .auth-card {
    padding: 4rem;
    width: 100%;
    max-width: 40rem;
    margin: 0 auto;
  }

  .logo {
    position: absolute;
    top: 2rem;
    left: 2rem;

    img {
      width: 4rem;
    }
  }

  .btn-block {
    width: 100%;
    height: 3rem;
    max-height: 3rem;
  }
}

@include md() {
  .auth-page {
    .logo {
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

@include sm() {
  .auth-page {
    padding: var(--hr-space-md) 0 0;

    .auth-card {
      padding: var(--hr-space-lg);
    }
  }
}

@include custom-screen(480px) {
  .auth-page {
    .auth-card {
      padding: var(--hr-space-sm);
    }
  }
}

// ========================================
// Login Page
// ========================================

.login-page {

  .info {
    height: 100%;
    @include flexbox(column, flex-start, center);

    .main-title {
      font-weight: bold;
      font-size: clamp(1.25rem, 3.5vw, 2.5rem);
      margin-bottom: var(--hr-space-xs);
    }

    .subtitle {
      font-weight: normal;
      font-size: clamp(1rem, 1.75vw, 1.5rem);
      margin: 0;
    }

    img {
      width: 60%;
      height: auto;
    }

    @include md() {
      align-items: center;
      margin-bottom: var(--hr-space-md);
    }
  }

  .or-label {
    position: relative;
    text-align: center;
    height: var(--hr-space-xl);
    margin: var(--hr-space-sm) 0;
    color: var(--hr-color-subtitle);
    white-space: nowrap;

    > span {
      background-color: var(--hr-color-card-background);
      position: absolute;
      z-index: 1;
      padding: 0 var(--hr-space-sm);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: var(--hr-font-size-sm);
    }

    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background-color: var(--hr-color-border);
      position: absolute;
      top: 50%;
      z-index: 0;
    }
  }

  .provider-login {
    .providers {
      @include flexbox(row, center, center);
      flex-wrap: wrap;
      gap: var(--hr-space-sm);
      color: var(--hr-color-subtitle);
      white-space: nowrap;

      .provider-card {
        @include flexbox(row, center, center);
        flex: 1 1 0;
        height: var(--hr-space-xl);
        padding: 0 var(--hr-space-xs);
        font-size: var(--hr-font-size-sm);
        background-color: var(--hr-color-background-3);
        transition: background-color 0.3s ease, transform 0.3s ease;

        img {
          width: var(--hr-space-md);
          margin-right: var(--hr-space-sm);
        }

        &:hover {
          transform: translateY(-0.25rem);
          background-color: var(--hr-color-background-4);
        }
      }
    }
  }

  .credential-login {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .link {
      display: inline-block;
      margin-bottom: var(--hr-space-md);
    }
  }
}


// ========================================
// Forgot Password Page
// ========================================

.forgot-password-page {
  .go-back {
    position: absolute;
    left: 0;
    top: -3rem;
  }

  .email-sent{
    display: flex;
    flex-direction: column;
    align-items: center;

    .font-icon {
      font-size: var(--hr-space-xxl);
      margin-bottom: var(--hr-space-lg);
    }
  }
}
