.employee-page {

  .ml-auto {
    margin-left: auto;
  }

  .employee-header-title {
    color: var(--hr-color-primary);
  }

  .employee-header {
    .employee-header-content {
      display: flex;
      justify-content: space-between;
    }
  }

  .grid-row {
    .search {
      display: flex;
      justify-content: flex-end;

      button {
        margin-left: 15px;
      }
    }
  }

  /* Align head with body */
  .placeholder-div {
    width: 3rem;
  }
}

.page-employee-info {
  .basic-info {
    .card-detail-info {

      margin-bottom: var(--hr-space-md);

      .info-detail-block {
        i {
          margin-right: var(--hr-space-xs);
        }

        .info-title {
          font-weight: bold;
          font-size: 1.5rem;
          margin-bottom: var(--hr-space-xs);
        }

        .info-link {
          color: var(--hr-color-primary);
          margin-bottom: var(--hr-space-xs);

          i {
            color: var(--hr-color-primary);
          }

          span {
            color: var(--hr-color-primary);
          }
        }

        .info-position {
          margin-bottom: var(--hr-space-xs);
        }

        .info-email {
          color: var(--hr-color-primary);
          margin-top: var(--hr-space-xs);
        }

        .info-team {
          i {
            margin: 0;
            font-size: var(--hr-space-sm);
          }
        }
      }
    }
  }

  .tenure-info {
    .drop-down-icon {
      i {
        font-size: 1.25rem;
      }
    }

    .info-heading {
      font-size: 1.25rem;
    }
  }

  .grid-row {
    .tenure-info-icons {
      color: var(--hr-color-primary);
      font-size: 3rem;
    }

    .info-navigation {
      margin-bottom: var(--hr-space-xs);
    }

    .personal-info {
      margin-top: var(--hr-space-md);

      .personal-info-header {
        i {
          font-size: 1.25rem;
        }

        .info-heading {
          font-size: 1.25rem;
        }

        display: flex;
        justify-content: space-between;
      }
    }
  }
}

.employee-additional-info {
  .title-with-button {
    @include flexbox(row, center, flex-start);
  }

  .rep-icons {
    @include flexbox(row, center, flex-start);
  }

}

.basic-details-page{
  .tenure-info-icons{
    color: var(--hr-color-primary);
    font-size: 3rem;
  }
}
