.doc-thumbnail {
  height: 12rem;
  .thumb-img {
    width: 100%;
    height: 12rem;
    object-fit: cover;
    border-radius: var(--hr-border-radius);
  }
  .with-background {
    background-color: var(--hr-color-subtitle);
    color: var(--hr-color-white);
    @include flexbox(row, center, center);
    font-size: var(--hr-font-size-xxl);
  }
}
.doc-description {
  .name-and-flymenu {
    @include flexbox(row, center, flex-start);
    position: relative;
    padding-top: var(--hr-space-sm);
  }
}
