.decline-leave-page{
    #reason {
      height: 12rem;
    }
}

.leave-details-page{

  .display-box{

    border: 1px solid #B9C1CB;
  }
  .leave-type {
    display: flex;
    align-items: center;
    height: 3rem;
    padding: var(--hr-space-sm) var(--hr-space-sm) var(--hr-space-sm) var(--hr-space-sm);

  }
  .leave-description {
    height: 9rem;
    padding: var(--hr-space-sm) var(--hr-space-sm) var(--hr-space-sm) var(--hr-space-sm);
    margin-bottom: var(--hr-space-lg);
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    overflow: auto;
  }
  .leave-title{
    overflow-wrap: break-word;
    word-wrap: break-word;
  }
}


.personal-leave-page {

  .leave-chart{
    display: flex;
    overflow-x: auto;
  }

}


.request-leave-page{
  .info-icon {
    font-size: 1.5rem;
  }
}


.arrow-container{
  width: 30%;
}
