.punch-in-out {
  @include flexbox(column, center, center);

  .timesheet-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: var(--hr-space-md);

    .title {
      margin-bottom: 0;
    }
  }

  .time-chart {
    padding: var(--hr-space-md) 0;
  }

  .punch-in-out-actions {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: var(--hr-space-md);
    margin: var(--hr-space-md) 0;

    @include xs() {
      flex-wrap: wrap;
      gap: var(--hr-space-sm);
      margin: var(--hr-space-sm) 0;
    }
  }
}

.info-well {
  width: 100%;
  background-color: var(--hr-color-background-1);
  padding: var(--hr-space-xs) var(--hr-space-sm);
  border-radius: var(--hr-border-radius);
}

.work-time-container,
.punch-in-out-activity-container {
  .title {
    margin-bottom: var(--hr-space-md);
  }

  .punch-in-out-activity-content {
    .punch-in-out-activity-list {
      max-height: 24rem;
    }
  }
}

.timesheet {
  .modal-body {
    max-height: calc(60vh + 1rem);

    @include sm() {
      padding: var(--hr-space-sm);
    }
  }
  .punch-in-out-card {
    min-height: 100%;
    height: calc(60vh - 1.5rem);

    .punch-in-out-activity-container {
      height: calc(100% - 0.25rem);

      .punch-in-out-activity-content {
        height: calc(100% - 2.5rem);

        .punch-in-out-activity-list {
          max-height: 100%;
        }
      }
    }
  }

  .work-time-card {
    @include sm() {
      padding: var(--hr-space-sm);
    }

    .work-time-chart {
      max-width: 24rem;
      width: 100%;
      margin: 0 auto;
    }
  }
}
