.staff-dashboard {
  .blue-circle {
    background-color: var(--hr-color-primary);
  }

  .grey-circle {
    background-color: hsl(var(--hue-light), var(--saturation-light), var(--lightness-light));
  }

  .total-calculation {
    @include display-flex();
    @include justify-content(space-between);
    border-top: 1px solid var(--hr-color-border);
    padding-top: var(--hr-space-sm);
    margin-top: var(--hr-space-sm);
    font-size: var(--hr-font-size-sm);
  }

  .totals {
    @include flexbox(row, center, center);
  }

  .circle-indicator {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    margin-right: .5rem;
  }
}
