.web-components {
  display: block;

  pre {
    font-size: var(--hr-font-size-sm);
  }

  .web-components-header {
    top: 0;
    background-color: var(--hr-color-card-background);
    padding-top: var(--hr-space-sm);
    padding-bottom: var(--hr-space-sm);
    margin-bottom: var(--hr-space-xl);
    border-bottom: 1px solid var(--hr-color-form-border);
    z-index: $zIndex-100;
    @include position-sticky();

     > .container {
       display: flex;
       align-items: center;
       justify-content: space-between;
       max-width: 1400px;
     }
  }

  button.btn, button.icon-btn {
    margin: 1rem;
  }

  #grid {
    .grid-row {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      margin: 0;

      > * {
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
        background-color: var(--hr-color-background-3);
        border: 1px solid var(--hr-color-border);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }

  .web-components-wrapper {
    display: grid;
    grid-template-columns: 15rem 1fr;
    grid-gap: 2rem;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 1rem;

    .pill {
      margin: var(--hr-space-sm);
    }

    .web-components-aside {
      position: sticky;
      top: 5rem;
      align-self: start;

      .tab-container {
        .tab-item {
          padding: 0.5rem !important;
        }
      }
    }

    .web-components-main {
      padding-bottom: var(--hr-space-xl);
    }

    @include md() {
      padding: 0 1rem;
      grid-gap: 1rem;

      .web-components-aside {
        position: static;

        .tab-item {
          margin-left: 0;
        }
      }

      .web-components-main {
        grid-template-columns: 1fr;
      }
    }

    @include sm() {
      grid-template-columns: 1fr;
    }
  }
}
