<!-- Form -->
<div class="card" id="form">
  <div class="card-header with-border">
    <h4 class="title">Form</h4>
  </div>
  <div class="card-body">
    <div class="form-group">
      <label for="username" class="form-label">Username</label>
      <input type="text" id="username" class="form-control" placeholder="Username"/>
    </div>

    <div class="form-group">
      <label for="mail" class="form-label">Disabled Input</label>
      <input type="email" id="mail" class="form-control" value="admin_test@mail.org" disabled/>
    </div>

    <div class="form-group">
      <label for="userType" class="form-label">User Type</label>
      <select name="user" id="userType" class="form-control select-form-control">
        <option value="superAdmin">Super Admin</option>
        <option value="admin">Admin</option>
        <option value="user">User</option>
        <option value="guest">Guest</option>
      </select>
    </div>

    <div class="form-group">
      <label for="userType2" class="form-label">Disabled Select</label>
      <select name="user" id="userType2" class="form-control select-form-control" disabled>
        <option value="1" selected>Guest</option>
      </select>
    </div>

    <div class="form-group">
      <label class="form-label">Radio Group</label>
      <label class="radio-form-control">
        <input class="radio-input" type="radio" name="radioGroup"/>
        <span class="radio-label">Option 1</span>
      </label>
      <label class="radio-form-control">
        <input class="radio-input" type="radio" name="radioGroup"/>
        <span class="radio-label">Option 2</span>
      </label>
      <label class="radio-form-control">
        <input class="radio-input" type="radio" name="radioGroup" disabled/>
        <span class="radio-label" disabled>Option 3</span>
      </label>
      <label class="radio-form-control">
        <input class="radio-input" type="radio" name="radioGroup" [checked]="true" disabled/>
        <span class="radio-label" disabled>Option 4</span>
      </label>
    </div>

    <div class="form-group">
      <label class="form-label">Checkbox Group</label>
      <label class="checkbox-form-control">
        <input class="checkbox-input" type="checkbox" name="checkboxGroup"/>
        <span class="checkbox-label">Option 1</span></label>
      <label class="checkbox-form-control">
        <input class="checkbox-input" type="checkbox" name="checkboxGroup"/>
        <span class="checkbox-label">Option 2</span></label>
      <label class="checkbox-form-control">
        <input class="checkbox-input" type="checkbox" name="checkboxGroup"
               [indeterminate]="true"/>
        <span class="checkbox-label">Option 3</span></label>
      <label class="checkbox-form-control">
        <input class="checkbox-input" type="checkbox" name="checkboxGroup"
               [checked]="true"/>
        <span class="checkbox-label">Option 4</span></label>
      <label class="checkbox-form-control">
        <input class="checkbox-input" type="checkbox" name="checkboxGroup"/>
        <span class="checkbox-label">Option 5</span></label>
      <label class="checkbox-form-control">
        <input class="checkbox-input" type="checkbox" name="checkboxGroup"
               disabled/>
        <span class="checkbox-label" disabled>Option 6</span></label>
      <label class="checkbox-form-control">
        <input class="checkbox-input" type="checkbox" name="checkboxGroup"
               [indeterminate]="true" disabled/>
        <span class="checkbox-label" disabled>Option 7</span></label>
      <label class="checkbox-form-control">
        <input class="checkbox-input" type="checkbox" name="checkboxGroup"
               [checked]="true" disabled/>
        <span class="checkbox-label" disabled>Option 8</span></label>
    </div>
    <div class="display-flex flex-justify-content-end">
      <button class="btn btn-link-danger">Error</button>
      <button class="btn btn-light">Cancel</button>
      <button class="btn btn-primary">Save</button>
    </div>
  </div>
</div>
