<!-- Typography -->
<div class="card" id="typography">
  <div class="card-header with-border">
    <h4 class="title">Typography</h4>
  </div>
  <div class="card-body">
    <div class="card elevation-flat mb-lg">
      <div class="card-header with-border">
        <h5 class="title">Headings</h5>
      </div>
      <div class="card-body">
        <h1>H1 - This is Heading!</h1>
        <h2>H2 - This is Heading!</h2>
        <h3>H3 - This is Heading!</h3>
        <h4>H4 - This is Heading!</h4>
        <h5>H5 - This is Heading!</h5>
        <h6>H6 - This is Heading!</h6>
      </div>
    </div>
    <div class="card elevation-flat mb-lg">
      <div class="card-header with-border">
        <h5 class="title">Texts</h5>
      </div>
      <div class="card-body">
        <ul class="list-group with-border">
          <li class="list-item">
            <div class="grid-row">
              <div class="col-md-3">
                <strong>Class Name</strong>
              </div>
              <div class="col-md-9">
                <strong>Example</strong>
              </div>
            </div>
          </li>
          <li class="list-item">
            <div class="grid-row">
              <div class="col-md-3">
                <pre>.text-primary</pre>
              </div>
              <div class="col-md-9">
                <p class="text-primary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae eveniet!</p>
                <span>Available for all status types:</span>
                <pre class="">.text-danger</pre>
                <pre class="">.text-success</pre>
                <pre class="">.text-info</pre>
                <pre class="">.text-warning</pre>
              </div>
            </div>
          </li>
          <li class="list-item">
            <div class="grid-row">
              <div class="col-md-3">
                <pre>.text-muted</pre>
              </div>
              <div class="col-md-9">
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae eveniet illum
                  modi!</p>
              </div>
            </div>
          </li>
          <li class="list-item">
            <div class="grid-row">
              <div class="col-md-3">
                <pre>.text-bold</pre>
              </div>
              <div class="col-md-9">
                <p class="font-weight-bold">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae eveniet
                  illum
                  modi!</p>
              </div>
            </div>
          </li>
          <li class="list-item">
            <div class="grid-row">
              <div class="col-md-3">
                <pre>.text-align-left</pre>
              </div>
              <div class="col-md-9">
                <p class="text-align-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </div>
            </div>
          </li>
          <li class="list-item">
            <div class="grid-row">
              <div class="col-md-3">
                <pre>.text-align-center</pre>
              </div>
              <div class="col-md-9">
                <p class="text-align-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </div>
            </div>
          </li>
          <li class="list-item">
            <div class="grid-row">
              <div class="col-md-3">
                <pre>.text-align-right</pre>
              </div>
              <div class="col-md-9">
                <p class="text-align-right">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
