/* These variable names can be used to customize / override basic styles */

$nico-advance-select-border-color: rgba(0, 0, 0, 0.12) !default;
$nico-advance-select-hover-background-color: rgba(0, 0, 0, 0.04) !default;
$nico-advance-select-background-color: #ffffff !default;
$nico-advance-select-shadow: (0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12)) !default;
$nico-advance-select-zIndex: 100 !default;
$nico-advance-select-border-radius: 0.25rem !default;

* {
  box-sizing: border-box;
}

:host {
  display: inline-block;
}

.nico-advanced-select {
  position: relative;
  font-size: 1rem;

  .advance-select-block {
    border: 1px solid $nico-advance-select-border-color;
    background-color: $nico-advance-select-background-color;
    border-radius: $nico-advance-select-border-radius;
    padding: 0.5rem 2.5rem 0.5rem 1rem;
    position: relative;
    cursor: pointer;
    line-height: 1.4;

    &:hover {
      background-color: $nico-advance-select-hover-background-color;
    }
  }

  .chevron-down {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0.75rem;
    display: inline-flex;
    align-items: center;

    .svg-icon {
      width: 1rem;
      height: 1rem;
      transform-origin: center center;
      transition: transform 0.25s ease;
    }
  }

  .advanced-select-option-container {
    display: block;
    background-color: $nico-advance-select-background-color;
    padding: 1rem;
    border-radius: $nico-advance-select-border-radius;
    border: 1px solid $nico-advance-select-border-color;
    box-shadow: $nico-advance-select-shadow;
    margin: 0.75rem 0 0 0;
    font-size: 0.875rem;

    position: absolute;
    z-index: $nico-advance-select-zIndex;
    min-width: 8rem;

    &.topRight{
      transform-origin: top right;
      right: 0;
      top: 100%;
    }

    &.topLeft {
      transform-origin: top left;
      right: auto;
      left: 0;
      top: 100%;
    }

    .advanced-select-option-item {
      list-style: none;

      &.search-option {
        margin: -1rem -1rem 0 -1rem;
        padding: 1rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);

        .form-control {
          display: block;
          border: 1px solid $nico-advance-select-border-color;
          border-radius: $nico-advance-select-border-radius;
          padding: 0.5rem 1rem;
          width: 100%;
          font-size: 0.875rem;

          &:focus {
            outline: none;
            border-color: rgba(0, 0, 0, 0.64);
          }
        }
      }

      &.busy-spinner {
        padding: 1rem 0;
      }

      &.no-result-option {
        padding: 1rem 0;
        white-space: nowrap;
      }

      &.action-option {
        padding: 1rem 0;
      }

      .dropdown-option-list {
        padding: 0;
        list-style: none;
        margin: 0 -1rem;

        .dropdown-option-item {
          display: flex;
          align-items: center;
          padding: 0.75rem 1rem;
          cursor: pointer;
          border-bottom: 1px solid $nico-advance-select-border-color;
          max-width: 30rem;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;

          &:hover {
            background-color: $nico-advance-select-hover-background-color;
          }

          &:last-of-type{
            border-bottom: 0;
          }
        }
      }
    }
  }

  &.open {
    .chevron-down {
      .svg-icon {
        transform: rotate(180deg);
      }
    }
  }
}
