<div class="icon-picker">
  <div class="ip-input-container">
    <div class="ip-icon-prepend" *ngIf="selectedIcon">
      <i [class]="selectedIcon"></i>
    </div>
    <input type="text" class="ip-input" [value]="selectedIcon" (focus)="onIconInputFocus($event)" [placeholder]="'Choose an icon'" >
  </div>
  <div class="ip-icon-list-container" [class.open]="isIconPopoverOpen">
    <div class="ip-search-container">
      <input type="text" class="ip-input ip-search-input" [(ngModel)]="searchText" (ngModelChange)="onIconSearch()"
             [value]="selectedIcon" placeholder="Search.." #ipSearchInput>
    </div>
    <div class="ip-icon-list">
      <ng-container *ngFor="let icon of filteredIconList">
        <button type="button" class="ip-button" [class.selected]="selectedIcon == icon" (click)="onIconSelection($event, icon)" [style.font-size]="iconSize">
          <i [class]="icon"></i>
        </button>
      </ng-container>
    </div>
    <div class="ip-select-none">
      <a class="ip-button" (click)="onIconSelection($event)">Select None</a>
    </div>
  </div>
</div>
