.icon-picker {
  position: relative;

  .ip-button {
    display: inline-block;
    background-color: transparent;
    outline: none;
    border: none;
    padding: 0.75rem 0.5rem;
    text-align: center;
    text-decoration: none;

    &:hover {
      background-color: rgba(0, 0, 0, 0.04);
    }
  }

  input.ip-input {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: currentColor;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e6e6e6;
    border-radius: 0 0.25rem 0.25rem 0;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    outline: none;
  }

  .ip-input-container {
    display: flex;

    .ip-icon-prepend {
      flex: 0 0 2.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(0, 0, 0, 0.08);
      border-radius: 0.25rem 0 0 0.25rem;
      font-size: 1.125rem;
    }
  }

  .ip-icon-list-container {
    display: none;
    visibility: hidden;
    overflow: hidden;
    position: absolute;
    top: 100%;
    background-color: #FFFFFF;
    border-radius: 0.25rem;
    width: 20rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.24);
    z-index: 1999;

    &.open {
      display: block;
      visibility: visible;
    }

    .ip-search-container {
      padding: 0.75rem;
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.32);

      .ip-input {
        width: 100%;
        padding: 0.125rem 0.5rem;
        font-size: 0.875rem;
        border-radius: 0.25rem;
      }
    }

    .ip-icon-list {
      display: -ms-grid;
      display: grid;
      grid-gap: 0.125rem;
      grid-template-columns: repeat(auto-fill, minmax(2.5rem, 1fr));
      align-content: baseline;
      padding: 0.75rem 0.5rem;
      height: 15rem;
      max-height: 15rem;
      overflow: hidden;
      overflow-y: auto;

      .ip-button {
        &.selected {
          background-color: rgba(0, 0, 0, 0.12);
        }
      }
    }
  }

  .ip-select-none {
    display: block;
    width: 100%;
    cursor: pointer;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.32);

    .ip-button {
      display: block;
      width: 100%;
      color: var(--primary);
    }
  }
}
