<!-- Dropdowns -->
<div class="card" id="dropdown">
  <div class="card-header with-border">
    <h4 class="title">Dropdowns</h4>
  </div>
  <div class="card-body">
    <div class="card elevation-flat mb-lg">
      <div class="card-header">
        Action Fly Menu
      </div>
      <div class="card-body">
        <div class="mb-lg">
          <nico-action-fly-menu
            [options]="{showIconOnly: true}"
            [className]="''" [addOns]="flyMenuAddOns">
          </nico-action-fly-menu>
        </div>
        <div class="mb-lg">
          <nico-action-fly-menu
            [options]="{showIconOnly: false, dropdownLabel: 'Actions'}"
            [className]="''" [addOns]="flyMenuAddOns">
          </nico-action-fly-menu>
        </div>
      </div>
    </div>
    <div class="card elevation-flat mb-lg">
      <div class="card-header  with-border">
        Icon Picker
      </div>
      <div class="card-body">
        <app-icon-picker [selectedIcon]="'far fa-wifi'"></app-icon-picker>
      </div>
    </div>
    <div class="card elevation-flat mb-lg">
      <div class="card-header  with-border">
        Advance Select
      </div>
      <div class="card-body">
        <ng-template #dropDownItemTemplate let-item="item">
          <div class="font-icon prefix"><i class="font-icon far fa-home"></i></div>
          <span>{{ item.name }}</span>
        </ng-template>
        <nico-advanced-select
          [options]="options" [config]="config" [multiple]="true"
          (pick)="log($event)"></nico-advanced-select>
      </div>
    </div>
  </div>
</div>
