<div class="auth-page forgot-password-page">
  <div class="container">
    <div class="logo">
      <img src="assets/images/logo.svg" alt="company logo">
    </div>
    <div class="card auth-card">
      <h4 class="text-primary">{{'MOD_ACCOUNT.CHANGE_PASSWORD_LABEL' | translate}}</h4>
      <form [formGroup]="changePasswordFormGroup" [id]="changePasswordFormId" *ngIf="changePasswordFormGroup">

        <!--      Old Password-->
        <div class="form-group">
          <label for="old_password"
                 class="form-label">{{'MOD_ACCOUNT.MOD_CHANGE_PASSWORD.OLD_PASSWORD_LABEL' | translate}}
          </label>
          <div class="input-group password-input-group">
            <input class="form-control form-control-lg"
                   appToggle
                   placeholder="{{'MOD_ACCOUNT.MOD_CHANGE_PASSWORD.OLD_PASSWORD_PLACEHOLDER' | translate}}"
                   formControlName="old_password"
            />
          </div>
        </div>

        <!--      New Password-->
        <div class="form-group"
             [ngClass]="{'has-error': changePasswordFormGroup.controls['new_password'].touched && changePasswordFormGroup.controls['new_password'].errors?.badPassword}">
          <label for="new_password"
                 class="form-label">{{'MOD_ACCOUNT.MOD_CHANGE_PASSWORD.NEW_PASSWORD_LABEL' | translate}}
            <app-form-info-tooltip
              [tooltipData]="'MOD_ACCOUNT.MOD_CHANGE_PASSWORD.NEW_PASSWORD_INFO_MESSAGE'"></app-form-info-tooltip>
          </label>
          <div class="input-group password-input-group">
            <input class="form-control form-control-lg"
                   appToggle
                   placeholder="{{'MOD_ACCOUNT.MOD_CHANGE_PASSWORD.NEW_PASSWORD_PLACEHOLDER' | translate}}"
                   formControlName="new_password"
            />
          </div>
          <span class="nico-tooltip"
                *ngIf="changePasswordFormGroup.controls['new_password'].touched && changePasswordFormGroup.controls['new_password'].errors?.badPassword">
          {{'MOD_ACCOUNT.MOD_CHANGE_PASSWORD.NEW_PASSWORD_ERROR_MESSAGE' | translate}}
        </span>
        </div>

        <!--      New Password Confirmation-->
        <div class="form-group"
             [ngClass]="{'has-error': changePasswordFormGroup.controls['new_password_confirmation'].touched && changePasswordFormGroup.controls['new_password_confirmation'].errors?.fieldMismatch}">
          <label for="new_password_confirmation"
                 class="form-label">{{'MOD_ACCOUNT.MOD_CHANGE_PASSWORD.NEW_PASSWORD_CONFIRM_LABEL' | translate}}
            <app-form-info-tooltip
              [tooltipData]="'MOD_ACCOUNT.MOD_CHANGE_PASSWORD.NEW_PASSWORD_CONFIRM_INFO_MESSAGE'"></app-form-info-tooltip>
          </label>
          <div class="input-group password-input-group">
            <input class="form-control form-control-lg"
                   appToggle
                   placeholder="{{'MOD_ACCOUNT.MOD_CHANGE_PASSWORD.NEW_PASSWORD_CONFIRM_PLACEHOLDER' | translate}}"
                   formControlName="new_password_confirmation"
            />
          </div>
          <span class="nico-tooltip"
                *ngIf="changePasswordFormGroup.controls['new_password_confirmation'].touched && changePasswordFormGroup.controls['new_password_confirmation'].errors?.fieldMismatch">{{'MOD_ACCOUNT.MOD_CHANGE_PASSWORD.NEW_PASSWORD_CONFIRM_ERROR_MESSAGE' | translate}}</span>
        </div>
        <button class="btn btn-primary btn-block mt-sm" (click)="saveChangedPassword()">
          <span>{{'MOD_ACCOUNT.MOD_CHANGE_PASSWORD.SAVE_BUTTON_LABEL' | translate}}</span>
        </button>
      </form>
    </div>
  </div>
</div>
