<!-- Badge and Pills -->
<div class="card" id="badge">
  <div class="card-header with-border">
    <h4 class="title">Badge and Pills</h4>
  </div>
  <div class="card-body">
    <div class="card elevation-flat mb-xl">
      <div class="card-header with-border">
        <div class="title">Badge</div>
      </div>
      <div class="card-body">
        <ul class="list-group">
          <li class="list-item">
            <div class="grid-row">
              <div class="col-4">
                <h6>Color</h6>
              </div>
              <div class="col-4">
                <h6>Default</h6>
              </div>
              <div class="col-4">
                <h6>Elevated</h6>
              </div>
            </div>
          </li>
          <li class="list-item py-md">
            <div class="grid-row">
              <div class="col-4">
                <pre>color: 'primary'</pre>
                <pre>label: 1</pre>
              </div>
              <div class="col-4">
                <button class="btn btn-light m-zero">Badge Button
                  <app-badge label="1" color="primary"
                             style="position: absolute; top: -0.5rem; right: -0.5rem"></app-badge>
                </button>
              </div>
              <div class="col-4">
                <button class="btn btn-light m-zero">Badge Button
                  <app-badge label="1" color="primary" [isElevated]="true"
                             style="position: absolute; top: -0.5rem; right: -0.5rem"></app-badge>
                </button>
              </div>
            </div>
          </li>
          <li class="list-item py-md">
            <div class="grid-row">
              <div class="col-4">
                <pre>color: 'accent'</pre>
                <pre>label: 9</pre>
              </div>
              <div class="col-4">
                <button class="btn btn-light m-zero">Badge Button
                  <app-badge label="9" color="accent"
                             style="position: absolute; top: -0.5rem; right: -0.5rem"></app-badge>
                </button>
              </div>
              <div class="col-4">
                <button class="btn btn-light m-zero">Badge Button
                  <app-badge label="9" color="accent" [isElevated]="true"
                             style="position: absolute; top: -0.5rem; right: -0.5rem"></app-badge>
                </button>
              </div>
            </div>
          </li>
          <li class="list-item py-md">
            <div class="grid-row">
              <div class="col-4">
                <pre>color: 'danger'</pre>
                <pre>label: 999</pre>
              </div>
              <div class="col-4">
                <button class="btn btn-light m-zero">Badge Button
                  <app-badge label="999" color="danger"
                             style="position: absolute; top: -0.5rem; right: -0.5rem"></app-badge>
                </button>
              </div>
              <div class="col-4">
                <button class="btn btn-light m-zero">Badge Button
                  <app-badge label="999" color="danger" [isElevated]="true"
                             style="position: absolute; top: -0.5rem; right: -0.5rem"></app-badge>
                </button>
              </div>
            </div>
          </li>
          <li class="list-item py-md">
            <div class="grid-row">
              <div class="col-4">
                <pre>color: 'info'</pre>
                <pre>label: 32</pre>
              </div>
              <div class="col-4">
                <button class="btn btn-light m-zero">Badge Button
                  <app-badge label="32" color="info"
                             style="position: absolute; top: -0.5rem; right: -0.5rem"></app-badge>
                </button>
              </div>
              <div class="col-4">
                <button class="btn btn-light m-zero">Badge Button
                  <app-badge label="32" color="info" [isElevated]="true"
                             style="position: absolute; top: -0.5rem; right: -0.5rem"></app-badge>
                </button>
              </div>
            </div>
          </li>
          <li class="list-item py-md">
            <div class="grid-row">
              <div class="col-4">
                <pre>color: 'success'</pre>
                <pre>label: 12</pre>
              </div>
              <div class="col-4">
                <button class="btn btn-light m-zero">Badge Button
                  <app-badge label="12" color="success"
                             style="position: absolute; top: -0.5rem; right: -0.5rem"></app-badge>
                </button>
              </div>
              <div class="col-4">
                <button class="btn btn-light m-zero">Badge Button
                  <app-badge label="12" color="success" [isElevated]="true"
                             style="position: absolute; top: -0.5rem; right: -0.5rem"></app-badge>
                </button>
              </div>
            </div>
          </li>
          <li class="list-item py-md">
            <div class="grid-row">
              <div class="col-4">
                <pre>color: 'warning'</pre>
                <pre>label: 99+</pre>
              </div>
              <div class="col-4">
                <button class="btn btn-light m-zero">Badge Button
                  <app-badge label="99+" color="warning"
                             style="position: absolute; top: -0.5rem; right: -0.5rem"></app-badge>
                </button>
              </div>
              <div class="col-4">
                <button class="btn btn-light m-zero">Badge Button
                  <app-badge label="99+" color="warning" [isElevated]="true"
                             style="position: absolute; top: -0.5rem; right: -0.5rem"></app-badge>
                </button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="card elevation-flat mb-xl">
      <div class="card-header with-border">
        <div class="title">Pills</div>
      </div>
      <div class="card-body">
        <ul class="list-group">
          <li class="list-item py-md">
            <div class="mb-sm">
              <h6 class="mb-xs">Default</h6>
              <pre>@Input() label:string;</pre>
              <pre>@Input() isActive:boolean;</pre>
            </div>
            <app-pill [label]="'Apple'" backgroundType="solid"></app-pill>
            <app-pill [label]="'Orange'" backgroundType="solid"></app-pill>
            <app-pill [label]="'Mango'" backgroundType="solid"></app-pill>
            <app-pill [label]="'Strawberry'" backgroundType="solid"></app-pill>
            <app-pill [label]="'Active Pill'" [isActive]="true" backgroundType="solid"></app-pill>
            <app-pill [label]="'Pill with hover style'" [isHoverEnabled]="true" backgroundType="solid"></app-pill>
          </li>
          <li class="list-item py-md">
            <div class="mb-sm">
              <h6 class="mb-xs">Removable</h6>
              <pre>@Input() label:string;</pre>
              <pre>@Input() removable:boolean;</pre>
            </div>
            <app-pill [label]="'Apple'" [removable]="true" backgroundType="solid"></app-pill>
            <app-pill [label]="'Orange'" [removable]="true" backgroundType="solid"></app-pill>
            <app-pill [label]="'Mango'" [removable]="true" backgroundType="solid"></app-pill>
            <app-pill [label]="'Strawberry'" [removable]="true" backgroundType="solid"></app-pill>
          </li>
          <li class="list-item py-md">
            <div class="mb-sm">
              <h6 class="mb-xs">Colored (Translucent)</h6>
              <pre>@Input() label:string;</pre>
              <pre>@Input() color:string;</pre>
              <pre>@Input() backgroundType: translucent;</pre>
            </div>
            <app-pill label="Primary" color="primary"></app-pill>
            <app-pill label="Accent" color="accent"></app-pill>
            <app-pill label="Danger" color="danger"></app-pill>
            <app-pill label="Info" color="info"></app-pill>
            <app-pill label="Success" color="success"></app-pill>
            <app-pill label="Warning" color="warning"></app-pill>
          </li>

          <li class="list-item py-md">
            <div class="mb-sm">
              <h6 class="mb-xs">Colored (Solid)</h6>
              <pre>@Input() label:string;</pre>
              <pre>@Input() color:string;</pre>
              <pre>@Input() backgroundType: solid;</pre>
            </div>
            <app-pill label="Primary" color="primary" backgroundType="solid"></app-pill>
            <app-pill label="Accent" color="accent" backgroundType="solid"></app-pill>
            <app-pill label="Danger" color="danger" backgroundType="solid"></app-pill>
            <app-pill label="Info" color="info" backgroundType="solid"></app-pill>
            <app-pill label="Success" color="success" backgroundType="solid"></app-pill>
            <app-pill label="Warning" color="warning" backgroundType="solid"></app-pill>
          </li>

          <li class="list-item py-md">
            <div class="mb-sm">
              <h6 class="mb-xs">Custom content</h6>
              <pre>@Input() isCustomContent:boolean;</pre>
            </div>
            <app-pill [isCustomContent]="true" backgroundType="solid">
              <i class="far fa-cog mr-xs"></i><span>Settings Here</span>
            </app-pill>
          </li>

          <li class="list-item py-md">
            <div class="mb-sm">
              <h6 class="mb-xs">Pill with avatar</h6>
              <pre>@Input() data: (value: string; imageLink: string;);</pre>
            </div>
            <app-user-pill [userData]="{value: 'Jane Doe', imageLink: ''}"></app-user-pill>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
