<div class="card">
  <div class="employee-additional-info">
    <div class="card-header mb-sm">
      <h4 class="text-primary mb-zero">
        {{'MOD_EMPLOYEES.MOD_VIEW_DETAIL_EMPLOYEE.EMPLOYEE_HISTORIES.PAGE_TITLE' | translate}}
      </h4>
      <button class="btn btn-primary" (click)="onToggleEmployeeActivation()">
        <i class="font-icon icon-prefix"
           [class]="employeeActivationStatus ? 'far fa-user-check' : 'far fa-user-minus'"></i>
        {{employeeActivationStatus ? ('MOD_EMPLOYEES.MOD_VIEW_DETAIL_EMPLOYEE.EMPLOYEE_HISTORIES.ACTIVATE_EMPLOYEE_BUTTON_LABEL' | translate) : ('MOD_EMPLOYEES.MOD_VIEW_DETAIL_EMPLOYEE.EMPLOYEE_HISTORIES.DEACTIVATE_EMPLOYEE_BUTTON_LABEL' | translate)}}
      </button>
    </div>
    <div class="timeline" *ngIf="historyModel?.all().length > 0; else empty_state">
      <ng-container *ngFor="let history of historyModel?.all(); let i = index">
        <div class="timeline__component">
          <ng-container *ngIf="i % 2 === 0">
            <div class="timeline__date-right"><span class="timeline-date">{{history?.date | date}}</span></div>
            <div class="timeline__component--bg timeline__component-left">
              <h6 class="timeline__comment text-align-right" *ngIf="history?.comment">
                {{history?.comment | sentenceCase}}
              </h6>
              <ng-container *ngIf="history?.document">
                <a *ngIf="history?.document?.url" [href]="history?.document?.url" target="_blank"
                   class="text-primary py-sm">{{'MOD_EMPLOYEES.MOD_VIEW_DETAIL_EMPLOYEE.EMPLOYEE_HISTORIES.VIEW_DOCUMENT_BUTTON_LABEL' | translate}}</a>
              </ng-container>
            </div>
          </ng-container>
        </div>
        <div class="timeline__middle">
          <div class="timeline__point">{{i + 1}}</div>
        </div>
        <div class="timeline__component timeline-component-light">
          <ng-container *ngIf="i % 2 !== 0">
            <div class="timeline__date-left"><span class="timeline-date">{{history?.date | date}}</span></div>
            <div class="timeline__component--bg">
              <h6 class="timeline__comment" *ngIf="history?.comment">
                {{history?.comment}}
              </h6>
              <ng-container *ngIf="history?.document">
                <a *ngIf="history?.document?.url" [href]="history?.document?.url" target="_blank"
                   class="text-primary py-sm">{{'MOD_EMPLOYEES.MOD_VIEW_DETAIL_EMPLOYEE.EMPLOYEE_HISTORIES.VIEW_DOCUMENT_BUTTON_LABEL' | translate}}</a>
              </ng-container>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </div>
  <ng-template #empty_state>
    <app-empty-state></app-empty-state>
  </ng-template>
</div>
