// Global Mixins

// Text truncate
@mixin text-truncate {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

// Reset List Styles
@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

// Sticky Positioning
@mixin position-sticky() {
  @supports (position: sticky) {
    position: sticky !important;
  }
}

// user action disabled
@mixin user-action-disabled($index: $zIndex-9) {
  position: relative;
  &:before {
    display: block;
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: $index;
  }
}

// Container HR App
@mixin app-container(){
  padding: 0 var(--hr-space-lg);
  margin: 0 auto;
  width: 100%;

  @include sm() {
    padding: 0 var(--hr-space-sm);
  }
}
