// Global
$spacingSizes: zero, xxs, xs, sm, md, lg, xl, xxl;
$breakpoints: xs, sm, md, lg, xl;
$colorList: primary, accent, danger, info, success, warning;
$transparent: rgba(0, 0, 0, 0);

// Breakpoints
$breakpoint-xs: 600px;
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;
$breakpoint-xl: 1440px;

// ZeeIndex
$zIndex-1001: 1001;
$zIndex-1000: 1000;
$zIndex-999: 999;
$zIndex-199: 199;
$zIndex-101: 101;
$zIndex-100: 100;
$zIndex-99: 99;
$zIndex-10: 10;
$zIndex-9: 9;
$zIndex-1: 1;
$zIndex-0: 0;
$zIndex-negative: -1;

// Sidenav
$hr-side-nav-width: 4rem;
$hr-side-nav-expanded-width: 16rem;

// Navbar
$hr-nav-height: 3.5rem;

