/* These variable names can be used to customize / override basic styles */

$nico-action-fly-menu-border-color: rgba(0, 0, 0, 0.12) !default;
$nico-action-fly-menu-hover-background-color: rgba(0, 0, 0, 0.04) !default;
$nico-action-fly-menu-active-background-color: rgba(0, 0, 0, 0.16) !default;
$nico-action-fly-menu-background-color: #ffffff !default;
$nico-action-fly-menu-border-radius: 0.25rem !default;
$nico-action-fly-menu-shadow: (0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12)) !default;
$nico-action-fly-menu-zIndex: 100 !default;


* {
  box-sizing: border-box;
}

:host {
  display: inline-block;
}

.dropdown-container {
  position: relative;

  .dropdown-menu {
    position: relative;
  }

  .dropdown-icon {
    padding: 0.5rem;
    border-radius: 50%;
    cursor: pointer;
    height: 2.5rem;
    width: 2.5rem;
    max-width: 2.5rem;

    .svg-icon {
      width: 1.5rem;
      height: 1.5rem;
    }

    &:hover {
      background-color: $nico-action-fly-menu-hover-background-color;
      filter: brightness(0.96);
    }
  }

  .dropdown-label {
    padding: 0.5rem 2.5rem 0.5rem 1rem;
    border-radius: $nico-action-fly-menu-border-radius;
    border: 1px solid $nico-action-fly-menu-border-color;
    background-color: $nico-action-fly-menu-background-color;
    cursor: pointer;
    position: relative;
    line-height: 1.4;

    &:hover {
      background-color: $nico-action-fly-menu-hover-background-color;
    }

    .chevron-down {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0.75rem;
      display: inline-flex;
      align-items: center;

      svg {
        width: 1rem;
        height: 1rem;
      }
    }
  }
}

.dropdown-option-container {
  display: flex;
  flex-direction: column;
  margin-top: 0.75rem;
  padding: 0.5rem 0;
  border-radius: $nico-action-fly-menu-border-radius;
  border: 1px solid $nico-action-fly-menu-border-color;
  background-color: $nico-action-fly-menu-background-color;
  min-width: 10rem;
  box-shadow: $nico-action-fly-menu-shadow;
  font-size: 0.875rem;

  position: absolute;
  z-index: $nico-action-fly-menu-zIndex;

  &.topRight {
    top: 100%;
    right: 0;
    transform-origin: top right;
  }

  &.topLeft {
    top: 100%;
    left: 0;
    transform-origin: top left;
  }

  &.bottomRight {
    bottom: 100%;
    right: 0;
    transform-origin: bottom right;
  }

  &.bottomLeft {
    bottom: 100%;
    left: 0;
    transform-origin: bottom left;
  }
}

.dropdown-option {
  display: block;
  text-decoration: none;
  color: currentColor;

  &:hover {
    background-color: $nico-action-fly-menu-hover-background-color;
  }

  &.active {
    background-color: $nico-action-fly-menu-active-background-color;
  }

  &:last-of-type {
    .dropdown-item {
      border-bottom: none;
    }
  }

  .dropdown-item {
    display: flex;
    align-items: center;
    padding: 0.75rem 1rem;
    border-bottom: 1px solid $nico-action-fly-menu-border-color;
    cursor: pointer;
    color: currentColor;

    .icon-container {
      margin-right: 0.75rem;

      svg {
        display: inline-block;
        height: 1.5rem;
        width: 1.5rem;
      }
    }
  }
}

