.root-app-container {
  display: flex;
  position: relative;
  min-height: 100vh;
  height: 100%;
  transition: margin 0.3s ease;
  margin-left: $hr-side-nav-width;
  color: var(--hr-color-text);

  &.side-nav-pinned {
    margin-left: $hr-side-nav-expanded-width; // Enable this for push style animation

    @include xs() {
      margin-left: 0;
    }
  }

  @include xs() {
    margin-left: 0;
    width: 100%;
  }
}

.root-app-header {
  @include position-sticky();
  z-index: $zIndex-100;
  top: 0;
}

.root-app-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  width: 100%;
}

.root-app-sidenav {
}

.root-app-main-view {
  @include app-container();
  padding: var(--hr-space-lg);
  min-width: 100%;
  max-width: calc(100vw - #{$hr-side-nav-width} - var(--hr-scroll-bar-width));

  @include sm() {
    padding: var(--hr-space-md) var(--hr-space-sm);
  }

  @include xs() {
    max-width: calc(100vw - var(--hr-scroll-bar-width));
  }
}

// Spinner
.cssload-parent {
  position: relative;
  overflow: auto;

  &.without-background {
    .cssload-overlay {
      background-color: $transparent !important;
    }
  }
}

.cssload-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: $zIndex-1001;
  color: var(--hr-color-primary);
  background-color: var(--hr-color-overlay-background);

  display: flex;
  align-items: center;
  justify-content: center;

  &.cssload-fixed {
    position: fixed;
    overflow: hidden;
  }

  .spinner {
    width: 5rem;
  }
}

// Containers
.container {
  display: block;
  width: 100%;
  max-width: calc(1200px + calc(var(--hr-space-sm) * 2));
  padding: 0 var(--hr-space-sm);
  margin: 0 auto;
}

.wrapper {
  display: block;
}

main.main {
  height: 100%;
  width: 100%;
}

.pagination-container {
  justify-content: center;
}
