.toolbar {
  display: block;
  background-color: var(--hr-color-main-background);
  border-bottom: 1px solid var(--hr-color-border);

  .toolbar-container {
    padding: 0 var(--hr-space-sm);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3.5rem;
    @include app-container();
  }

  .toolbar-left {
    display: flex;
    align-items: center;

    .toolbar-logo_container {
      width: 2.5rem;
      height: 2.5rem;
      background: var(--hr-backgroundImage-ensue-logo) no-repeat;
      background-size: contain;
    }
  }

  .toolbar-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    grid-gap: var(--hr-space-sm);

    .profile-item {
      display: inline-flex;
      align-items: center;
      cursor: pointer;
      padding: var(--hr-space-xs);
      border-radius: var(--hr-border-radius);

      &:hover {
        background-color: var(--hr-color-light);
      }

      .app-avatar {
        display: inline-flex;
        align-items: center;
      }

      .title-regular {
        margin-left: var(--hr-space-xs);
      }
    }
  }

  @include xs() {
    .toolbar-left {
      margin-left: var(--hr-space-xl);
    }

    .toolbar-right {
      grid-gap: var(--hr-space-xxs);
    }

    .profile-item {
      .title-regular {
        display: none;
      }
    }
  }
}

.theme-toggle-btn {
  .fa-sun {
    color: #f3f389 !important;
  }
}

