/**
 * 1. The `reverse` animation direction plays the animation backwards
 *    which makes it start at the stroke offset 100 which means displaying
 *    no stroke at all and animating it to the value defined in the SVG
 *    via the inline `stroke-dashoffset` attribute.
 * 2. Rotate by -90 degree to make the starting point of the
 *    stroke the top of the circle.
 * 3. Using CSS transforms on SVG elements is not supported by Internet Explorer
 *    and Edge, use the transform attribute directly on the SVG element as a
 * .  workaround (https://markus.oberlehner.net/blog/pure-css-animated-svg-circle-chart/#part-4-internet-explorer-strikes-back).
 */
$colorList: primary, accent, danger, info, success, warning;
.doughnut-chart-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 10rem;
  width: 10rem;
}

.doughnut-chart {
  @each $color in $colorList {
    &.fill-#{$color} {
      .doughnut-chart-fill {
        stroke: var(--hr-color-#{$color});
      }
    }
  }
}

.doughnut-chart-fill {
  animation: doughnut-chart-fill 1s forwards;
  transform: rotate(-90deg);
  transform-origin: center;
  stroke: var(--hr-color-info);
}

.doughnut-chart-background {
  stroke: var(--hr-color-background-3);
}

.doughnut-chart-info {
  animation: doughnut-chart-appear 1s forwards;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: inline-flex;
  flex-direction: column;
  text-align: center;

  .title {
    display: block;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.25rem;
  }

  .subtitle {
    font-size: 0.75rem;
  }
}

@keyframes doughnut-chart-fill {
  from {
    stroke-dasharray: 0 100;
  }
}

@keyframes doughnut-chart-appear {
  to {
    opacity: 1;
  }
}
