<div class="card">
  <div class="card-header with-border">
    <h4 class="title">Charts</h4>
  </div>
  <div class="card-body">
    <div class="card elevation-flat mb-lg">
      <div class="card-header with-border">
        <div class="title">Doughnut Chart</div>
      </div>
      <div class="card-body">
        <div class="grid-row">
          <div class="col-md-4">
            <app-doughnut-chart [fillValue]="40" [value]="'24%'" [label]="'Progress'"
                                color="danger"></app-doughnut-chart>
          </div>
          <div class="col-md-4">
            <app-doughnut-chart [fillValue]="64" [value]="'48%'" [label]="'Progress'"
                                color="warning"></app-doughnut-chart>
          </div>
          <div class="col-md-4">
            <app-doughnut-chart [fillValue]="80" [value]="'72%'" [label]="'Progress'"
                                color="info"></app-doughnut-chart>
          </div>
          <div class="col-md-4">
            <app-doughnut-chart [fillValue]="100" [value]="'100%'" [label]="'Progress'"
                                color="success"></app-doughnut-chart>
          </div>
          <div class="col-md-4">
            <app-doughnut-chart [fillValue]="88" [value]="'88%'"
                                color="primary"></app-doughnut-chart>
          </div>
          <div class="col-md-4">
            <app-doughnut-chart [fillValue]="40" [value]="'40%'"
                                color="accent"></app-doughnut-chart>
          </div>
        </div>
      </div>
    </div>

    <div class="card elevation-flat mb-lg">
      <div class="card-header with-border">
        <div class="title">
          E-chart Implementation
        </div>
      </div>
      <div class="card-body">
        <div echarts [options]="chartOption" class="demo-chart"></div>
      </div>
    </div>

    <div class="card elevation-flat mb-lg">
      <div class="grid-row">
        <div class="col-md-12">
          <span class="interval-arrow"></span>
        </div>
      </div>
    </div>
  </div>
</div>
