<div class="card">
  <div class="employee-additional-info">
    <div class="card-header mb-sm">
      <h4
        class="text-primary mb-zero">{{'MOD_EMPLOYEES.MOD_VIEW_DETAIL_EMPLOYEE.EMPLOYEE_CONTACTS.PAGE_TITLE' | translate}}</h4>
      <button class="btn btn-primary" (click)="onAddEditContact()"><i
        class="font-icon far fa-plus icon-prefix"></i> {{'MOD_EMPLOYEES.MOD_VIEW_DETAIL_EMPLOYEE.EMPLOYEE_CONTACTS.ADD_NEW_BUTTON_LABEL' | translate}}
      </button>
    </div>
    <!--    contact data-->
    <div class="grid-row" *ngIf="contactModel?.all().length > 0; else empty_state">
      <div class="col-xl-3 col-lg-4 col-md-6" *ngFor="let contact of contactModel?.all()">
        <div class="card info-card">
          <div class="rep-icons">
            <app-circular-icon [config]="{iconName: contact?.contactTypeIcon , color: 'primary'}"></app-circular-icon>
            <div class="fly-menu-absolute">
              <nico-action-fly-menu
                [options]="{showIconOnly: true}"
                [addOns]="getFlyMenuAdOns()"
                (action)="onFlyMenuAction($event, contact)">
              </nico-action-fly-menu>
            </div>
          </div>
<!--          Contact type name-->
          <h5 class="mb-xs">{{contact?.contactTypeName | translate}}</h5>
<!--          number-->
          <span>{{contact?.number}}</span>
        </div>
      </div>
    </div>
    <!--    empty state-->
    <ng-template #empty_state>
      <app-empty-state></app-empty-state>
    </ng-template>
  </div>
</div>
