<!--Header-->
<div class="add-edit-employee-page">
  <div class="modal-header with-border">
    <app-circular-icon [config]="{iconName: 'far fa-piggy-bank', color:'primary'}"></app-circular-icon>
    <h5 class="modal-title">{{pageTitle}}</h5>
    <button class="icon-btn icon-btn-circular modal-close btn-link-light" mat-dialog-close>
      <i class="font-icon far fa-times"></i>
    </button>
  </div>
  <!--  Form-->
  <form [formGroup]="bankForm" [id]="bankFormId">
    <div class="modal-body">
      <div class="form-container">
        <!--        Name-->
        <div class="form-group"
             [class.has-error]="bankForm.controls['name'].touched && bankForm.controls['name'].errors?.required">
          <label for="name" class="form-label">
            {{'MOD_EMPLOYEES.MOD_VIEW_DETAIL_EMPLOYEE.EMPLOYEE_BANKS.FORM_NAME_LABEL'| translate}}
          </label>
          <input type="text" name="name" id="name" formControlName="name" class="form-control"
                 placeholder="{{'MOD_EMPLOYEES.MOD_VIEW_DETAIL_EMPLOYEE.EMPLOYEE_BANKS.FORM_NAME_PLACEHOLDER'| translate}}"/>
          <span class="nico-tooltip"
                *ngIf="bankForm.controls['name'].touched && bankForm.controls['name'].errors?.required">
             {{'MOD_EMPLOYEES.MOD_VIEW_DETAIL_EMPLOYEE.EMPLOYEE_BANKS.FORM_NAME_LABEL' | translate}} {{'MOD_COMMON.IS_REQUIRED_LABEL' | translate}}
          </span>
        </div>
        <!--        Branch-->
        <div class="form-group"
             [class.has-error]="bankForm.controls['branch'].touched && bankForm.controls['branch'].errors?.required">
          <label for="branch" class="form-label">
            {{'MOD_EMPLOYEES.MOD_VIEW_DETAIL_EMPLOYEE.EMPLOYEE_BANKS.FORM_BRANCH_LABEL'| translate}}
          </label>
          <input type="text" name="branch" id="branch" formControlName="branch" class="form-control"
                 placeholder="{{'MOD_EMPLOYEES.MOD_VIEW_DETAIL_EMPLOYEE.EMPLOYEE_BANKS.FORM_BRANCH_PLACEHOLDER'| translate}}"/>

          <span class="nico-tooltip"
                *ngIf="bankForm.controls['branch'].touched && bankForm.controls['branch'].errors?.required">
            {{'MOD_EMPLOYEES.MOD_VIEW_DETAIL_EMPLOYEE.EMPLOYEE_BANKS.FORM_BRANCH_LABEL' | translate}} {{'MOD_COMMON.IS_REQUIRED_LABEL' | translate}}
          </span>
        </div>
        <!--        Account Number-->
        <div class="form-group"
             [class.has-error]="bankForm.controls['account_number'].touched && bankForm.controls['account_number'].errors?.required">
          <label for="account_number" class="form-label">
            {{'MOD_EMPLOYEES.MOD_VIEW_DETAIL_EMPLOYEE.EMPLOYEE_BANKS.FORM_ACCOUNT_NUMBER_LABEL'| translate}}
          </label>
          <input type="text" name="account_number" id="account_number" formControlName="account_number"
                 class="form-control"
                 placeholder="{{'MOD_EMPLOYEES.MOD_VIEW_DETAIL_EMPLOYEE.EMPLOYEE_BANKS.FORM_ACCOUNT_NUMBER_PLACEHOLDER'| translate}}"/>

          <span class="nico-tooltip"
                *ngIf="bankForm.controls['account_number'].touched && bankForm.controls['account_number'].errors?.required">
            {{'MOD_EMPLOYEES.MOD_VIEW_DETAIL_EMPLOYEE.EMPLOYEE_BANKS.FORM_ACCOUNT_NUMBER_LABEL' | translate}} {{'MOD_COMMON.IS_REQUIRED_LABEL' | translate}}
          </span>
        </div>
      </div>
    </div>
  </form>
  <!--      Footer-->
  <div class="modal-footer">
    <button class="btn btn-outline-light cancel-btn"
            mat-dialog-close> {{'MOD_EMPLOYEES.MOD_ADD_EDIT_EMPLOYEE.CANCEL_BUTTON_LABEL'| translate}}</button>
    <button [disabled]="bankForm.invalid" type="submit" (click)="onFormSubmit()" class="btn btn-primary save">
      <span>{{'MOD_EMPLOYEES.MOD_ADD_EDIT_EMPLOYEE.SAVE_BUTTON_LABEL'| translate}}</span>
    </button>
  </div>
</div>

