<!--Header-->
<div class="add-edit-employee-page">
  <div class="modal-header with-border">
    <app-circular-icon [config]="{iconName: 'far fa-pencil', color:'primary'}"></app-circular-icon>
    <h5 class="modal-title">{{pageTitle}}</h5>
    <button class="icon-btn icon-btn-circular modal-close btn-link-light" mat-dialog-close>
      <i class="font-icon far fa-times"></i>
    </button>
  </div>
  <!--  Form-->
  <form [formGroup]="editPunchHistoryForm"  [id]="editPunchHistoryId">
    <div class="modal-body modal-body-sm">
      <!--        Change log-->
      <div class="form-group"
           [class.has-error]="editPunchHistoryForm?.controls['attend_at'].touched && editPunchHistoryForm?.controls['attend_at'].errors?.required">
        <label for="attend_at" class="form-label">
          {{'MOD_DASHBOARD.MOD_VIEW_PUNCH_HISTORY.MOD_EDIT_PUNCH_HISTORY.REQUEST_CHANGE_LABEL'| translate}}
        </label>
        <ngx-mat-timepicker id="attend_at" formControlName="attend_at"></ngx-mat-timepicker>
        <span class="nico-tooltip"
              *ngIf="editPunchHistoryForm?.controls['attend_at'].touched && editPunchHistoryForm?.controls['attend_at'].errors?.required">
             {{'MOD_DASHBOARD.MOD_VIEW_PUNCH_HISTORY.MOD_EDIT_PUNCH_HISTORY.REQUEST_CHANGE_LABEL' | translate}} {{'MOD_COMMON.IS_REQUIRED_LABEL' | translate}}
          </span>
      </div>
      <!--        Reason for change-->
      <div class="form-group"
           [class.has-error]="editPunchHistoryForm.controls['reason'].touched && editPunchHistoryForm.controls['reason'].errors?.required">
        <label for="reason" class="form-label">
          {{'MOD_DASHBOARD.MOD_VIEW_PUNCH_HISTORY.MOD_EDIT_PUNCH_HISTORY.REASON_LABEL'| translate}}
        </label>
        <textarea id="reason" name="reason" formControlName="reason" class="form-control" rows="6"
                  placeholder="{{'MOD_DASHBOARD.MOD_VIEW_PUNCH_HISTORY.MOD_EDIT_PUNCH_HISTORY.REASON_PLACEHOLDER'| translate}}"></textarea>
        <span class="nico-tooltip"
              *ngIf="editPunchHistoryForm.controls['reason'].touched && editPunchHistoryForm.controls['reason'].errors?.required">
            {{'MOD_DASHBOARD.MOD_VIEW_PUNCH_HISTORY.MOD_EDIT_PUNCH_HISTORY.REASON_LABEL' | translate}} {{'MOD_COMMON.IS_REQUIRED_LABEL' | translate}}
          </span>
      </div>
    </div>
  </form>
  <p *ngIf="modal?.content?.parents?.length > 0">{{showPreviousChange()}}</p>
  <!--      Footer-->
  <div class="modal-footer">
    <button class="btn btn-outline-light cancel-btn"
            mat-dialog-close> {{'MOD_EMPLOYEES.MOD_ADD_EDIT_EMPLOYEE.CANCEL_BUTTON_LABEL'| translate}}</button>
    <button [disabled]="editPunchHistoryForm.invalid" type="submit" (click)="onFormSubmit()"
            class="btn btn-primary save">
      <span>{{'MOD_EMPLOYEES.MOD_ADD_EDIT_EMPLOYEE.SAVE_BUTTON_LABEL'| translate}}</span></button>
  </div>
</div>

