<!-- Empty State -->
<div class="card" id="emptyState">
  <div class="card-header with-border">
    <h4 class="title">Empty States</h4>
  </div>
  <div class="card-body">
    <div class="card elevation-flat mb-lg">
      <div class="card-header with-border">
        <div class="title">Available Inputs</div>
      </div>
      <div class="card-body">
        <pre>@Input() type</pre>
        <pre>@Input() title</pre>
        <pre>@Input() message</pre>
      </div>
    </div>
    <div class="grid-row" style="grid-row-gap: 2rem">
      <div class="col-md-6">
        <div class="card elevation-flat">
          <div class="card-header with-border">
            <pre class="text-align-center">default</pre>
          </div>
          <div class="card-body">
            <app-empty-state></app-empty-state>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card elevation-flat">
          <div class="card-header with-border">
            <pre class="text-align-center">type:search</pre>
          </div>
          <div class="card-body">
            <app-empty-state type="search"></app-empty-state>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card elevation-flat">
          <div class="card-header with-border">
            <pre class="text-align-center">type:box</pre>
          </div>
          <div class="card-body">
            <app-empty-state type="box"></app-empty-state>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card elevation-flat">
          <div class="card-header with-border">
            <pre class="text-align-center">type:notification</pre>
          </div>
          <div class="card-body">
            <app-empty-state type="notification"></app-empty-state>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card elevation-flat">
          <div class="card-header with-border">
            <pre class="text-align-center">type:chart</pre>
          </div>
          <div class="card-body">
            <app-empty-state type="chart"></app-empty-state>
          </div>
        </div>
      </div>
    </div>

    <div class="card elevation-flat mt-xl">
      <div class="card-header with-border">
        <div class="display-flex flex-direction-column">
          <pre>type: search</pre>
          <pre>title: "No Search Results"</pre>
          <pre>message: "Sorry, We were not able to find any data based on your search."</pre>
        </div>
      </div>
      <div class="card-body">
        <app-empty-state
          type="search"
          [message]="'Sorry, We were not able to find any data based on your search.'"
          [title]="'No Search Results'">
        </app-empty-state>
      </div>
    </div>
  </div>
</div>
