<div class="auth-page forgot-password-page">
  <div class="container">
    <div class="logo">
      <img src="assets/images/logo.svg" alt="company logo">
    </div>
    <div class="card auth-card">
      <ng-container *ngIf="!isEmailSent">
        <div class="go-back">
          <a class="btn" routerLink="/auth">
            <i class="font-icon far fa-arrow-left icon-prefix"></i>
            <span>Back</span>
          </a>
        </div>
        <div class="mb-lg">
          <h4 class="text-primary">{{'MOD_AUTH.MOD_FORGOT_PASSWORD.PAGE_TITLE' | translate}}</h4>
          <p class="mb-zero">{{'MOD_AUTH.MOD_FORGOT_PASSWORD.PAGE_TITLE_SUBTEXT' | translate}}</p>
        </div>
        <form [formGroup]="formGroup" [id]="forgotPasswordFormId" *ngIf="formGroup">
          <div class="form-group"
               [class.has-error]="formGroup.controls['email'].touched && (formGroup.controls['email'].errors?.email || formGroup.controls['email'].errors?.required)">
            <label for="email" class="form-label">{{'MOD_AUTH.MOD_FORGOT_PASSWORD.EMAIL_LABEL' | translate}}</label>
            <input type="email" id="email" class="form-control form-control-lg"
                   [placeholder]="'MOD_AUTH.MOD_FORGOT_PASSWORD.EMAIL_PLACEHOLDER' | translate"
                   formControlName="email"/>
            <ng-container *ngIf="formGroup.controls['email'].touched">
            <span class="nico-tooltip" *ngIf="formGroup.controls['email'].errors?.required">
              {{'MOD_AUTH.MOD_FORGOT_PASSWORD.EMAIL_LABEL' | translate}} {{'MOD_COMMON.IS_REQUIRED_LABEL' | translate}}
            </span>
              <span class="nico-tooltip" *ngIf="formGroup.controls['email'].errors?.email && !formGroup.controls['email'].errors?.required">
               {{'MOD_AUTH.MOD_FORGOT_PASSWORD.INVALID_EMAIL_ERROR' | translate}}
            </span>
            </ng-container>
          </div>
          <button class="btn btn-primary btn-block mt-sm" [class.loading]="isLoading" (click)="sendResetPasswordLink()">
            <app-static-spinner size="2rem" *ngIf="isLoading"></app-static-spinner>
            <span>{{'MOD_AUTH.MOD_FORGOT_PASSWORD.SUBMIT_BUTTON_LABEL' | translate}}</span>
          </button>
        </form>
      </ng-container>
      <ng-container *ngIf="isEmailSent">
        <div class="email-sent">
          <i class="font-icon far fa-check-circle text-success"></i>
          <div class="text-align-center">
            <h5>{{'MOD_AUTH.MOD_FORGOT_PASSWORD.EMAIL_SENT_SUCCESSFULLY_TITLE' | translate}}</h5>
            <p>{{'MOD_AUTH.MOD_FORGOT_PASSWORD.EMAIL_SENT_SUCCESSFULLY_SUBTITLE' | translate}}</p>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
