<div class="employee-additional-info">
  <div class="title-with-button mb-lg">
    <h4
      class="text-primary mb-zero">{{'MOD_EMPLOYEES.MOD_VIEW_DETAIL_EMPLOYEE.EMPLOYEE_CONTACTS.PAGE_TITLE' | translate}}</h4>
  </div>
  <!--    contact data-->
  <div class="grid-row" *ngIf="contactModel?.length > 0; else empty_state">
    <div class="col-xl-3 col-lg-4 col-md-6" *ngFor="let contact of contactModel">
      <div class="info-card">
        <div class="rep-icons">
          <app-circular-icon [config]="{iconName: contact?.contactTypeIcon , color: 'primary'}"></app-circular-icon>
        </div>
        <h5 class="mb-xs ml-xs mt-sm">{{contact?.contactTypeName | translate}}</h5>
        <p class="ml-xs mb-xs">{{contact?.number}}</p>
       </div>
    </div>
  </div>
  <!--    empty state-->
  <ng-template #empty_state>
    <app-empty-state></app-empty-state>
  </ng-template>
</div>
