<div class="card attendance-section attendance-calendar">
  <ejs-schedule
    [currentView]="'Month'"
    [eventSettings]="eventSettings"
    [views]="views"
    (popupOpen)="onPopupOpen($event)"
    (navigating)="onNavigationClick($event)"
    (eventClick)="onEventClick($event)"
    (cellClick)="onCellClick($event)">
    <e-views>
      <e-view option="Month">
        <ng-template #eventTemplate let-data>
          <div class="cell-attendance-info">
            <span class="cell-leave" *ngIf="data?.Leave; else workDay">{{data?.Leave}}</span>
            <ng-template #workDay>
              <span class="cell-date-value">{{getTotalWorkTime(data?.StartTime, data?.EndTime)}}</span>
              <strong class="cell-work-hours">{{data?.WorkHours}}</strong>
            </ng-template>
          </div>
        </ng-template>
      </e-view>
    </e-views>
  </ejs-schedule>
</div>
