<div class="auth-page forgot-password-page">
  <div class="container">
    <div class="logo">
      <img src="assets/images/logo.svg" alt="company logo">
    </div>
    <div class="card auth-card">
      <h4 class="text-primary">{{'MOD_AUTH.MOD_RESET_PASSWORD.PAGE_TITLE' | translate}}</h4>
      <form [formGroup]="formGroup" [id]="resetPasswordFormId">

<!--        Password-->
        <div class="form-group"
             [class.has-error]="formGroup.controls['password'].touched && (formGroup.controls['password'].errors?.required || formGroup.controls['password'].errors?.badPassword)">
          <label for="password"
                 class="form-label">{{'MOD_AUTH.MOD_RESET_PASSWORD.NEW_PASSWORD_LABEL' | translate}}
            <app-form-info-tooltip [tooltipData]="'MOD_ACCOUNT.MOD_CHANGE_PASSWORD.NEW_PASSWORD_INFO_MESSAGE'">
            </app-form-info-tooltip>
          </label>
          <div class="input-group password-input-group">
            <input class="form-control form-control-lg"
                   appToggle
                   placeholder="{{'MOD_ACCOUNT.MOD_CHANGE_PASSWORD.OLD_PASSWORD_PLACEHOLDER' | translate}}"
                   formControlName="password"
            />
          </div>
          <ng-container *ngIf="formGroup.controls['password'].touched">
            <span class="nico-tooltip" *ngIf="formGroup.controls['password'].errors?.required">
             {{'MOD_AUTH.MOD_RESET_PASSWORD.NEW_PASSWORD_LABEL' | translate}} {{'MOD_COMMON.IS_REQUIRED_LABEL' | translate}}
            </span>
            <span class="nico-tooltip" *ngIf="formGroup.controls['password'].errors?.badPassword && !formGroup.controls['password'].errors?.required">
              {{'MOD_ACCOUNT.MOD_CHANGE_PASSWORD.NEW_PASSWORD_ERROR_MESSAGE' | translate}}
            </span>
          </ng-container>
        </div>

<!--        Password-confirmation-->
        <div class="form-group"
             [class.has-error]="formGroup.controls['password_confirmation'].touched && (formGroup.controls['password_confirmation'].errors?.required || formGroup.controls['password_confirmation'].errors?.fieldMismatch)">
          <label for="password_confirmation"
                 class="form-label">{{'MOD_AUTH.MOD_RESET_PASSWORD.CONFIRM_PASSWORD_LABEL' | translate}}
          </label>
          <div class="input-group password-input-group">
            <input class="form-control form-control-lg"
                   appToggle
                   placeholder="{{'MOD_ACCOUNT.MOD_CHANGE_PASSWORD.OLD_PASSWORD_PLACEHOLDER' | translate}}"
                   formControlName="password_confirmation"
            />
          </div>
          <ng-container *ngIf="formGroup.controls['password_confirmation'].touched">
            <span class="nico-tooltip" *ngIf="formGroup.controls['password_confirmation'].errors?.required">
              {{'MOD_AUTH.MOD_RESET_PASSWORD.CONFIRM_PASSWORD_LABEL' | translate}} {{'MOD_COMMON.IS_REQUIRED_LABEL' | translate}}
            </span>
            <span class="nico-tooltip"
                  *ngIf="formGroup.controls['password_confirmation'].errors?.fieldMismatch && !formGroup.controls['password_confirmation'].errors?.required">
               {{'MOD_ACCOUNT.MOD_CHANGE_PASSWORD.NEW_PASSWORD_CONFIRM_ERROR_MESSAGE' | translate}}
            </span>
          </ng-container>
        </div>
        <button class="btn btn-primary btn-block mt-sm" (click)="resetPassword()">
          <app-static-spinner size="2rem" *ngIf="isLoading"></app-static-spinner>
          <span>{{'MOD_AUTH.MOD_RESET_PASSWORD.SUBMIT_BUTTON_LABEL' | translate}}</span>
        </button>
      </form>
    </div>
  </div>
</div>
