<div class="employee-leave-page">
  <div class="page-header with-border">
    <div class="page-header-left">
      <h4 class="title page-header-title">{{pageTitle}}</h4>
    </div>
    <div class="page-header-right">
      <button class="btn btn-primary ml-auto new-btn" (click)="requestLeave()">
        <i class="font-icon far fa-plus icon-prefix"></i>
        {{'MOD_LEAVE.REQUEST_FOR_LABEL'| translate}}
      </button>
    </div>
  </div>

  <app-search-nav
    [searchPlaceholderText]="'MOD_EMPLOYEES.SEARCH_INPUT_PLACEHOLDER'"
    (searchChange)="onSearchTextChange($event)"
    (sortOrderChange)="onSortOrderChange($event)"
    (sortByChange)="onSortByChange($event)"
    (statusChange)="onStatusChange($event)"
    [statusDropdownValues]="statusDropdownValues"
    [sortByDropdownValues]="sortByDropdownValues"
    (viewToggleChange)="onViewToggle($event)">
  </app-search-nav>
  <!-- all employees data display-->
  <!--  card view-->
  <div class="grid-row" *ngIf="!isTableView">
    <ng-container *ngIf="models">
      <div class="col-xl-3 col-lg-4 col-sm-4 col-xs-6 mb-sm"  *ngFor="let model of models">
        <div class="card list-card h-100">
          <div class="card-body p-zero">
            <div class="pr-md">

              <h5 class="m-zero text-truncate ">
                <span *ngIf="model?.is_emergency" class="mr-xs" [matTooltip]="'MOD_LEAVE.LEAVE_EMERGENCY_NOTIFY_MESSAGE' | translate" [matTooltipPosition]="'above'" >
                  <i class="fa fa-engine-warning text-warning"></i>
                </span>
                {{model?.title}}
              </h5>

              <div class="subtitle capitalize">{{model?.type}}</div>
            </div>
          <div class="mt-sm">
            <app-pill [isCustomContent]="true" className="pill-avatar" size="medium">
              <app-avatar [imageLink]="model?.employee.avatar" [username]="model?.employee.name"></app-avatar>
              <span>{{model?.employee.name | titlecase}}</span>
            </app-pill>
          </div>

          <div class="display-flex flex-justify-content-space-between flex-align-items-center my-md">
            <!--              start at-->
            <div class="display-flex flex-direction-column flex-align-items-center">
              <div class="mb-xs">
                <span> {{model?.start_at | utcToLocal: 'MMM'}},</span>
                <span class="ml-xxs">{{model?.start_at | utcToLocal: 'yyyy'}}</span>
              </div>
              <span class="font-weight-bold mb-xs">
                {{model.start_at | utcToLocal: 'DD'}}
              </span>
              <div class="mb-xs">
                {{model?.start_at | utcToLocal: 'dddd'}}
              </div>
            </div>
            <!--              end at-->
            <div class="display-flex flex-direction-column flex-align-items-center arrow-container">

              <span class="interval-arrow mb-xs"></span>
              <div class="font-weight-bold"><span>{{model?.days}}</span>
                <span class="ml-xxs">
                {{model?.days > 1? ('MOD_ALLOCATED_LEAVE.DAYS_LABEL'| translate): ('MOD_ALLOCATED_LEAVE.DAY_LABEL'| translate) }}
                </span></div>
            </div>
            <div class="display-flex flex-direction-column flex-align-items-center">
              <div class="mb-xs">
                <span> {{model?.end_at | utcToLocal: 'MMM'}},</span>
                <span class="ml-xxs">{{model?.end_at | utcToLocal: 'yyyy'}}</span>
              </div>
              <span class="font-weight-bold mb-xs">
                {{model?.end_at | utcToLocal: 'DD'}}
              </span>
              <div class="mb-xs">
                {{model?.end_at | utcToLocal: 'dddd'}}
              </div>
            </div>
          </div>
          </div>


          <a class="card-footer with-border" (click)="onViewLeave(model)">
               <span>
                   <app-pill [label]="getPillData(model?.status).label" [color]="getPillData(model?.status).color" size="medium"></app-pill>
                </span>
            <span class="link">{{'MOD_DEPARTMENT.VIEW_DETAIL_BUTTON_LABEL' | translate}}</span>
          </a>
        </div>
      </div>
    </ng-container>
    <div class="grid-row" *ngIf="models?.all().length <= 0 && !isTableView">
      <div class="card-body">
        <app-empty-state></app-empty-state>
      </div>
    </div>
    <nico-paginator
      *ngIf="models"
      [currentPage]="models.currentPage"
      [size]="models.total"
      [limit]="models.perPage"
      (pageChange)="onPageChange($event)"
      (perPageLimitChange)="onPageLimitChange($event)">
    </nico-paginator>
  </div>

  <!--  table view-->
  <div *ngIf="isTableView">
    <div class="card" id="flexTable">
      <div class="flex-table flex-table--6cols no-border">
        <div class="flex-table-thead">
          <div class="flex-table-tr with-border">
            <div class="flex-table-th w-15">
              <span class="cell-data">{{'MOD_LEAVE.MOD_TABLE_VIEW.EMPLOYEE_NAME_LABEL' | translate}}</span>
            </div>
            <div class="flex-table-th w-15">
              <span class="cell-data">{{'MOD_LEAVE.LEAVE_TITLE_LABEL' | translate}}</span>
            </div>
            <div class="flex-table-th w-15">
              <span class="cell-data">{{'MOD_LEAVE.LEAVE_TYPE_LABEL' | translate}}</span>
            </div>
            <div class="flex-table-th w-15">
              <span class="cell-data">{{'MOD_LEAVE.MOD_TABLE_VIEW.FROM_LABEL' | translate}}</span>
            </div>
            <div class="flex-table-th w-15">
              <span class="cell-data">{{'MOD_LEAVE.MOD_TABLE_VIEW.TO_LABEL' | translate}}</span>
            </div>
            <div class="flex-table-th w-10">
              <span class="cell-data text-align-center">{{'MOD_LEAVE.MOD_TABLE_VIEW.NUMBER_OF_DAYS_LABEL' | translate}}</span>
            </div>
            <div class="flex-table-th w-15">
              <span class="cell-data">{{'MOD_DEPARTMENT.MOD_EDIT_DEPARTMENT.STATUS_LABEL' | translate}}</span>
            </div>

          </div>
        </div>
        <div class="flex-table-tbody table-striped" *ngIf="models">
          <ng-container *ngIf="models?.all().length > 0">
            <ng-container *ngFor="let model of models?.all()">
              <div class="flex-table-tr tr-hover hover-background " (click)="onSelectTableRow(model)">
                <div class="flex-table-td w-15">
                  <app-avatar [username]="model?.employee.name" [imageLink]="model?.employee.avatar" class="mr-sm"></app-avatar>
                  <span class="cell-data">{{model?.employee.name}}</span>
                </div>
                <div class="flex-table-td w-15">
                  <span class="cell-data">{{model?.title}}</span>
                </div>
                <div class="flex-table-td w-15">
                  <span class="cell-data">{{model?.type}}</span>
                </div>
                <div class="flex-table-td w-15">
                  <span class="cell-data">
                  <nico-date [value]="model?.start_at" format="MMM DD, YYYY"></nico-date>
                  </span>
                </div>
                <div class="flex-table-td w-15">
                  <span class="cell-data">
                  <nico-date [value]="model?.end_at" format="MMM DD, YYYY"></nico-date>
                  </span>
                </div>
                <div class="flex-table-td w-10">
                  <span class="cell-data text-align-center">{{model?.days}}</span>
                </div>
                <div class="flex-table-td w-15">
                  <span class="cell-data">
                    <span>
                      <app-pill [label]="getPillData(model?.status).label" [color]="getPillData(model?.status).color" size="medium"></app-pill>
                    </span>
                  </span>
                </div>

              </div>
            </ng-container>
          </ng-container>
        </div>
        <div class="grid-row" *ngIf="models?.all().length <= 0 && isTableView">
          <div class="card-body">
            <app-empty-state></app-empty-state>
          </div>
        </div>
      </div>
    </div>
    <nico-paginator
      *ngIf="models"
      [currentPage]="models.currentPage"
      [size]="models.total"
      [limit]="models.perPage"
      (pageChange)="onPageChange($event)"
      (perPageLimitChange)="onPageLimitChange($event)">
    </nico-paginator>
  </div>
</div>
