<div class="employee-page">
  <!--  Page Header  -->
  <div class="page-header with-border">
    <div class="page-header-left">
    <h4 class="page-header-title">{{pageTitle}}</h4>
    </div>
    <div class="page-header-right">
      <button class="btn btn-primary new-btn" (click)="onAddEditEmployee()">
        <i class="font-icon far fa-plus icon-prefix"></i>
        {{'MOD_EMPLOYEES.ADD_EMPLOYEE_BUTTON_LABEL'| translate}}
      </button>
    </div>
  </div>
  <!--  Common Search  -->
  <app-search-nav
    [searchPlaceholderText]="'MOD_EMPLOYEES.SEARCH_INPUT_PLACEHOLDER'"
    (searchChange)="onSearchTextChange($event)"
    (sortOrderChange)="onSortOrderChange($event)"
    (sortByChange)="onSortByChange($event)"
    (statusChange)="onStatusChange($event)"
    [statusDropdownValues]="statusDropdownValues"
    [sortByDropdownValues]="sortByDropdownValues"
    (viewToggleChange)="onViewToggle($event)">
  </app-search-nav>

  <ng-container *ngIf="models && models?.length > 0">
    <!--  Card view  -->
    <ng-container *ngIf="!isTableView">
      <div class="grid-row list-grid-row">
        <div class="col-xl-3 col-lg-4 col-sm-4 col-xs-6" *ngFor="let model of models">
          <div class="card list-card employee-card">
            <div class="basic-info">
              <app-avatar
                [avatarClassName]="'avatar-s4'" [imageLink]="model.avatar"
                [username]="model.name" class="mb-sm">
              </app-avatar>
              <div class="pb-sm">
                <span class="subtitle text-primary text-truncate mb-xxs">
                    {{model.code}}
                  </span>
                <h5 class="title text-truncate mb-xxs">
                  {{model.name | titlecase}}
                </h5>
                <span class="subtitle text-truncate"> {{model.position | titlecase}} </span>
              </div>
            </div>
            <div class="additional-info">
              <div class="text-small mb-xs">
                <i class="far fa-envelope-open mr-xs"></i><span>{{model.email}}</span>
              </div>
              <div class="text-small">
                <i class="far fa-briefcase mr-xs"></i><span>{{model.department}}</span>
              </div>
            </div>
            <a class="card-footer with-border" [routerLink]="model.id">
              <span>
                  <app-pill [label]="'MOD_EMPLOYEES.STATUS_DROPDOWN_VALUES.ACTIVE'| translate" color="success"
                            *ngIf="model.status === status.Active" size="medium"></app-pill>
                  <app-pill [label]="'MOD_EMPLOYEES.STATUS_DROPDOWN_VALUES.INACTIVE'| translate"
                            [isActive]="true" *ngIf="model.status === status.Inactive" size="medium"></app-pill>
                </span>
              <a class="link">{{'MOD_EMPLOYEES.VIEW_DETAIL_BUTTON_LABEL' | translate}}</a>
            </a>
          </div>
        </div>
      </div>
      <ng-container *ngIf="models">
        <nico-paginator
          [currentPage]="models.currentPage"
          [size]="models.total"
          [limit]="models.perPage"
          (pageChange)="onPageChange($event)"
          (perPageLimitChange)="onPageLimitChange($event)">
        </nico-paginator>
      </ng-container>
    </ng-container>
    <!--  Table view  -->
    <div *ngIf="isTableView">
      <div class="card" id="flexTable">
        <div class="flex-table flex-table--6cols no-border">
          <div class="flex-table-thead">
            <div class="flex-table-tr with-border">
              <div class="flex-table-th w-20">
                <span class="cell-data">{{'MOD_EMPLOYEES.NAME_LABEL' | translate}}</span>
              </div>
              <div class="flex-table-th w-20">
                <span class="cell-data">{{'MOD_EMPLOYEES.EMPLOYEE_CODE_LABEL' | translate}}</span>
              </div>
              <div class="flex-table-th w-20">
                <span class="cell-data">{{'MOD_EMPLOYEES.EMAIL_LABEL' | translate}}</span>
              </div>
              <div class="flex-table-th w-20">
                <span class="cell-data">{{'MOD_EMPLOYEES.POSITION_LABEL' | translate}}</span>
              </div>
              <div class="flex-table-th w-20">
                <span class="cell-data">{{'MOD_EMPLOYEES.DEPARTMENT_LABEL' | translate}}</span>
              </div>
            </div>
          </div>
          <div class="flex-table-tbody table-striped" *ngIf="models">
            <ng-container *ngIf="models?.all().length > 0">
              <ng-container *ngFor="let model of models?.all()">
                <div class="flex-table-tr tr-hover hover-background " (click)="onSelectTableRow(model)">
                  <div class="flex-table-td w-20">
                    <app-avatar [username]="model.name" [imageLink]="model.avatar" class="mr-sm"></app-avatar>
                    <span class="cell-data">{{model.name}}</span>
                  </div>
                  <div class="flex-table-td w-20">
                    <span class="cell-data">{{model.code}}</span>
                  </div>
                  <div class="flex-table-td w-20">
                    <span class="cell-data">{{model.email}}</span>
                  </div>
                  <div class="flex-table-td w-20">
                    <span class="cell-data">{{model.position}}</span>
                  </div>
                  <div class="flex-table-td w-20">
                    <span class="cell-data">{{model.department}}</span>
                  </div>
                </div>
              </ng-container>
            </ng-container>
          </div>
        </div>
      </div>
      <nico-paginator
        *ngIf="models"
        [currentPage]="models.currentPage"
        [size]="models.total"
        [limit]="models.perPage"
        (pageChange)="onPageChange($event)"
        (perPageLimitChange)="onPageLimitChange($event)">
      </nico-paginator>
    </div>
  </ng-container>

  <!--  Empty State  -->
  <ng-container *ngIf="models?.all().length <= 0">
    <app-empty-state></app-empty-state>
  </ng-container>
</div>
