<!-- Circular Icon Container -->
<div class="card" id="circleIcons">
  <div class="card-header with-border">
    <h4 class="title">Circular Icon Component</h4>
  </div>
  <div class="card-body">
    <ul class="list-group">
      <li class="list-item">
        <div class="grid-row">
          <div class="col-4">
            <h6>Color</h6>
          </div>
          <div class="col-4">
            <h6>Default</h6>
          </div>
          <div class="col-4">
            <h6>With Indicator</h6>
          </div>
        </div>
      </li>
      <li class="list-item py-md">
        <div class="grid-row">
          <div class="col-4">
            <pre>color: 'primary'</pre>
          </div>
          <div class="col-4">
            <app-circular-icon [config]="{iconName: 'far fa-home', color: 'primary'}"></app-circular-icon>
          </div>
          <div class="col-4">
            <app-circular-icon
              [config]="{iconName: 'far fa-home', color: 'primary', withIndicator: true}"></app-circular-icon>
          </div>
        </div>
      </li>
      <li class="list-item py-md">
        <div class="grid-row">
          <div class="col-4">
            <pre>color: 'accent'</pre>
          </div>
          <div class="col-4">
            <app-circular-icon [config]="{iconName: 'far fa-home', color: 'accent'}"></app-circular-icon>
          </div>
          <div class="col-4">
            <app-circular-icon
              [config]="{iconName: 'far fa-home', color: 'accent', withIndicator: true}"></app-circular-icon>
          </div>
        </div>
      </li>
      <li class="list-item py-md">
        <div class="grid-row">
          <div class="col-4">
            <pre>color: 'danger'</pre>
          </div>
          <div class="col-4">
            <app-circular-icon [config]="{iconName: 'far fa-home', color: 'danger'}"></app-circular-icon>
          </div>
          <div class="col-4">
            <app-circular-icon
              [config]="{iconName: 'far fa-home', color: 'danger', withIndicator: true}"></app-circular-icon>
          </div>
        </div>
      </li>
      <li class="list-item py-md">
        <div class="grid-row">
          <div class="col-4">
            <pre>color: 'info'</pre>
          </div>
          <div class="col-4">
            <app-circular-icon [config]="{iconName: 'far fa-home', color: 'info'}"></app-circular-icon>
          </div>
          <div class="col-4">
            <app-circular-icon
              [config]="{iconName: 'far fa-home', color: 'info', withIndicator: true}"></app-circular-icon>
          </div>
        </div>
      </li>
      <li class="list-item py-md">
        <div class="grid-row">
          <div class="col-4">
            <pre>color: 'success'</pre>
          </div>
          <div class="col-4">
            <app-circular-icon [config]="{iconName: 'far fa-home', color: 'success'}"></app-circular-icon>
          </div>
          <div class="col-4">
            <app-circular-icon
              [config]="{iconName: 'far fa-home', color: 'success', withIndicator: true}"></app-circular-icon>
          </div>
        </div>
      </li>
      <li class="list-item py-md">
        <div class="grid-row">
          <div class="col-4">
            <pre>color: 'warning'</pre>
          </div>
          <div class="col-4">
            <app-circular-icon [config]="{iconName: 'far fa-home', color: 'warning'}"></app-circular-icon>
          </div>
          <div class="col-4">
            <app-circular-icon
              [config]="{iconName: 'far fa-home', color: 'warning', withIndicator: true}"></app-circular-icon>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
