<!-- Pagination -->
<div class="card" id="pagination">
  <div class="card-header with-border">
    <h4 class="title">Pagination</h4>
  </div>
  <div class="card-body">
    <nico-paginator
      [range]="2"
      [currentPage]="1"
      [size]="1024"
      [limit]="16">
    </nico-paginator>
  </div>
</div>
