<div class="view-details">
  <div class="grid-row">
    <div class="col-lg-3">
      <div class="about-info">
        <div class="card sticky-side-nav">
          <div class="user-img mb-lg">
            <app-avatar [imageLink]="userProfile?.avatar"
                        [avatarClassName]="'avatar-s8'"
                        [username]="userProfile?.name" >
            </app-avatar>
          </div>
          <div class="user-info px-sm">
            <div class="main-info">
              <h3 *ngIf="userProfile">{{userProfile?.name}}</h3>
            </div>
            <a class="pt-1" (click)="openChangePasswordModal()">
              <button class="btn btn-link-primary">{{'MOD_ACCOUNT.CHANGE_PASSWORD_LABEL' | translate}}</button>
            </a>
            <hr>
          </div>
          <div class="tab-container tab-line tab-vertical tab-primary mt-xs">
            <ng-container *ngFor="let item of componentsList">
              <a class="tab-item info-navigation" [routerLink]="item.fragment" routerLinkActive="active">
                <i [class]="item.icon" class="mr-sm"></i>
                <span>{{item.name}}</span>
              </a>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-9">
      <div class="card">
        <div class="child-contents">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
