$switch-active-bg-color: #5DCA3E !default;
$switch-inactive-bg-color: #E8E8E8 !default;
$switch-knob-bg-color: #FFFFFF !default;
$switch-disabled-knob-bg-color: #F8F8F8 !default;

:host,
.app-switch-element {
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.switch {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  align-items: center;

  .switch-label {
    cursor: pointer;
  }

  &.label-prefix {
    flex-direction: row-reverse;
    .switch-label {
      margin-right: 0.75rem;
    }
  }

  &.label-suffix {
    .switch-label {
      margin-left: 0.75rem;
    }
  }

  .switch-input {
    appearance: none;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    box-shadow: inset 0 0 0 1px darken($switch-inactive-bg-color, 12%);
    background-color: $switch-inactive-bg-color;
    width: 3rem;
    min-width: 3rem;
    padding: 0.125rem;
    border-radius: 3rem;
    cursor: pointer;
    transition: background-color 0.75s ease, box-shadow 0.35s ease-in;

    &:before {
      position: relative;
      content: '';
      display: inline-block;
      border-radius: 1rem;
      height: 1.5rem;
      width: 1.5rem;
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.32);
      background-color: $switch-knob-bg-color;
      border: 1px solid rgba(0, 0, 0, 0);
      transition: all 0.35s cubic-bezier(0.175, 0.885, 0.320, 1.175);
    }

    &:active {
      &:not(:disabled) {
        &:before {
          width: 1.75rem;
        }
      }
    }

    &:hover {
      &:not(:disabled) {
        box-shadow: inset 0 0 0 1rem darken($switch-inactive-bg-color, 12%);
      }
    }

    &:focus, &:focus-within {
      box-shadow: 0 0 0 0.125rem darken($switch-active-bg-color, 8%);
      outline: none;

      &:before {
        box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.4);
      }
    }

    &:checked {
      background-color: $switch-active-bg-color;
      box-shadow: inset 0 0 0 1px $switch-active-bg-color;

      &:before {
        transform: translate3d(calc(100% - 0.5rem), 0, 0);
      }

      &:active {
        &:not(:disabled) {
          &:before {
            margin-left: -0.5rem;
          }
        }
      }

      &:hover {
        &:not(:disabled) {
          box-shadow: inset 0 0 0 1rem darken($switch-active-bg-color, 12%);
        }
      }

      &:focus, &:focus-within {
        box-shadow: 0 0 0 0.125rem darken($switch-active-bg-color, 8%);
      }
    }

    &:disabled {
      pointer-events: none;
      cursor: not-allowed;
      opacity: 0.5;
      user-select: none;

      &:before {
        background-color: $switch-disabled-knob-bg-color;
      }
    }
  }
}
