<div class="card">
  <div class="employee-additional-info">
    <div class="card-header mb-sm">
      <h5 class="card-title">{{pageTitle}}</h5>
      <button class="btn btn-primary new-btn" (click)="onAddEditLeave()"><i
        class="font-icon far fa-plus icon-prefix"></i> {{'MOD_ALLOCATED_LEAVE.ADD_NEW_BUTTON_LABEL' | translate}}
      </button>
    </div>
    <div class="grid-row" *ngIf="model?.all().length > 0; else empty_state">
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12" *ngFor="let leave of model">
        <div class="h-100 info-card">
          <div class="card-header">
            <app-circular-icon [config]="{iconName: 'far fa-calendar-minus ' , color: 'primary'}"></app-circular-icon>
            <div class="fly-menu-absolute">
              <nico-action-fly-menu
                [options]="{showIconOnly: true}"
                [addOns]="getFlyMenuAdOns()"
                (action)="onFlyMenuAction($event, leave)">
              </nico-action-fly-menu>
            </div>
          </div>
          <h5 class="leave-title m-zero mb-xs text-truncate">{{leave.title}}</h5>
          <p
            class="text-primary m-zero mb-xs">{{leave.days}} {{leave.days > 1 ? ('MOD_ALLOCATED_LEAVE.DAYS_LABEL'| translate) : ('MOD_ALLOCATED_LEAVE.DAY_LABEL'| translate)}}</p>
          <p class="text-muted">{{leave.type | titlecase}} {{'MOD_ALLOCATED_LEAVE.LEAVE_LABEL'| translate}}</p>
          <div>
            <div class="display-flex flex-justify-content-space-between mb-xs">
              <div class="display-flex flex-align-items-center">
                <i class="far fa-calendar-star text-primary mr-xs"></i>
                <p class="m-zero">{{'MOD_ALLOCATED_LEAVE.START_DATE_LABEL'| translate}}</p>
              </div>
              <nico-date [value]="leave.start_date" format="YYYY-MM-DD"></nico-date>
            </div>
            <div class="display-flex flex-justify-content-space-between">
              <div class="display-flex flex-align-items-center">
                <i class="far fa-calendar-exclamation text-primary mr-xs"></i>
                <p class="m-zero">{{'MOD_ALLOCATED_LEAVE.END_DATE_LABEL'| translate}}</p>
              </div>
              <nico-date [value]="leave.end_date" format="YYYY-MM-DD"></nico-date>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ng-template #empty_state>
      <app-empty-state></app-empty-state>
    </ng-template>
  </div>
</div>
<div class="display-flex flex-justify-content-center my-sm">
  <ng-container *ngIf="model">
    <nico-paginator
      [currentPage]="model.currentPage"
      [size]="model.total"
      [limit]="model.perPage"
      (pageChange)="onPageChange($event)"
      (perPageLimitChange)="onPageLimitChange($event)">
    </nico-paginator>
  </ng-container>
</div>
