<div class="auth-page">
  <div class="container">
    <div class="logo">
      <img src="assets/images/logo.svg" alt="company logo">
    </div>
    <div class="card auth-card">
      <div class="mb-lg">
        <h4 class="text-primary">{{'MOD_AUTH.MOD_PASSWORD_RESET_CONFIRM.PAGE_TITLE' | translate}}</h4>
        <p class="mb-zero">{{'MOD_AUTH.MOD_PASSWORD_RESET_CONFIRM.PAGE_TITLE_SUBTEXT' | translate}}</p>
      </div>
      <a routerLink="/auth/login" class="btn btn-primary btn-block mt-sm">
        {{'MOD_AUTH.MOD_PASSWORD_RESET_CONFIRM.REDIRECT_BUTTON_LABEL' | translate}}
      </a>
    </div>
  </div>
</div>

