<div class="admin-report-page">
<div class="card" id="flexTable">
  <div class="flex-table flex-table--6cols no-border">
    <div class="flex-table-thead">
      <div class="flex-table-tr with-border">
        <div class="flex-table-th w-20">
          <span class="cell-data">{{'MOD_ATTENDANCE_REPORT.EMPLOYEES_LABEL' | translate}}</span>
        </div>
        <div class="flex-table-th w-10">
          <span class="cell-data ">{{'MOD_ATTENDANCE_REPORT.PRESENT_LABEL' | translate}}</span>
        </div>
        <div class="flex-table-th w-10">
          <span class="cell-data ">{{'MOD_ATTENDANCE_REPORT.ABSENT_LABEL' | translate}}</span>
        </div>
        <div class="flex-table-th w-10">
          <span class="cell-data ">{{'MOD_ATTENDANCE_REPORT.LEAVE_LABEL' | translate}}</span>
        </div>
        <div class="flex-table-th w-10">
          <span class="cell-data">{{'MOD_ATTENDANCE_REPORT.AVG_CHECK_IN_LABEL' | translate}}</span>
        </div>
        <div class="flex-table-th w-10">
          <span class="cell-data">{{'MOD_ATTENDANCE_REPORT.AVG_CHECK_OUT_LABEL' | translate}}</span>
        </div>
        <div class="flex-table-th w-10">
          <span class="cell-data">{{'MOD_ATTENDANCE_REPORT.AVG_WORK_TIME_LABEL' | translate}}</span>
        </div>
        <div class="flex-table-th w-10">
          <span class="cell-data">{{'MOD_ATTENDANCE_REPORT.TOTAL_WORK_TIME_LABEL' | translate}}</span>
        </div>
        <div class="flex-table-th action-cell">
          <a [href]="api" target="_blank"
             [matTooltip]="exportLabel" [matTooltipPosition]="'above'"
          ><i class="far fa-file-download"></i></a></div>
      </div>
    </div>
    <div class="flex-table-tbody table-striped" *ngIf="models">
      <ng-container *ngIf="models?.all().length > 0">
        <ng-container *ngFor="let model of models?.all()">
          <div class="flex-table-tr tr-hover hover-background ">
            <div class="flex-table-td w-20">
              <app-avatar [username]="model?.employee?.name" [imageLink]="model?.employee?.avatar" class="mr-sm"></app-avatar>
              <span class="cell-data">{{model?.employee?.name}}</span>
            </div>
<!--            <div class="flex-table-td w-10">-->
<!--              <span class="cell-data">{{model?.employee.position}}</span>-->
<!--            </div>-->
            <div class="flex-table-td w-10">
              <span class="cell-data "><span class="present-label">{{model?.present_days}}</span></span>
            </div>
            <div class="flex-table-td w-10">
              <span class="cell-data"><span class="absent-label">{{model?.absent_days}}</span></span>
            </div>
            <div class="flex-table-td w-10">
              <span class="cell-data">{{model?.leave_days}}</span>
            </div>
            <div class="flex-table-td w-10">
              <span [class]="'cell-data'" ><span [class]="setLateCheckInColor(model?.avg_check_in, startThreshold)? ' late-check-in': ''"><i class=" far fa-long-arrow-right rotate-45 mr-xs"></i>{{getConvertedDate(model?.avg_check_in)}}</span></span>
            </div>
            <div class="flex-table-td w-10">
              <span class="cell-data">
                <span [class]="setLateCheckOutColor(model?.avg_check_out, endThreshold)? ' late-check-in': ''">
                  <i class=" far fa-long-arrow-up rotate-45 mr-xs"></i>
                  {{model?.avg_check_out === null? 'No data' : getConvertedDate(model?.avg_check_out)}}</span>
              </span>
            </div>
            <div class="flex-table-td w-10">
              <span class="cell-data">{{getSecondsToHours(model?.avg_work_time)}}</span>
            </div>
            <div class="flex-table-td w-10">
              <span class="cell-data">{{getSecondsToHours(model?.total_work_time)}}</span>
            </div>
            <div class="flex-table-td action-cell"></div>
          </div>
        </ng-container>
      </ng-container>
      <div class="grid-row" *ngIf="models?.all().length <= 0 ">
        <div class="card-body">
          <app-empty-state></app-empty-state>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
