<div class="cancellation-leave-page">
  <div class="modal-header with-border">
    <app-circular-icon [config]="{iconName: 'far fa-ban', color:'primary'}"></app-circular-icon>
    <h5 class="modal-title text-primary">{{pageTitle}}</h5>
    <div class="modal-close">
      <button class="icon-btn icon-btn-circular btn-link-light" mat-dialog-close>
        <i class="font-icon far fa-times"></i>
      </button>
    </div>
  </div>

  <form [formGroup]="cancellationForm" [id]="cancellationFormID">
    <div class="modal-body h-100vh">
      <!--      title-->
      <div class="form-group"
           [class.has-error]="cancellationForm.controls['title'].touched && cancellationForm.controls['title'].errors?.required">
        <label for="title" class="form-label">
          {{'MOD_ALLOCATED_LEAVE.MOD_ADD_EDIT_ALLOCATED_LEAVE.LEAVE_TITLE_LABEL'| translate}}
        </label>
        <input type="text" name="title" id="title" formControlName="title" class="form-control"
               placeholder="{{'MOD_LEAVE.MOD_LEAVE_REQUEST.LEAVE_TITLE_PLACEHOLDER'| translate}}"/>
        <span class="nico-tooltip"
              *ngIf="cancellationForm.controls['title'].touched && cancellationForm.controls['title'].errors?.required">
                 {{'MOD_ALLOCATED_LEAVE.MOD_ADD_EDIT_ALLOCATED_LEAVE.LEAVE_TITLE_LABEL'| translate}}{{'MOD_COMMON.IS_REQUIRED_LABEL' | translate}}
          </span>
      </div>

      <!--      date-time-->
      <div class="display-flex">
        <!--        start at-->
        <div class="form-group"  [class.has-error]="cancellationForm.controls['start_at'].touched && cancellationForm.controls['start_at'].errors?.required">
          <label for="start_at" class="form-label">{{'MOD_LEAVE.MOD_LEAVE_REQUEST.START_AT_LABEL'| translate}}
            <app-form-info-tooltip
              [tooltipData]="startDateTooltip"></app-form-info-tooltip>
          </label>
          <div class="form-control display-flex"  id="start_at">
            <input matInput [ngxMatDatetimePicker]="picker" class="input-styles-hidden"
                   formControlName="start_at"
                   [min]="min"
                   [max]="max"
                   placeholder="{{'MOD_LEAVE.MOD_LEAVE_REQUEST.START_AT_PLACEHOLDER'| translate}}"
                   readonly
            >
            <mat-datepicker-toggle matSuffix [for]="$any(picker)">
            </mat-datepicker-toggle>
            <ngx-mat-datetime-picker #picker
                                     [showSpinners]="showSpinners"
                                     [showSeconds]="showSeconds"
                                     [stepHour]="stepHour"
                                     [stepMinute]="stepMinute"
                                     [stepSecond]="stepSecond"
                                     [defaultTime]="defaultTime"
            >
            </ngx-mat-datetime-picker>
          </div>
          <span class="nico-tooltip" *ngIf="cancellationForm.controls['start_at'].touched && cancellationForm.controls['start_at'].errors?.required">
               {{'MOD_LEAVE.MOD_LEAVE_REQUEST.START_AT_LABEL'| translate}}{{'MOD_COMMON.IS_REQUIRED_LABEL' | translate}}
          </span>
        </div>
        <!--          end at-->
        <div class="ml-xs form-group" [class.has-error]="cancellationForm.controls['end_at'].touched && cancellationForm.controls['end_at'].errors?.required">
          <label for="end_at" class="form-label">{{'MOD_LEAVE.MOD_LEAVE_REQUEST.END_AT_LABEL'| translate}}
            <app-form-info-tooltip
              [tooltipData]="endDateTooltip"></app-form-info-tooltip>
          </label>
          <div class="form-control display-flex" id="end_at">
            <input matInput [ngxMatDatetimePicker]="picker1" class="input-styles-hidden"
                   formControlName="end_at"
                   [min]="endMin"
                   [max]="endMax"
                   placeholder="{{'MOD_LEAVE.MOD_LEAVE_REQUEST.END_AT_PLACEHOLDER'| translate}}"
                   readonly
            >
            <mat-datepicker-toggle matSuffix [for]="$any(picker1)">
            </mat-datepicker-toggle>
            <ngx-mat-datetime-picker #picker1
                                     [showSpinners]="showSpinners"
                                     [showSeconds]="showSeconds"
                                     [stepHour]="stepHour"
                                     [stepMinute]="stepMinute"
                                     [stepSecond]="stepSecond"
                                     [defaultTime]="defaultTimeEnd"

            >
            </ngx-mat-datetime-picker>
          </div>
          <span class="nico-tooltip" *ngIf="cancellationForm.controls['end_at'].touched && cancellationForm.controls['end_at'].errors?.required">
               {{'MOD_LEAVE.MOD_LEAVE_REQUEST.END_AT_LABEL'| translate}}{{'MOD_COMMON.IS_REQUIRED_LABEL' | translate}}
          </span>
        </div>
      </div>

      <!--      description-->
      <div class="form-group"
           [class.has-error]="cancellationForm.controls['description'].touched &&
           (cancellationForm.controls['description'].errors?.required)">
        <label for="description" class="form-label">
          {{'MOD_DEPARTMENT.MOD_EDIT_DEPARTMENT.DESCRIPTION_LABEL'| translate}}
        </label>
        <textarea type="text" name="description" id="description" formControlName="description" class="form-control"
                  placeholder="{{'MOD_DEPARTMENT.MOD_EDIT_DEPARTMENT.DESCRIPTION_PLACEHOLDER'| translate}}" rows="6">
        </textarea>

        <span class="nico-tooltip"
              *ngIf="cancellationForm.controls['description'].touched && cancellationForm.controls['description'].errors?.required">
                  {{'MOD_DEPARTMENT.MOD_EDIT_DEPARTMENT.DESCRIPTION_LABEL' | translate}} {{'MOD_COMMON.IS_REQUIRED_LABEL' | translate}}
          </span>
            </div>
      </div>

    <div class="modal-footer with-border">
      <button class="btn btn-outline-light" id="close-btn" mat-dialog-close>
        {{'MOD_DEPARTMENT.MOD_EDIT_DEPARTMENT.CANCEL_BUTTON_LABEL'| translate}}
      </button>
      <button (click)="onFormSubmit()" type="submit" [disabled]="cancellationForm.invalid"
              class="btn btn-primary save">
        {{'MOD_DEPARTMENT.MOD_EDIT_DEPARTMENT.EDIT_BUTTON_LABEL'| translate}}
      </button>
    </div>
  </form>
</div>
